<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ByenHwan">

<!-- 변환율관리 목록조회 -->
<select id="selectByenHwanList" resultType="Hmap" parameterType="ByenHwanVO">
/* byenHwan-mapper.xml selectByenHwanList 변환율관리 목록조회 */
SELECT A.MB_ID            /* 회원사ID                         VARCHAR2(20) */
     , A.SEQ              /* 일련번호(TBCN_BYENHWAN_RATE_SEQ) NUMBER(22)   */
     , A.COM_YM           /* 마감년월                         VARCHAR2(20) */
     , A.INSCO_CD         /* 원수사코드                       VARCHAR2(3)  */
     , B.INSCO_NM         /* 원수사명  */
     , A.PROD_KIND2       /* 상품구분2                        VARCHAR2(30) */
     , A.BYENHWAN_RATE    /* 변환율                           VARCHAR2(20) */
     , A.HWANSAN_COUNT    /* 환산회차                         VARCHAR2(20) */
     , A.USE_YN           /* 사용유무                         VARCHAR2(1)  */
     , A.IN_EMP_CD        /* 입력자사번                       VARCHAR2(20) */
     , A.IN_DTM           /* 입력일시                         DATE(7)      */
     , A.UP_EMP_CD        /* 수정자사번                       VARCHAR2(20) */
     , A.UP_DTM           /* 수정일시                         DATE(7)      */
  FROM TBCN_BYENHWAN_RATE A /* [CN][계약] 변환율관리 */
  LEFT OUTER JOIN TBCM_INSCO B    /* 원수사조회 */
    ON A.MB_ID = B.MB_ID
   AND A.INSCO_CD = B.INSCO_CD
 WHERE A.MB_ID = #{MB_ID}
<if test='@kr.co.fw.common.util.CommUtil@isNotEmpty(SRCH_INSCO_CD)'>
 	AND A.INSCO_CD = #{SRCH_INSCO_CD} /* 원수사 */
</if>
<if test='@kr.co.fw.common.util.CommUtil@isNotEmpty(SRCH_USE_YN)'>
    AND A.USE_YN = #{SRCH_USE_YN} /* 사용여부 */
</if>
<if test='@kr.co.fw.common.util.CommUtil@isNotEmpty(PROD_KIND2)'>
    AND A.PROD_KIND2 =#{PROD_KIND2} /* 상품구분*/
</if>
<if test='@kr.co.fw.common.util.CommUtil@isNotEmpty(COM_YM)'>
    AND A.COM_YM = #{COM_YM} /* 마감월 */
</if>
</select>

<!-- 상품구분2 조회 (dropDownList) -->
<select id="selectByenhwanProdKind2" resultType="Hmap" parameterType="ByenHwanVO">
/* byenHwan-mapper.xml selectByenhwanProdKind2 상품구분2 조회 (dropDownList) */
SELECT PROD_KIND2
     , PROD_KIND2 AS PROD_KIND2_NM
  FROM TBCN_PRODUCT_GROUP
 WHERE MB_ID = #{MB_ID} 
   AND USE_YN = 'Y'
</select>

<!-- 변환율관리 마감월 조회 (dropDownList) -->
<select id="selectByenhwanComYm" resultType="Hmap" parameterType="ByenHwanVO">
/* byenHwan-mapper.xml selectByenhwanComYm 변환율관리 마감월 조회 (dropDownList) */
SELECT COM_YM
     , SUBSTR(COM_YM, 1, 4)||'년'||SUBSTR(COM_YM, 5)||'월' AS COM_YM_NM
  FROM TBCN_BYENHWAN_RATE
 WHERE MB_ID = #{MB_ID}
 GROUP BY COM_YM
 ORDER BY COM_YM DESC
</select>

<!-- 하나의 변환율 조회 -->
<select id="selectByenHwan" resultType="Hmap" parameterType="ByenHwanVO">
/* byenHwan-mapper.xml selectByenHwan 변환율 조회 */
SELECT MB_ID            /* 회원사ID                         VARCHAR2(20) */
     , SEQ              /* 일련번호(TBCN_BYENHWAN_RATE_SEQ) NUMBER(22)   */
     , COM_YM           /* 마감년월                         VARCHAR2(20) */
     , INSCO_CD         /* 원수사코드                       VARCHAR2(3)  */
     , PROD_KIND2       /* 상품구분2                        VARCHAR2(30) */
     , BYENHWAN_RATE    /* 변환율                           VARCHAR2(20) */
     , HWANSAN_COUNT    /* 환산회차                         VARCHAR2(20) */
     , USE_YN           /* 사용유무                         VARCHAR2(1)  */
     , IN_EMP_CD        /* 입력자사번                       VARCHAR2(20) */
     , IN_DTM           /* 입력일시                         DATE(7)      */
     , UP_EMP_CD        /* 수정자사번                       VARCHAR2(20) */
     , UP_DTM           /* 수정일시                         DATE(7)      */
  FROM TBCN_BYENHWAN_RATE /* [CN][계약] 변환율관리 */
 WHERE MB_ID = #{MB_ID}
   AND SEQ = #{SEQ}
</select>

<!-- 변환율 등록 -->
<insert id="insertByenHwan" parameterType="ByenHwanVO">
/* byenHwan-mapper.xml insertByenHwan 변환율 등록 */
INSERT
  INTO TBCN_BYENHWAN_RATE /* [CN][계약] 변환율관리 */
     ( MB_ID            /* 회원사ID                         VARCHAR2(20) */
     , SEQ              /* 일련번호(TBCN_BYENHWAN_RATE_SEQ) NUMBER(22)   */
     , COM_YM           /* 마감년월                         VARCHAR2(20) */
     , INSCO_CD         /* 원수사코드                       VARCHAR2(3)  */
     , PROD_KIND2       /* 상품구분2                        VARCHAR2(30) */
     , BYENHWAN_RATE    /* 변환율                           VARCHAR2(20) */
     , HWANSAN_COUNT    /* 환산회차                         VARCHAR2(20) */
     , USE_YN           /* 사용유무                         VARCHAR2(1)  */
     , IN_EMP_CD        /* 입력자사번                       VARCHAR2(20) */
     , IN_DTM           /* 입력일시                         DATE(7)      */
     )
VALUES
     ( #{MB_ID        }   /* 회원사ID                         VARCHAR2(20) */
     , TBCN_BYENHWAN_RATE_SEQ.NEXTVAL   /* 일련번호(TBCN_BYENHWAN_RATE_SEQ) NUMBER(22)   */
     , #{COM_YM       }   /* 마감년월                         VARCHAR2(20) */
     , #{INSCO_CD     }   /* 원수사코드                       VARCHAR2(3)  */
     , #{PROD_KIND2   }   /* 상품구분2                        VARCHAR2(30) */
     , #{BYENHWAN_RATE}   /* 변환율                           VARCHAR2(20) */
     , #{HWANSAN_COUNT}   /* 환산회차                         VARCHAR2(20) */
     , #{USE_YN       }   /* 사용유무                         VARCHAR2(1)  */
     , #{IN_EMP_CD    }   /* 입력자사번                       VARCHAR2(20) */
     , SYSDATE            /* 입력일시                         DATE(7)      */
     )
</insert>

<!-- 변환율 수정 -->
<update id="updateByenHwan" parameterType="ByenHwanVO">
/* byenHwan-mapper.xml updateByenHwan 변환율 수정 */
UPDATE TBCN_BYENHWAN_RATE /* [CN][계약] 변환율관리 */
   SET COM_YM        = #{COM_YM       }    /* 마감년월                         VARCHAR2(20) */
     , INSCO_CD      = #{INSCO_CD     }    /* 원수사코드                       VARCHAR2(3)  */
     , PROD_KIND2    = #{PROD_KIND2   }    /* 상품구분2                        VARCHAR2(30) */
     , BYENHWAN_RATE = #{BYENHWAN_RATE}    /* 변환율                           VARCHAR2(20) */
     , HWANSAN_COUNT = #{HWANSAN_COUNT}    /* 환산회차                         VARCHAR2(20) */
     , USE_YN        = #{USE_YN       }    /* 사용유무                         VARCHAR2(1)  */
     , UP_EMP_CD     = #{UP_EMP_CD    }    /* 수정자사번                       VARCHAR2(20) */
     , UP_DTM        = SYSDATE             /* 수정일시                         DATE(7)      */
 WHERE MB_ID = #{MB_ID}
   AND SEQ = #{SEQ}
</update>

<!-- 변환율 삭제 -->
<delete id="deleteByenHwan" parameterType="ByenHwanVO">
/* byenHwan-mapper.xml deleteByenHwan 변환율 삭제 */
DELETE TBCN_BYENHWAN_RATE /* [CN][계약] 변환율관리 */
 WHERE MB_ID = #{MB_ID}
   AND SEQ = #{SEQ}
</delete>

<!-- 상품등록 -> 상품군2 change 이벤트 발생시 조회 -->
<select id="selectProductByenHwan" resultType="Hmap" parameterType="ByenHwanVO">
/* byenHwan-mapper.xml selectProductByenHwan 상품등록 -> 상품군2 change 이벤트 발생시 조회 */
SELECT MB_ID            /* 회원사ID                         VARCHAR2(20) */
     , SEQ              /* 일련번호(TBCN_BYENHWAN_RATE_SEQ) NUMBER(22)   */
     , COM_YM           /* 마감년월                         VARCHAR2(20) */
     , INSCO_CD         /* 원수사코드                       VARCHAR2(3)  */
     , PROD_KIND2       /* 상품구분2                        VARCHAR2(30) */
     , BYENHWAN_RATE    /* 변환율                           VARCHAR2(20) */
     , HWANSAN_COUNT    /* 환산회차                         VARCHAR2(20) */
     , USE_YN           /* 사용유무                         VARCHAR2(1)  */
     , IN_EMP_CD        /* 입력자사번                       VARCHAR2(20) */
     , IN_DTM           /* 입력일시                         DATE(7)      */
     , UP_EMP_CD        /* 수정자사번                       VARCHAR2(20) */
     , UP_DTM           /* 수정일시                         DATE(7)      */
  FROM TBCN_BYENHWAN_RATE /* [CN][계약] 변환율관리 */
 WHERE MB_ID = #{MB_ID}
   AND INSCO_CD = #{INSCO_CD}
   AND PROD_KIND2 = #{PROD_KIND2}
   AND COM_YM = (SELECT MAX(COM_YM) FROM TBCN_BYENHWAN_RATE WHERE MB_ID = #{MB_ID} AND INSCO_CD = #{INSCO_CD} AND PROD_KIND2 = #{PROD_KIND2})
</select>

</mapper>
