<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Product">

<!-- 상품관리 목록조회 -->
<select id="selectProductList" resultType="Hmap" parameterType="ProductVO">
/* product-mapper.xml selectProductList 상품관리 목록조회 */
SELECT A.MB_ID            /* 회원사ID                   VARCHAR2(20)  */
     , A.SEQ              /* 일련번호(TBCN_PRODUCT_SEQ) NUMBER(22)    */
     , A.INSCO_TYPE       /* 생손보구분                 VARCHAR2(1)   */
     , C.CD_VL_NM AS INSCO_TYPENM  /* 생손보구분명 */
     , A.INSCO_CD         /* 원수사코드                 VARCHAR2(3)   */
     , B.INSCO_NM         /* 원수사명 */
     , A.PROD_NM          /* 상품명                     VARCHAR2(100) */
     , A.PROD_FULL_NM     /* 상품설명(Full Name)        VARCHAR2(100) */
     , A.PROD_STRT_YMD    /* 판매시작일                 VARCHAR2(10)  */
     , A.PROD_END_YMD     /* 판매종료일                 VARCHAR2(10)  */
     , A.GUN_SEQ          /* 상품군 일련번호            NUMBER(22)    */
     , A.PROD_KIND2       /* 상품구분2                  VARCHAR2(20)  */
     , A.BYENHWAN_RATE    /* 변환율                     VARCHAR2(20)  */
     , A.HWANSAN_COUNT    /* 환산회차                   VARCHAR2(20)  */
     , A.USE_YN           /* 사용유무                   VARCHAR2(1)   */
     , A.IN_EMP_CD        /* 입력자사번                 VARCHAR2(20)  */
     , A.IN_DTM           /* 입력일시                   DATE(7)       */
     , A.UP_EMP_CD        /* 수정자사번                 VARCHAR2(20)  */
     , A.UP_DTM           /* 수정일시                   DATE(7)       */
  FROM TBCN_PRODUCT A /* [CN][계약] 상품관리 */
  LEFT OUTER JOIN TBCM_INSCO B    /* 원수사조회 */
    ON A.MB_ID = B.MB_ID
   AND A.INSCO_CD = B.INSCO_CD
 LEFT OUTER JOIN (SELECT * FROM TBCM_COMMON_CODE WHERE GRP_CMM_CD = 'INSCO_TYPE' ) C	/* 생손보구분코드 조회 */
   ON A.MB_ID  = C.MB_ID
  AND A.INSCO_TYPE = C.CD_VL
 WHERE A.MB_ID = #{MB_ID}
<if test='@kr.co.fw.common.util.CommUtil@isNotEmpty(INSCO_TYPE)'>
    AND A.INSCO_TYPE = #{INSCO_TYPE} /* 생손보여부 */
</if>
<if test='@kr.co.fw.common.util.CommUtil@isNotEmpty(SRCH_INSCO_CD)'>
    AND A.INSCO_CD = #{SRCH_INSCO_CD} /* 원수사 */
</if>
<if test='@kr.co.fw.common.util.CommUtil@isNotEmpty(PROD_KIND2)'>
    AND A.PROD_KIND2 = #{PROD_KIND2} /* 상품구분2 */
</if>
<if test='@kr.co.fw.common.util.CommUtil@isNotEmpty(SRCH_PROD_STRT_YMD)'>
    AND <![CDATA[ A.PROD_STRT_YMD >= #{SRCH_PROD_STRT_YMD} ]]> /* 판매시작일 */
</if>
<if test='@kr.co.fw.common.util.CommUtil@isNotEmpty(SRCH_PROD_END_YMD)'>
    AND <![CDATA[ A.PROD_END_YMD <= #{SRCH_PROD_END_YMD} ]]> /* 판매종료일 */
</if>
<if test='@kr.co.fw.common.util.CommUtil@isNotEmpty(SRCH_USE_YN)'>
    AND A.USE_YN = #{SRCH_USE_YN} /* 사용여부 */
</if>
<if test='@kr.co.fw.common.util.CommUtil@isNotEmpty(SRCH_PROD_WORD)'>
    AND (A.PROD_NM LIKE UPPER('%'||#{SRCH_PROD_WORD}||'%') 
    	 OR A.PROD_NM LIKE LOWER('%'||#{SRCH_PROD_WORD}||'%') 
    	 OR A.PROD_NM LIKE '%'||#{SRCH_PROD_WORD}||'%'		/* 상품명 */
    	 OR A.PROD_FULL_NM LIKE UPPER('%'||#{SRCH_PROD_WORD}||'%') 
    	 OR A.PROD_FULL_NM LIKE LOWER('%'||#{SRCH_PROD_WORD}||'%') 
    	 OR A.PROD_FULL_NM LIKE '%'||#{SRCH_PROD_WORD}||'%')  /* 상품설명 */
</if>
<if test='@kr.co.fw.common.util.CommUtil@isNotEmpty(SRCH_CONT_DATE)'>
    AND #{SRCH_CONT_DATE} BETWEEN A.PROD_STRT_YMD AND NVL(A.PROD_END_YMD, '9999-12-31') /* 계약등록-> 계약일에 따른 상품조회 */
</if>
ORDER BY A.IN_DTM, A.INSCO_CD, A.PROD_NM
</select>

<!-- 하나의 상품조회 -->
<select id="selectProduct" resultType="Hmap" parameterType="ProductVO">
/* product-mapper.xml selectProduct 상품 조회 */
SELECT MB_ID            /* 회원사ID                   VARCHAR2(20)  */
     , SEQ              /* 일련번호(TBCN_PRODUCT_SEQ) NUMBER(22)    */
     , INSCO_TYPE       /* 생손보구분                 VARCHAR2(1)   */
     , INSCO_CD         /* 원수사코드                 VARCHAR2(3)   */
     , PROD_NM          /* 상품명                     VARCHAR2(100) */
     , PROD_FULL_NM     /* 상품설명(Full Name)        VARCHAR2(100) */
     , PROD_STRT_YMD    /* 판매시작일                 VARCHAR2(10)  */
     , PROD_END_YMD     /* 판매종료일                 VARCHAR2(10)  */
     , GUN_SEQ          /* 상품군 일련번호            NUMBER(22)    */
     , PROD_KIND2       /* 상품구분2                  VARCHAR2(20)  */
     , BYENHWAN_RATE    /* 변환율                     VARCHAR2(20)  */
     , HWANSAN_COUNT    /* 환산회차                   VARCHAR2(20)  */
     , USE_YN           /* 사용유무                   VARCHAR2(1)   */
     , IN_EMP_CD        /* 입력자사번                 VARCHAR2(20)  */
     , IN_DTM           /* 입력일시                   DATE(7)       */
     , UP_EMP_CD        /* 수정자사번                 VARCHAR2(20)  */
     , UP_DTM           /* 수정일시                   DATE(7)       */
  FROM TBCN_PRODUCT /* [CN][계약] 상품관리 */
 WHERE MB_ID = #{MB_ID}
   AND SEQ = #{SEQ}
</select>

<!-- 상품 등록 -->
<insert id="insertProduct" parameterType="ProductVO">
/* product-mapper.xml insertProduct 상품 등록 */
INSERT
  INTO TBCN_PRODUCT /* [CN][계약] 상품관리 */
     ( MB_ID            /* 회원사ID                   VARCHAR2(20)  */
     , SEQ              /* 일련번호(TBCN_PRODUCT_SEQ) NUMBER(22)    */
     , INSCO_TYPE       /* 생손보구분                 VARCHAR2(1)   */
     , INSCO_CD         /* 원수사코드                 VARCHAR2(3)   */
     , PROD_NM          /* 상품명                     VARCHAR2(100) */
     , PROD_FULL_NM     /* 상품설명(Full Name)        VARCHAR2(100) */
     , PROD_STRT_YMD    /* 판매시작일                 VARCHAR2(10)  */
     , PROD_END_YMD     /* 판매종료일                 VARCHAR2(10)  */
     , GUN_SEQ          /* 상품군 일련번호            NUMBER(22)    */
     , PROD_KIND2       /* 상품구분2                  VARCHAR2(20)  */
     , BYENHWAN_RATE    /* 변환율                     VARCHAR2(20)  */
     , HWANSAN_COUNT    /* 환산회차                   VARCHAR2(20)  */
     , USE_YN           /* 사용유무                   VARCHAR2(1)   */
     , IN_EMP_CD        /* 입력자사번                 VARCHAR2(20)  */
     , IN_DTM           /* 입력일시                   DATE(7)       */
     )
 SELECT #{MB_ID       }   /* 회원사ID                   VARCHAR2(20)  */
     , TBCN_PRODUCT_SEQ.NEXTVAL  /* 일련번호(TBCN_PRODUCT_SEQ) NUMBER(22)    */
     , INSCO_TYPE		  /* 생손보구분                 VARCHAR2(1)   */
     , #{INSCO_CD     }   /* 원수사코드                 VARCHAR2(3)   */
     , #{PROD_NM      }   /* 상품명                     VARCHAR2(100) */
     , #{PROD_FULL_NM }   /* 상품설명(Full Name)        VARCHAR2(100) */
     , #{PROD_STRT_YMD}   /* 판매시작일                 VARCHAR2(10)  */
     , #{PROD_END_YMD }   /* 판매종료일                 VARCHAR2(10)  */
     , #{GUN_SEQ      }   /* 상품군 일련번호            NUMBER(22)    */
     , #{PROD_KIND2   }   /* 상품구분2                  VARCHAR2(20)  */
     , #{BYENHWAN_RATE}   /* 변환율                     VARCHAR2(20)  */
     , #{HWANSAN_COUNT}   /* 환산회차                   VARCHAR2(20)  */
     , #{USE_YN       }   /* 사용유무                   VARCHAR2(1)   */
     , #{IN_EMP_CD    }   /* 입력자사번                 VARCHAR2(20)  */
     , SYSDATE            /* 입력일시                   DATE(7)       */
  FROM TBCM_INSCO
 WHERE MB_ID = #{MB_ID }
   AND INSCO_CD = #{INSCO_CD }
</insert>

<!-- 상품 수정 -->
<update id="updateProduct" parameterType="ProductVO">
/* product-mapper.xml updateProduct 상품 수정 */
UPDATE TBCN_PRODUCT /* [CN][계약] 상품관리 */
   SET INSCO_TYPE    = (SELECT INSCO_TYPE FROM TBCM_INSCO WHERE MB_ID = #{MB_ID } AND INSCO_CD = #{INSCO_CD })    /* 생손보구분                 VARCHAR2(1)   */
     , INSCO_CD      = #{INSCO_CD     }    /* 원수사코드                 VARCHAR2(3)   */
     , PROD_NM       = #{PROD_NM      }    /* 상품명                     VARCHAR2(100) */
     , PROD_FULL_NM  = #{PROD_FULL_NM }    /* 상품설명(Full Name)        VARCHAR2(100) */
     , PROD_STRT_YMD = #{PROD_STRT_YMD}    /* 판매시작일                 VARCHAR2(10)  */
     , PROD_END_YMD  = #{PROD_END_YMD }    /* 판매종료일                 VARCHAR2(10)  */
     , GUN_SEQ       = #{GUN_SEQ      }    /* 상품군 일련번호            NUMBER(22)    */
     , PROD_KIND2    = #{PROD_KIND2   }    /* 상품구분2                  VARCHAR2(20)  */
     , BYENHWAN_RATE = #{BYENHWAN_RATE}    /* 변환율                     VARCHAR2(20)  */
     , HWANSAN_COUNT = #{HWANSAN_COUNT}    /* 환산회차                   VARCHAR2(20)  */
     , USE_YN        = #{USE_YN       }    /* 사용유무                   VARCHAR2(1)   */
     , UP_EMP_CD     = #{UP_EMP_CD    }    /* 수정자사번                 VARCHAR2(20)  */
     , UP_DTM        = SYSDATE             /* 수정일시                   DATE(7)       */
 WHERE MB_ID = #{MB_ID}
   AND SEQ = #{SEQ}
</update>

<!-- 상품 삭제 -->
<delete id="deleteProduct" parameterType="ProductVO">
/* product-mapper.xml deleteProduct 상품 삭제 */
DELETE TBCN_PRODUCT /* [CN][계약] 상품관리 */
 WHERE MB_ID = #{MB_ID}
   AND SEQ = #{SEQ}
</delete>

<!-- 상품 판매적용일 적용(수정) -->
<update id="updateProductEndDate" parameterType="ProductVO">
/* product-mapper.xml updateProductEndDate 상품 판매적용일 적용(수정) */
UPDATE TBCN_PRODUCT /* [CN][계약] 상품관리 */
   SET PROD_END_YMD  = #{PROD_END_YMD }    /* 판매종료일                 VARCHAR2(10)  */
     , UP_EMP_CD     = #{UP_EMP_CD    }    /* 수정자사번                 VARCHAR2(20)  */
     , UP_DTM        = SYSDATE             /* 수정일시                   DATE(7)       */
 WHERE MB_ID = #{MB_ID}
   AND SEQ = #{SEQ}
</update>

</mapper>
