@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

@font-face {
 font-family: 'Noto Sans KR ie';
 src: url(./NotoSansKR-Regular.eot);
 src: url(./NotoSansKR-Regular.eot#iefix) format('embedded-opentype'),
      url(./NotoSansKR-Regular.otf) format('truetype');
}
@font-face { font-family: 'S-CoreDream-4Regular'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff'); font-weight: normal; font-style: normal; }
/*===========================================================================
	RESET
============================================================================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button, input, br {margin:0;padding:0;border:0;box-sizing:border-box; color:#444; line-height:1.2; letter-spacing:-0.36px;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block}
a {display: inline-block;text-decoration:none;color:inherit;}
a:link, a:visited {text-decoration:none;}
a:hover, a:active {text-decoration:none;}
img {border:none;vertical-align:middle;}
ol, ul, li {list-style:none;}
i, em {font-style: normal;}
table {border-collapse: collapse;border-spacing: 0;width: 100%;}
table *{font-weight: normal;}
fieldset {border:none;}
legend{width:1px;height:1px;overflow:hidden;visibility:hidden;line-height:0;font-size:0;position:absolute; left:-999px;}
button, input[type="button"]{padding:0;margin:0;border:none;vertical-align:middle;cursor:pointer;background:transparent;}
input{margin:0;padding:0;border:0;}
input[type=text]::-ms-clear {display:none;}
input[type=password]::-ms-clear {display:none;}
textarea {resize:none;}
input, select, button, textarea{outline: none; -moz-appearance: none; -webkit-appearance: none;}
button:focus{outline:0;}
input[type="text"], input[type="password"], input[type="number"], textarea {padding:14px;}
input[type="text"], input[type="password"], textarea {height:50px; border-radius:5px; background-color:#fff; border: 1px solid #EAEBEF;}
input::placeholder, textarea::placeholder {color:#EAEBEF; font-size: 15px;}
/*input[type="checkbox"] {display:none;}*/
input:read-only{background:#eee;}
/*reset end*/

/*font_size & color & family*/
*{font-family:"Noto Sans KR", "Noto Sans KR ie";font-size:15px;box-sizing:border-box;color:#5F6164; word-break: keep-all;}
.point_color{color:#038FED !important;}
.grey_color{color:#EAEBEF !important;}
.grey2_color{color:#C5C8CB !important;}
.grey3_color{color:#90949A;}
.grey4_color{color:#5F6164 !important;}
.white_color {color: #fff !important;}
.point_bg {background: #038FED;}
.grey_bg{background:#F8F8FA !important;}


.bold {font-weight: bold;}
.title {font-size: 16px; margin-bottom: 10px; }
.font_20 {font-size: 20px;}
.font_16 {font-size: 16px;}
.font_14{font-size:14px;}

/*margon,padding*/
.mb10{margin-bottom:10px;}
.ml30{margin-left:30px;}

/*btn*/
.submit_btn {width: 100%; padding: 18px 0; -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; font-size: 18px; background: #DFE9F0; border: 1px solid #DFE9F0;	color: #fff;}
.submit_btn.on {background: #038FED; border: 1px solid #038FED;}

/*common class*/
.has_right_border{margin-right:10px;position:relative;}
.has_right_border:after{content:"";display:inline-block;position:absolute;right:-6px;top:50%;transform:translateY(-50%);width:1px;height:12px;background:#C5C8CB;}
.clearfix:after, .clearfix2:after{content:''; display:block; clear:both;}
.clearfix>*{float:left;}
.clearfix2>*:first-child{float:left;}
.clearfix2>*:nth-child(2){float:right;}
.ellipsis{width:100%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.ellipsis2{overflow: hidden; text-overflow: ellipsis; word-wrap: break-word; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; }
.centerT {text-align: center;}
.rigthT {text-align: right;}
.leftT {text-align: left;}
.floatL{float:left;}
.floatR{float:right;}
.tr_left th,.tr_left td{text-align:left;}
.img_box{overflow:hidden;position:relative;width:50px;height:50px;border-radius:50%;}
.img_box img{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);}
/*nav 켜졌을 때 스크롤막는 class*/
.not_scroll{position: fixed;overflow: hidden;width: 100%;height: 100%}
.not_scroll section {position: relative;top: 0;}

/*layout*/
.container{width:calc(100% - 30px);margin:0 auto;}
.form_page {height: 100vh; max-width: 450px; margin: auto; position: relative;}
.form_page form {position: absolute; top: 48%; left: 50%; transform: translate(-50%,-50%); width:calc(100% - 30px);}
.form_page.login .logo {margin-bottom: 56px;}
.form_page .title {font-size: 20px; padding: 32px 0 39px; text-align: center; font-weight: normal;}
.form_page .logo {text-align: center; }
.form_page .logo img{width: 93px;  }
.form_page li {padding-bottom: 10px;}
.form_page .btn_wrap {margin:20px 0 30px; }
.form_page input[type='text'], .form_page input[type='password'] {width: 100%; }

/*header*/
header{width:100%;height:60px;background:#fff;position:fixed; top: 0; left: 0; z-index: 99;}
.header_title{font-size:17px;text-align:center;line-height:60px;}
header .menu_wrap{position:absolute;width:54px;height:100%;left:0px;top:50%;transform:translateY(-50%);}
header .back_wrap{position:absolute;width:42px;height:100%;left:0px;top:50%;transform:translateY(-50%);}
header .menu_wrap a, header .back_wrap a{/* width:50%; */height:100%;padding:20px 15px;}
header .menu_wrap img, header .back_wrap img{width:100%;}
.nav{width:100%;height:100%;position:fixed;top:0;left:0;display:none;}
.nav .dim{position:fixed;background: rgba(0,0,0,0.7);width:100%;height:100%;top:0;left:0;}
.nav .close_btn{position:absolute;width:20px;top:20px;left: 277px;display:none;}
.nav .close_btn img{width:100%;}
.nav .nav_inner{position:fixed;top:0;left:-100%;width:265px;height:100%;background:#fff;z-index:999;overflow-x:hidden;overflow-y: scroll;}
.nav .member_img{width:100%;padding:20px 15px;background:#F8F8FA;}
.nav .member_img .img_box{margin-right:10px;}
.nav .member_img .name{padding:5px 0;}
.nav .member_img .name p:last-child{color:#90949A;margin-top:2px;}
.nav .nav_list li{width:100%;}
.nav .nav_list li a{width:100%;height:100%;border-bottom:1px solid #EAEBEF;padding:16px 20px 16px 52px;background:url('../../img/icons/nav_icon1.png')no-repeat left;background-size: 20px;background-position-x:15px;}
.nav .nav_list li:nth-child(2) a{background:url('../../img/icons/nav_icon2.png')no-repeat left;background-size: 20px;background-position-x:15px;}
.nav .nav_list li:nth-child(3) a{background:url('../../img/icons/nav_icon3.png')no-repeat left;background-size: 20px;background-position-x:15px;}
.nav .nav_list li:nth-child(4) a{background:url('../../img/icons/nav_icon4.png')no-repeat left;background-size: 20px;background-position-x:15px;}
.nav .nav_list li:nth-child(5) a{background:url('../../img/icons/nav_icon5.png')no-repeat left;background-size: 20px;background-position-x:15px;}
.nav .nav_list li:nth-child(6) a{background:url('../../img/icons/nav_icon6.png')no-repeat left;background-size: 15px;background-position-x:17px;}
.nav .nav_list li:nth-child(7) a{background:url('../../img/icons/nav_icon7.png')no-repeat left;background-size: 20px;background-position-x:15px;}
.nav .nav_list li:nth-child(8) a{background:url('../../img/icons/nav_icon8.png')no-repeat left;background-size: 20px;background-position-x:15px;}
.nav .nav_list li:nth-child(9) a{background:url('../../img/icons/nav_icon9.png')no-repeat left;background-size: 20px;background-position-x:15px;}
.nav .nav_list li:nth-child(10) a{background:url('../../img/icons/nav_icon10.png')no-repeat left;background-size: 20px;background-position-x:15px;}
.nav .nav_list li:nth-child(11) a{background:url('../../img/icons/nav_icon11.png')no-repeat left;background-size: 20px;background-position-x:15px;}
.nav .nav_list li a span{position:relative;color:#fff;background:#038FED;font-size:12px;padding:2px 16px 2px 6px;border-radius:20px;width:auto;display:inline-block;margin-left:6px;}
.nav .nav_list li a span:after{content:'+';position:absolute;color:#fff;font-size:12px;width:6px;height:6px;right:6px;}
.nav .nav_list li a img{width:8px; margin-top: 2px;}
.nav .bottom_wrap{position:absolute;bottom:0;left:0;width:100%;padding-top:28px;}
.nav .address{padding-left:15px;}
.nav .address li{color:#C5C8CB;font-size:12px;margin-bottom:2px;}
.nav .btn_wrap {width: 100%;border-top:1px solid #EAEBEF;background:#FDFDFD;margin-top:28px;}
.nav .btn_wrap li{width:50%;height:52px;border-right:1px solid #EAEBEF;}
.nav .btn_wrap li:last-child{border-right:none;}
.nav .btn_wrap li a{width: 100%;line-height:52px;font-size:13px;text-align:center;}
.nav .btn_wrap li a img{width:13px;margin-right:10px;}

/*popup*/
.pop_wrap{z-index:999;position:fixed;top:0;left:0;width:100%;height:100%;display:none;}
.pop_dim{position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.7);}
.pop_cont{max-width: 400px; padding:21px; background:#fff;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%); width:calc(100% - 65px); text-align: center; -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
.pop_close_btn {color: #038FED; font-size: 16px; padding: 20px 40px;}
.pop_cont p {margin: 35px 0 17px;}
.pop_cont .text2 {margin: 35px 0 29px; line-height: 1.3;}

@media screen and (max-width: 359px){
	.form_page form {top: 54%;}
	.investigation li a .img_box {min-width: 90px !important; min-height: 90px !important;}
	.password {margin-bottom: 8vh !important;}
}