/*잠금비밀번호 입력*/
.password_enter {background: #038FED; height: 100vh; position: relative;}
.password_enter_wrap {position: absolute; top: 53%; left: 50%; transform: translate(-50%, -50%); width: 100%;}
.numpad_wrap {max-width: 450px; margin: auto; }
.numpad{width: 100%;  margin-top:50px;  font-size: 30px; }
.password_enter .notice{ text-align: center; margin-bottom: 6vh; }
.password_enter .notice p { color: #fff; letter-spacing: 0.5px;}
.password_enter .notice p:first-child{font-size: 24px; margin-bottom: 15px; }
.password{position: relative; margin-bottom:16vh; text-align: center;}
.bleep { position: relative;  display:inline-block;  width: 17px;  height: 17px;  margin-right: 15px;  background:transparent;  border: 1px solid #fff; border-radius: 50%;}
.bleep:last-child {margin-right: 0;}
.bleep label {  width: 100%;  height: 100%;  cursor: pointer;  position: absolute;  left: 0;  top: 0;}
.bleep label:after { content: '';  width: 100%;  height: 100%;  position: absolute;  top: -1px;  left: -1px;  opacity: 0;  border-radius: 50%; background: #fff; border: 1px solid #fff;}
.bleep input[type=checkbox] { visibility: hidden;}
.bleep input[type=checkbox]:checked + label:after { opacity: 1;}
.num{position: relative; width: 100%; left: 50%;transform: translate(-50%); }
.button{ position: relative;  float: left; width: 33.333%; color: #fff; font-size: 30px; text-align: center; line-height: 11vh;  cursor: pointer; font-family: 'S-CoreDream-4Regular';}
#button_c {height: 11vh; background:url(../../img/icons/num_arrow.png) center no-repeat; -webkit-background-size: 25px;background-size: 25px;}
.find_btn {width:auto; display: inline-block; padding: 20px; margin-bottom: 20px;}
#op {visibility: hidden;}

/*메인*/
.index_header {width: 100%; background: #fff; height: 60px; margin-bottom: 30px; text-align: center; padding: 13px 0;}
.index_header img {width: 138px;}
.index ul li {width: calc(50% - 5px); height: 110px; float: left; margin-right: 10px; border: 1px solid #EAEBEF; background: #FDFDFD; -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; margin-bottom: 10px; text-align: center; }
.index ul li a {width: 100%; height: 100%; padding-top: 25px;position:relative;}
.index ul li:nth-child(2n) {margin-right: 0;}
.index ul li:nth-child(9) a img, .index ul li:nth-child(10) a img{position:absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);width:35px;}
.index ul li img {width: 30px; margin-bottom: 13px;}
.index ul li p {font-size: 16px; color: #90949A; }
/*search*/
.search_bar {position: fixed; top: 60px; left: 0; width: 100%; padding: 10px 15px; z-index: 9;}
.search_bar .search {padding: 12.5px 13px; width: 100%; height: 45px; -webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px; }
.search_bar .search::placeholder {color: #90949A;}
.search_bar .search_icon {width: 40px; height: 40px; position: absolute; top: 12.5px; right: 17px; background:url(../../img/icons/search_icon.png) center no-repeat; -webkit-background-size: 20px;background-size: 20px;}

/*list*/
.name_wrap .left * {display: inline-block; color: #5F6164; font-size: 14px;}
.name_wrap .date {color: #C5C8CB; font-size: 14px;}
.list_wrap {padding: 60px 0 30px; background: #F8F8FA;}
.list_wrap .list:first-child {margin: 65px auto 31px; padding-top: 20px;}
.list{width: calc(100% - 30px); margin: 0 auto 31px; }
.list>li{width: 100%; height: 80px; background: #fff; margin-bottom: 10px; -webkit-border-radius: 7px;-moz-border-radius: 7px;border-radius: 7px; box-shadow:0 0 5px #eaebef;}
.list>li>a {width: 100%; height: 100%; padding: 16px 17px; }
.list>li .title_wrap.new .title {width: max-content;max-width: 87%;}
.list>li .title_wrap .new_icon {float: left; width: 20px; margin-left: 5px;}
.more {position: relative; color: #90949A; font-size: 16px; letter-spacing: 0.5px; cursor: pointer; text-align: center; margin-bottom: 10px; padding: 20px 25px 20px 20px;}
.more:after {position: absolute; content:''; background:url(../../img/icons/bottom_arrow.png) center no-repeat; width: 11px; height: 7px; -webkit-background-size: contain;background-size: contain; top: 50%; margin-left: 5px; transform: translateY(-50%);} 
.member .list .img_box {margin-right: 20px; float: left; }
.member .list .img_box img {width: 100%;}
.member_info {width: calc(100% - 70px); float: left; margin-top: 5px;}
.member_info p:first-child {font-size: 16px;}
.member_info p:last-child {font-size: 14px; color: #5F6164; margin-top: 6px;}

/*게시판상세, 자료실상세*/
/*상세페이지 공통*/
.detail{margin-top:60px;}
.detail_title_wrap{padding:21px 15px 16px;border-bottom:1px solid #EAEBEF;}
.top_title{font-size:17px;line-height:1.5;margin-bottom:10px;}
.file_down{margin:16px 0 20px;}
.file_down li{padding-bottom:15px;}
.file_down li:last-child{padding-bottom:0px;}
.file_down li img{width:16px;margin-right:8px;}
.file_down li a{position:relative;color:#90949A;font-size:14px;padding:0 5px 2px 0;}
.file_down li a:after{position:absolute;content:'';width:calc(100% - 24px);height:1px;background:#90949A;bottom:0;left:24px;}
.detail .text_wrap {padding-bottom:40px;}
.detail .text_wrap p{font-size:16px;line-height:1.8;padding-top:20px;white-space:pre-line;}
.detail .text_wrap img{max-width:100%;margin:20px auto 0;display: block;}
.detail_top{width:100%;background:#F8F8FA;font-size:16px;text-align:center;padding:13px 0;border-top:1px solid #EAEBEF;border-bottom:1px solid #EAEBEF;}

/*계약상세, 고객상세, 인사관리상세*/
.contract_table{margin-bottom:56px;}
.contract_table thead tr{background:#F8F8FA;height:50px;border-top:1px solid #EAEBEF;border-bottom:1px solid #EAEBEF;}
.contract_table thead tr *{color:#90949A;}
.contract_table th{font-size:14px;padding:10px 15px;color:#C5C8CB;}
.contract_table td{padding:10px 15px 10px 0px;}
.contract_table tbody tr:first-child th{padding:20px 15px 10px;}
.contract_table tbody tr:first-child td{padding:20px 15px 10px 0px;}
.contract_detail > ul.contract_list:nth-child(2){border-top:5px solid #EAEBEF;}
.contract_list{border-bottom:5px solid #EAEBEF;padding:0 15px;}
.contract_list > li > div{height:45px;}
.contract_list > li > div p{line-height:45px;}
.contract_detail .contract_list .list_box{border-top:1px solid #EAEBEF;}
.contract_list .list_box li{width:25%;height:62px;}
.contract_list .list_box li a{position:relative;width:100%;height:100%;line-height:62px;text-align:center;}
.contract_list .list_box li a:after{position:absolute;content:'';width:1px;height:25px;background:#EAEBEF;right:0;top:50%;transform:translateY(-50%);}
.contract_list .list_box li:last-child a:after{display:none;}
.contract_list .list_box li a img{width:26px;}
.member_detail .contract_table tr{border-bottom: 1px dashed #F6F6F6;}
.member_detail .contract_table tr:last-child{border-bottom:none;}
.contract_table.table2 {margin-bottom: 0px;}
.contract_table.table2 th,.contract_table.table2 td{padding:17px 0px 17px 0px;}
.contract_table.table2 tbody tr:first-child th, .contract_table.table2 tbody tr:first-child td{padding:23px 0px 17px;}
.contract_table.table2 .address_wrap p{line-height:1.5;white-space:pre-line;}
.contract_table.table2 .address_wrap .address_en{font-size:14px;color:#90949A;margin-top:10px;}
.contract_table.table2 .card_info span{margin-left:3%;color:#90949A;}

/*일정관리*/
#calendar {width:100%;}
.fc-toolbar {display: block;position: relative;padding-top: 33px;margin-bottom:60px !important;}
.fc-toolbar h2 {font-size: 19px;margin:0 auto;text-align: center;font-weight: 500;}
.fc-today-button{position: absolute;top: 55px;left: 50%;transform: translateX(-50%);font-size: 14px;}
.fc-button-group {position: unset;}
.fc-button-group>.fc-button{position: absolute !important;padding:6px;}
.fc-button-primary {color:#038FED;background-color: transparent;border-color: transparent;}
.fc-button-primary:disabled {color:#038FED;background-color: transparent;border-color: transparent;}
.fc-button-primary:hover {background-color: transparent;border-color: transparent;}
.fc-button:disabled {opacity:1;}
.fc-prev-button{left:0;top: 23px;}
.fc-next-button{right:0;top: 23px;}
.fc-button .fc-icon {font-size: 29px;color: #90949A;}
.fc-dayGrid-view .fc-body .fc-row {height: 100px !important;}
.fc-day-grid-container {height: auto !important; }
.fc-unthemed thead{border-top: 0 hidden transparent;border-left: 0 hidden transparent;border-right: 0 hidden transparent;}
.fc-unthemed th{border-right: 0 hidden transparent;}
.fc-unthemed thead th span{font-size:14px;padding-bottom:13px;color:#C5C8CB;display:block;}
.fc-unthemed tbody{border-bottom: 0 hidden transparent;}
.fc-unthemed td{border-left: 0 hidden transparent;border-right: 0 hidden transparent;}
.fc-day-number{font-size:16px;}
.fc-ltr .fc-dayGrid-view .fc-day-top .fc-day-number {float: none;}
.fc .fc-row .fc-content-skeleton td{text-align:center;padding-top:13px;}
.fc-unthemed td.fc-today {background: transparent;}
.fc-unthemed td.fc-today .fc-day-number{color:#038FED;font-weight:bold;}
.fc-day-grid-event {padding: 1px 1px;}
.fc-event {font-size:12px;border-radius: 29px;color:#fff;}
.fc-event .fc-title{color:#fff;}
.fc-day-grid-event .fc-title{width:80%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;margin:0 auto;display:block;}
/*일정팝업*/
.schedule_pop .pop_cont{width: calc(100% - 30px);padding:0px;}
.schedule_pop .pop_close{position:absolute;width:20px;height:20px;right:0;top:-32px;}
.schedule_pop .pop_close img{width:100%;}
.schedule_pop .title_wrap{font-size:17px;color:#fff;text-align:center;padding:16px 0;background:#B4AAEC;border-top-left-radius:5px;border-top-right-radius:5px;}
.schedule_pop .text_wrap{text-align: left;padding:25px;background:#fff;border-bottom-left-radius:5px;border-bottom-right-radius:5px;}
.schedule_pop .text_wrap p{margin:0;line-height:1.7;white-space: pre-line;}

/*업적관리*/
.date_bar {position: fixed; width: 100%; top: 125px; left: 0; padding: 15px; background: #fff; z-index: 9;border-bottom: 1px solid #EAEBEF;}
.date_bar div {width: calc(100% - 68px); margin-right: 8px; position: relative;}
.date_bar div:after {content:'~'; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);}
.date_bar div input[type="date"]{display:block;width: 48%; -webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px; border: 1px solid #EAEBEF; height: 42px; padding: 9px 0px; padding-left:4px;font-size: 14px;}
.date_bar div input::-webkit-calendar-picker-indicator{background: #fff url(../../img/icons/calendar.png) right 5px center no-repeat; -webkit-background-size: 16px;}

.date_bar button {width: 60px; height: 40px; background: #484848; color: #fff; font-size: 14px;  -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; }
.detail .date_bar {padding: 10px 15px;}
.achievement.list_wrap .list:first-child {margin: 135px auto 31px;}
.achievement.list_wrap .list>li .title_wrap div:first-child {margin-right: 15px; margin-bottom: 11px;}
.achievement.list_wrap .list>li .title_wrap div:first-child p{width: auto; font-size: 16px; margin-right: 0; float: left; max-width: 150px;}
.achievement.list_wrap .list>li .title_wrap div:first-child p:after {right: -10px;}
.achievement.list_wrap .list>li .title_wrap div * {display: inline-block;  font-size: 14px;}
.achievement.list_wrap .list li .bottom p{font-size: 13px;}
.achievement.list_wrap .list li .right * {display: inline-block; }
.achievement.list_wrap .list li .right p:first-child {margin-right: 10px;}
/*업적관리 상세*/
.detail .date_bar{top: 60px;border-bottom:none;background:#EAEBEF;}
.achievement.detail ul {margin-top: 122px;}
.achievement.detail ul li {padding: 16px 15px; background: #fff; border-bottom: 3px solid #EAEBEF;}
.achievement.detail ul li:first-child {background: #038FED;  padding: 10px 15px; border-bottom: none;}
.achievement.detail ul li:first-child .top p {margin-bottom: 5px; color: #fff; font-size: 16px;}
.achievement.detail ul li .top p {margin-bottom: 9px; font-size: 16px;}
.achievement.detail ul li .top>div {margin-bottom: 5px;}
.achievement.detail ul li .bottom p{font-size: 13px !important; color: #90949A;}
.achievement.detail ul li:first-child .bottom p{color: #EAEBEF;}
.achievement.detail ul li .top .right {margin-left: 15px;}
.achievement.detail ul li .right * {display: inline-block; font-size: 14px !important; color: #5F6165;}
.achievement.detail ul li .right p:first-child {margin-right: 10px;}
.achievement.detail ul li .right .has_right_border:after{background: #EAEBEF;}

/*인사관리*/
.personnel_list {width: calc(100% - 30px); margin: 122px auto 0; padding: 21px 0;}
.personnel_list a span {font-size: 14px; color: #C5C8CB; padding-left: 2px;}
.personnel_list ul {margin-left: 29px; margin-top: 17px;}
.personnel_list ul li{margin-bottom: 17px;}
.personnel_list ul li a.solo:before {content:''; position: absolute; left: -22px; top: 50%; transform: translateY(-50%); width: 7px; height: 1px; background: #484848; }
.personnel_list ul li a.solo {width: max-content; font-size: 16px; position: relative; padding-right: 29px; background:url('../../img/icons/solo.png')left top 4px no-repeat;background-size:12px; padding-left: 17px; margin-left: 30px;}
.personnel_list ul li a.solo:after {content:''; position: absolute; width: 7px; height: 13px; top: 50%; right: 16px; transform: translateY(-50%);  background:url(../../img/icons/tree_arrow.png) right no-repeat; background-size:contain;}
.personnel_list input[type="checkbox"]~ul {display:none;}
.personnel_list input[type="checkbox"]:checked ~ul {display: block;}
.personnel_list input[type="checkbox"]{position:absolute; left:0; top:0;display:none;}
.personnel_list input[type="checkbox"] + label{width:17px;height:17px; cursor:pointer; padding-left: 29px; background:url('../../img/icons/tree_more.png')no-repeat;background-size:contain;  }
.personnel_list input[type="checkbox"] + label a {width: max-content; font-size: 16px; position: relative; padding-right: 29px; background:url('../../img/icons/group.png')left top 4px no-repeat;background-size:22px; padding-left: 27px; } 
.personnel_list input[type="checkbox"] + label a:after {content:''; position: absolute; width: 7px; height: 13px; top: 50%; right: 16px; transform: translateY(-50%);  background:url(../../img/icons/tree_arrow.png) right no-repeat; background-size:contain;}
.personnel_list input[type="checkbox"]:checked + label{background:url('../../img/icons/tree.png')no-repeat;background-size:contain;}

/*원수사*/
.investigation {padding-top: 80px;}
.investigation li {width: calc(33.333% - 6.666px); float: left; margin-bottom: 36px; margin-right: 10px;}
.investigation li a {width: 100%;}
.investigation li:nth-child(3n) {margin-right: 0;}
.investigation li a .img_box {min-width: 100px; min-height: 100px;  margin: 0 auto; border: 1px solid #EAEBEF; margin-bottom: 8px; padding: 18px;}
.investigation li a .img_box img {width: 73%;}

/*헬프데스크*/
.help.list_wrap .list:first-child {margin: 118px auto 31px;} 
.tab_menu {width: 100%; position: fixed; top: 125px; left: 0; background: #fff; border-bottom: 1px solid #EAEBEF; z-index: 9;}
.tab_menu ul{white-space: nowrap; padding: 0 15px;}
.tab_menu li{float: left; width: max-content; margin-right: 11px; color: #90949A;}
.tab_menu li a {font-size: 16px; padding: 15px 0 16px; }
.tab_menu li.on {border-bottom: 2px solid #038FED; color: #038FED; }
.tab_menu li:last-child {margin-right: 0;}
.help.list_wrap .list .name_wrap {width: 75%; border-right: 1px solid #EAEBEF; padding: 16px 17px;}
.help.list_wrap .list .name_wrap>p {margin-bottom: 8px; font-size: 16px; }
.help.list_wrap .list .help_box {width: 25%; text-align: center; padding: 20px 0 5px; cursor: pointer;}
.help.list_wrap .list .help_box img {width: 37px; }