<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="EmpFamily">

<!-- 가족사항관리 목록조회 -->
<select id="selectEmpFamilyList" resultType="Hmap" parameterType="EmpFamilyVO">
/* empFamily-mapper.xml selectEmpFamilyList 가족사항관리 목록조회 */
SELECT A.MB_ID                 /* 회원사ID                     VARCHAR2(20)  */
     , A.TBIN_EMPFAMILY_SEQ    /* 일련번호(TBIN_EMPFAMILY_SEQ) NUMBER(22)    */
     , A.EMP_CD                /* 사원번호                     VARCHAR2(10)  */
     , B.EMP_NM                /* 사원명 */
     , B.SCD                   /* 조직코드 */
     , A.RELATION              /* 관계                         VARCHAR2(20)  */
     , A.FNAME                 /* 가족명                       VARCHAR2(20)  */
     , A.FBIRTH                /* 생년월일                     VARCHAR2(10)  */
     , A.FGENDER               /* 성별(GRP_CMM_CD = GENDER)    VARCHAR2(3)   */
     , A.JOB                   /* 직장명(직업)                 VARCHAR2(30)  */
     , A.DONG                  /* 동거여부(GRP_CMM_CD = DONG)  VARCHAR2(20)  */
     , A.BIGO                  /* 비고                         VARCHAR2(200) */
     , A.IN_EMP_CD             /* 입력자사번                   VARCHAR2(20)  */
     , TO_CHAR(A.IN_DTM, 'YYYY-MM-DD') AS IN_DTM                /* 입력일시                     DATE(7)       */
     , A.UP_EMP_CD             /* 수정자사번                   VARCHAR2(20)  */
     , TO_CHAR(A.UP_DTM, 'YYYY-MM-DD') AS UP_DTM                /* 수정일시                     DATE(7)       */
  FROM TBIN_EMPFAMILY A /* [IN][인사] 가족사항관리 */
  LEFT OUTER JOIN TBIN_EMPMST B	/* 사원조회 */
    ON A.MB_ID = B.MB_ID
   AND A.EMP_CD = B.EMP_CD
 WHERE A.MB_ID = #{MB_ID}
<if test='@kr.co.fw.common.util.CommUtil@isNotEmpty(SRCH_SCD)'>    
	AND B.SCD LIKE '%' || #{SRCH_SCD} || '%'	/* 조직코드 */
</if>
<if test='@kr.co.fw.common.util.CommUtil@isNotEmpty(SRCH_EMP_VALUE)'>
	AND (
		   B.EMP_NM LIKE '%'||#{SRCH_EMP_VALUE}||'%'
		OR A.EMP_CD LIKE '%'||UPPER(#{SRCH_EMP_VALUE})||'%'
		OR A.FNAME LIKE '%'||#{SRCH_EMP_VALUE}||'%'		/* 사원명, 사원번호, 가족명 */
	)
</if>
<if test='@kr.co.fw.common.util.CommUtil@isNotEmpty(EMP_CD)'>
   AND A.EMP_CD = #{EMP_CD}	/* 인사상세조회 */
</if>
</select>

<!-- 하나의 가족정보 조회 -->
<select id="selectEmpFamily" resultType="Hmap" parameterType="EmpFamilyVO">
/* empFamily-mapper.xml selectEmpFamily 가족사항관리 조회 */
SELECT A.MB_ID                 /* 회원사ID                     VARCHAR2(20)  */
     , A.TBIN_EMPFAMILY_SEQ    /* 일련번호(TBIN_EMPFAMILY_SEQ) NUMBER(22)    */
     , A.EMP_CD                /* 사원번호                     VARCHAR2(10)  */
     , B.EMP_NM                /* 사원명 */
     , B.SCD                   /* 조직코드 */
     , A.RELATION              /* 관계                         VARCHAR2(20)  */
     , A.FNAME                 /* 가족명                       VARCHAR2(20)  */
     , A.FBIRTH                /* 생년월일                     VARCHAR2(10)  */
     , A.FGENDER               /* 성별(GRP_CMM_CD = GENDER)    VARCHAR2(3)   */
     , A.JOB                   /* 직장명(직업)                 VARCHAR2(30)  */
     , A.DONG                  /* 동거여부(GRP_CMM_CD = DONG)  VARCHAR2(20)  */
     , A.BIGO                  /* 비고                         VARCHAR2(200) */
     , A.IN_EMP_CD             /* 입력자사번                   VARCHAR2(20)  */
     , TO_CHAR(A.IN_DTM, 'YYYY-MM-DD') AS IN_DTM                /* 입력일시                     DATE(7)       */
     , A.UP_EMP_CD             /* 수정자사번                   VARCHAR2(20)  */
     , TO_CHAR(A.UP_DTM, 'YYYY-MM-DD') AS UP_DTM                /* 수정일시                     DATE(7)       */
  FROM TBIN_EMPFAMILY A /* [IN][인사] 가족사항관리 */
  LEFT OUTER JOIN TBIN_EMPMST B	/* 사원조회 */
    ON A.MB_ID = B.MB_ID
   AND A.EMP_CD = B.EMP_CD
 WHERE A.MB_ID = #{MB_ID}
   AND A.TBIN_EMPFAMILY_SEQ = #{TBIN_EMPFAMILY_SEQ}
</select>

<!-- 가족정보 등록 -->
<insert id="insertEmpFamily" parameterType="EmpFamilyVO">
/* empFamily-mapper.xml insertEmpFamily 가족정보 등록 */
INSERT
  INTO TBIN_EMPFAMILY /* [IN][인사] 가족사항관리 */
     ( MB_ID                 /* 회원사ID                     VARCHAR2(20)  */
     , TBIN_EMPFAMILY_SEQ    /* 일련번호(TBIN_EMPFAMILY_SEQ) NUMBER(22)    */
     , EMP_CD                /* 사원번호                     VARCHAR2(10)  */
     , RELATION              /* 관계                         VARCHAR2(20)  */
     , FNAME                 /* 가족명                       VARCHAR2(20)  */
     , FBIRTH                /* 생년월일                     VARCHAR2(10)  */
     , FGENDER               /* 성별(GRP_CMM_CD = GENDER)    VARCHAR2(3)   */
     , JOB                   /* 직장명(직업)                 VARCHAR2(30)  */
     , DONG                  /* 동거여부(GRP_CMM_CD = DONG)  VARCHAR2(20)  */
     , BIGO                  /* 비고                         VARCHAR2(200) */
     , IN_EMP_CD             /* 입력자사번                   VARCHAR2(20)  */
     , IN_DTM                /* 입력일시                     DATE(7)       */
     )
VALUES
     ( #{MB_ID             }   /* 회원사ID                     VARCHAR2(20)  */
     , TBIN_EMPFAMILY_SEQ.NEXTVAL   /* 일련번호(TBIN_EMPFAMILY_SEQ) NUMBER(22)    */
     , #{EMP_CD            }   /* 사원번호                     VARCHAR2(10)  */
     , #{RELATION          }   /* 관계                         VARCHAR2(20)  */
     , #{FNAME             }   /* 가족명                       VARCHAR2(20)  */
     , #{FBIRTH            }   /* 생년월일                     VARCHAR2(10)  */
     , #{FGENDER           }   /* 성별(GRP_CMM_CD = GENDER)    VARCHAR2(3)   */
     , #{JOB               }   /* 직장명(직업)                 VARCHAR2(30)  */
     , #{DONG              }   /* 동거여부(GRP_CMM_CD = DONG)  VARCHAR2(20)  */
     , #{BIGO              }   /* 비고                         VARCHAR2(200) */
     , #{IN_EMP_CD         }   /* 입력자사번                   VARCHAR2(20)  */
     , SYSDATE                 /* 입력일시                     DATE(7)       */
     )
</insert>

<!-- 가족정보 수정 -->
<update id="updateEmpFamily" parameterType="EmpFamilyVO">
/* empFamily-mapper.xml updateEmpFamily 가족정보 수정 */
UPDATE TBIN_EMPFAMILY /* [IN][인사] 가족사항관리 */
   SET EMP_CD             = #{EMP_CD            }    /* 사원번호                     VARCHAR2(10)  */
     , RELATION           = #{RELATION          }    /* 관계                         VARCHAR2(20)  */
     , FNAME              = #{FNAME             }    /* 가족명                       VARCHAR2(20)  */
     , FBIRTH             = #{FBIRTH            }    /* 생년월일                     VARCHAR2(10)  */
     , FGENDER            = #{FGENDER           }    /* 성별(GRP_CMM_CD = GENDER)    VARCHAR2(3)   */
     , JOB                = #{JOB               }    /* 직장명(직업)                 VARCHAR2(30)  */
     , DONG               = #{DONG              }    /* 동거여부(GRP_CMM_CD = DONG)  VARCHAR2(20)  */
     , BIGO               = #{BIGO              }    /* 비고                         VARCHAR2(200) */
     , UP_EMP_CD          = #{UP_EMP_CD         }    /* 수정자사번                   VARCHAR2(20)  */
     , UP_DTM             = SYSDATE                  /* 수정일시                     DATE(7)       */
 WHERE MB_ID = #{MB_ID}
   AND TBIN_EMPFAMILY_SEQ = #{TBIN_EMPFAMILY_SEQ}
</update>

<!-- 가족정보 삭제 -->
<delete id="deleteEmpFamily" parameterType="EmpFamilyVO">
/* empFamily-mapper.xml deleteEmpFamily 가족정보 삭제 */
DELETE TBIN_EMPFAMILY /* [IN][인사] 가족사항관리 */
 WHERE MB_ID = #{MB_ID}
   AND TBIN_EMPFAMILY_SEQ = #{TBIN_EMPFAMILY_SEQ}
</delete>

</mapper>
