<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Org">

<select id="getMaxLevel" parameterType="OrgVO" resultType="int">
/* org-mapper.xml getMaxLevel 조직경로 최대 갯수 조회 */
    SELECT MAX (LEVEL)
      FROM TBIN_SCD
     WHERE     MB_ID = #{MB_ID }
           AND SCD NOT IN ('9999')
           <![CDATA[AND NVL(DATA_DCD,'I') <> 'D']]>
           AND SCD IN (SELECT SCD
                         FROM TBSY_USER_SCD_READ
                        WHERE EMP_CD = #{IN_EMP_CD })
START WITH PSCD IS NULL
CONNECT BY PRIOR SCD = PSCD
</select>

<!-- 조직관리 엑셀다운로드목록조회 -->
<select id="selectOrgMngListExcel" parameterType="OrgVO" resultType="Hmap">
/* org-mapper.xml selectOrgMngListExcel 조직관리 엑셀다운로드목록조회 */
/* TBIN_SCD[[IN][인사] 조직마스터] SELECT */
SELECT  A.SCD             /* 조직코드                                       VARCHAR2(20)  */
     , A.SNM             /* 조직명                                         VARCHAR2(50)  */
     , A.PSCD            /* 상위조직코드                                   VARCHAR2(20)  */
     , A.PSNM            /* 상위조직명 */
     , A.SCD_HEAD        /* 조직장                                         VARCHAR2(10)  */
     , A.SCD_HEADNM          /* 조직장명 */
     , A.ORG_UNIT_GBN_NM /* 조직단위구분명 */
     , A.EMPCNT          /* 해당 조직 인원 : 하위 인원 포함 */
     , A.ORG_STRT_YMD    /* 조직생성년월일                                 VARCHAR2(10)  */
     , A.ORG_END_YMD     /* 조직폐쇄년월일                                 VARCHAR2(10)  */
     , A.TELNO           /* 조직전화번호                                   VARCHAR2(14)  */
     , A.FAXNO           /* 조직팩스번호                                   VARCHAR2(20)  */
     , A.EMP_CD          /* 조직담당자 : e.g) 총무                         VARCHAR2(10)  */
     , A.EMP_NM          /* 조직담당자명 */
     , A.ZIPCD           /* 우편번호                                       VARCHAR2(6)   */
     , A.ADDR1           /* 주소1                                          VARCHAR2(200) */
     , A.ADDR2           /* 주소2                                          VARCHAR2(200) */
     , A.ORG_OPEN_GBN_NM /* 운영구분명 */
     ${queryStr}
  FROM (SELECT SCD             /* 조직코드                                       VARCHAR2(20)  */
             , SNM             /* 조직명                                         VARCHAR2(50)  */
             , PSCD            /* 상위조직코드                                   VARCHAR2(20)  */
             , (SELECT SNM FROM TBIN_SCD WHERE SCD = TB3.PSCD AND MB_ID = #{MB_ID} <![CDATA[AND NVL(DATA_DCD,'I') <> 'D']]>) AS PSNM /* 상위조직명 */
             , SCD_HEAD        /* 조직장                                         VARCHAR2(10)  */
             , (SELECT EMP_NM FROM TBIN_EMPMST WHERE EMP_CD = TB3.SCD_HEAD AND MB_ID = #{MB_ID}) AS SCD_HEADNM /* 조직장명 */
             , (SELECT CD_VL_NM FROM TBCM_COMMON_CODE WHERE GRP_CMM_CD = 'ORG_UNIT_GBN' AND CD_VL = TB3.ORG_UNIT_GBN AND MB_ID = #{MB_ID}) AS ORG_UNIT_GBN_NM /* 조직단위구분명 */
             , EMPCNT          /* 해당 조직 인원 : 하위 인원 포함 */
             , ORG_STRT_YMD    /* 조직생성년월일                                 VARCHAR2(10)  */
             , ORG_END_YMD     /* 조직폐쇄년월일                                 VARCHAR2(10)  */
             , TELNO           /* 조직전화번호                                   VARCHAR2(14)  */
             , FAXNO           /* 조직팩스번호                                   VARCHAR2(20)  */
             , EMP_CD          /* 조직담당자 : e.g) 총무                         VARCHAR2(10)  */
             , (SELECT EMP_NM FROM TBIN_EMPMST WHERE EMP_CD = TB3.EMP_CD AND MB_ID = #{MB_ID}) AS EMP_NM /* 조직담당자명 */
             , ZIPCD           /* 우편번호                                       VARCHAR2(6)   */
             , ADDR1           /* 주소1                                          VARCHAR2(200) */
             , ADDR2           /* 주소2                                          VARCHAR2(200) */
             , (SELECT CD_VL_NM FROM TBCM_COMMON_CODE WHERE GRP_CMM_CD = 'ORG_OPEN_GBN' AND CD_VL = TB3.USE_YN AND MB_ID = #{MB_ID}) AS ORG_OPEN_GBN_NM /* 운영구분명 */
             , SUBSTR(SYS_CONNECT_BY_PATH(SNM,'/'),2) AS SNMPATH2    /* 소속경로2 */
          FROM (SELECT TB1.*
                     , TB2.EMPCNT 
                  FROM (SELECT * FROM TBIN_SCD WHERE MB_ID = #{MB_ID} <![CDATA[AND NVL(DATA_DCD,'I') <> 'D']]>) TB1,
                       (SELECT SCDROOT AS SCD,SUM(EMPCNT) AS EMPCNT
                          FROM (SELECT (SELECT COUNT(EMP_CD)
                                 FROM TBIN_EMPMST
                                WHERE SCD = A.SCD
                                  AND MB_ID = #{MB_ID}
                                  <![CDATA[AND NVL(DATA_DCD,'I') <> 'D']]>
                                  AND EMP_CD NOT IN ('ADMIN', 'SADMIN', 'INSCOM', 'INSCOMNVL', 'TEST')
                              ) AS EMPCNT
                            , CONNECT_BY_ROOT SCD AS SCDROOT
                         FROM (SELECT * FROM TBIN_SCD WHERE MB_ID = #{MB_ID} <![CDATA[AND NVL(DATA_DCD,'I') <> 'D']]>) A
                       CONNECT BY PRIOR SCD = PSCD)
                       GROUP BY SCDROOT) TB2
                WHERE TB1.SCD = TB2.SCD) TB3
         WHERE SCD NOT IN ('9999')
           AND SCD IN (SELECT SCD
                            FROM TBSY_USER_SCD_READ
                           WHERE EMP_CD = #{IN_EMP_CD})
		<if test='@kr.co.fw.common.util.CommUtil@isNotEmpty(SRCH_SCD)'>
			AND SCD = #{SRCH_SCD}    
		</if>
		<if test='@kr.co.fw.common.util.CommUtil@isNotEmpty(SRCH_ORG_OPEN_GBN)'>    
			AND USE_YN = #{SRCH_ORG_OPEN_GBN}
		</if>
		<if test='@kr.co.fw.common.util.CommUtil@isNotEmpty(SRCH_ORG_UNIT_GBN)'>    
			AND ORG_UNIT_GBN <![CDATA[>=]]> #{SRCH_ORG_UNIT_GBN}
		</if>
		<if test='@kr.co.fw.common.util.CommUtil@isNotEmpty(SRCH_ORG_VALUE)'>   
			AND 
			(
					UPPER(SNM) LIKE '%'||UPPER(#{SRCH_ORG_VALUE})||'%'
			
					OR SCD = #{SRCH_ORG_VALUE}
				
					OR SCD_HEAD IN (SELECT EMP_CD FROM TBIN_EMPMST WHERE EMP_NM = #{SRCH_ORG_VALUE})
				
					OR EMP_CD IN (SELECT EMP_CD FROM TBIN_EMPMST WHERE EMP_NM = #{SRCH_ORG_VALUE})
			)
		</if> 
		<if test='@kr.co.fw.common.util.CommUtil@isNotEmpty(SRCH_ORG_SCD)'>
			  START WITH SCD = #{SRCH_ORG_SCD}
			  CONNECT BY PRIOR SCD = PSCD
		</if>
		<if test='@kr.co.fw.common.util.CommUtil@isEmpty(SRCH_ORG_SCD)'>
		 	  START WITH PSCD IS NULL
			  CONNECT BY PRIOR SCD = PSCD 
		</if>
	  ORDER SIBLINGS BY SORT_NO, SNM
	  ) A
</select>
	
<!-- 조직관리 목록조회 -->
<select id="selectOrgMngList" parameterType="OrgVO" resultType="Hmap">
/* org-mapper.xml selectOrgMngList 조직관리 목록조회 */
/* TBIN_SCD[[IN][인사] 조직마스터] SELECT */
SELECT A.*
  FROM (SELECT LEVEL
		     , EMPCNT          /* 해당 조직 인원 : 하위 인원 포함 */
		     , SCDCNT          /* 해당 조직 인원 */
		     , MB_ID           /* 회사코드 : VMK                                 VARCHAR2(20)  */
		     , SCD             /* 조직코드                                       VARCHAR2(20)  */
		     , SNM             /* 조직명                                         VARCHAR2(50)  */
		     , SNM||'['||SCD||']' AS SNM2    /* 조직명2 */
		     , CASE WHEN SCD = '0000' THEN SNM
		            ELSE SUBSTR(SYS_CONNECT_BY_PATH(SNM,'/'), (SELECT LENGTH(SNM) FROM TBIN_SCD WHERE MB_ID = #{MB_ID} AND SCD = '0000')+3)
		       END AS SNMPATH    /* 소속경로 */
		     , SUBSTR(SYS_CONNECT_BY_PATH(SNM,'/'),2) AS SNMPATH2    /* 소속경로2 */
		     , PSCD            /* 상위조직코드                                   VARCHAR2(20)  */
		     , (SELECT SNM FROM TBIN_SCD WHERE SCD = TB3.PSCD AND MB_ID = #{MB_ID}) AS PSNM /* 상위조직명 */
		     , ORG_UNIT_GBN    /* 조직단위구분 : TBCM_COMMON_CODE = ORG_UNIT_GBN VARCHAR2(10)  */
		     , (SELECT CD_VL_NM FROM TBCM_COMMON_CODE WHERE GRP_CMM_CD = 'ORG_UNIT_GBN' AND CD_VL = TB3.ORG_UNIT_GBN AND MB_ID = #{MB_ID}) AS ORG_UNIT_GBN_NM /* 조직단위구분명 */
		     , BIZ_YN          /* 영업조직여부 : TBCM_COMMON_CODE = ORG_MNG_GBN  VARCHAR2(1)   */
		     , (SELECT CD_VL_NM FROM TBCM_COMMON_CODE WHERE GRP_CMM_CD = 'ORG_MNG_GBN' AND CD_VL = TB3.BIZ_YN AND MB_ID = #{MB_ID}) AS ORG_MNG_GBN_NM /* 영업조직여부명 */
		     , ORG_STRT_YMD    /* 조직생성년월일                                 VARCHAR2(10)  */
		     , ORG_END_YMD     /* 조직폐쇄년월일                                 VARCHAR2(10)  */
		     , SCD_HEAD        /* 조직장                                         VARCHAR2(10)  */
		     , (SELECT EMP_NM FROM TBIN_EMPMST WHERE EMP_CD = TB3.SCD_HEAD AND MB_ID = #{MB_ID}) AS SCD_HEADNM /* 조직장명 */
		     , CASE WHEN TB3.SCD_HEAD IS NOT NULL
		            THEN (SELECT EMP_NM FROM TBIN_EMPMST WHERE EMP_CD = TB3.SCD_HEAD AND MB_ID = #{MB_ID})||'('||SCD_HEAD||')'
		       END AS SCD_HEADNM2 /* 조직장명2 */
		     , EMP_CD          /* 조직담당자 : e.g) 총무                         VARCHAR2(10)  */
		     , (SELECT EMP_NM FROM TBIN_EMPMST WHERE EMP_CD = TB3.EMP_CD AND MB_ID = #{MB_ID}) AS EMP_NM /* 조직담당자명 */
		     , TELNO           /* 조직전화번호                                   VARCHAR2(14)  */
		     , FAXNO           /* 조직팩스번호                                   VARCHAR2(20)  */
		     , ZIPCD           /* 우편번호                                       VARCHAR2(6)   */
		     , ADDR1           /* 주소1                                          VARCHAR2(200) */
		     , ADDR2           /* 주소2                                          VARCHAR2(200) */
		     , MEMO            /* 비고                                           VARCHAR2(200) */
		     , USE_YN          /* 사용유무 : TBCM_COMMON_CODE = ORG_OPEN_GBN     VARCHAR2(1)   */
		     , (SELECT CD_VL_NM FROM TBCM_COMMON_CODE WHERE GRP_CMM_CD = 'ORG_OPEN_GBN' AND CD_VL = TB3.USE_YN AND MB_ID = #{MB_ID}) AS ORG_OPEN_GBN_NM /* 운영구분명 */
		     , SORT_NO         /* 정렬순서                                       NUMBER(22)    */
		  FROM (SELECT TB1.*
		             , TB2.EMPCNT 
		             , (SELECT COUNT(EMP_CD) FROM TBIN_EMPMST
                         WHERE SCD = TB1.SCD
                           AND MB_ID = #{MB_ID}
                           <![CDATA[AND NVL(DATA_DCD,'I') <> 'D']]>
                           AND EMP_CD NOT IN ('ADMIN', 'SADMIN', 'INSCOM', 'INSCOMNVL', 'TEST')) AS SCDCNT
		          FROM (SELECT * FROM TBIN_SCD WHERE MB_ID = #{MB_ID} <![CDATA[AND NVL(DATA_DCD,'I') <> 'D']]>) TB1,
		               (SELECT SCDROOT AS SCD,SUM(EMPCNT) AS EMPCNT
		                  FROM (SELECT (SELECT COUNT(EMP_CD)
		                         FROM TBIN_EMPMST
		                        WHERE SCD = A.SCD
		                          AND MB_ID = #{MB_ID}
		                          <![CDATA[AND NVL(DATA_DCD,'I') <> 'D']]>
		                          AND EMP_CD NOT IN ('ADMIN', 'SADMIN', 'INSCOM', 'INSCOMNVL', 'TEST')
		                      ) AS EMPCNT
		                    , CONNECT_BY_ROOT SCD AS SCDROOT
		                 FROM (SELECT * FROM TBIN_SCD WHERE MB_ID = #{MB_ID} <![CDATA[AND NVL(DATA_DCD,'I') <> 'D']]>) A
		               CONNECT BY PRIOR SCD = PSCD)
		               GROUP BY SCDROOT) TB2
		        WHERE TB1.SCD = TB2.SCD) TB3
		 WHERE SCD NOT IN ('9999')
		   AND SCD IN (SELECT SCD
		   				 FROM TBSY_USER_SCD_READ
		   				WHERE EMP_CD = #{IN_EMP_CD})
		<if test='@kr.co.fw.common.util.CommUtil@isNotEmpty(SRCH_SCD)'>
			AND SCD = #{SRCH_SCD}    
		</if>
		<if test='@kr.co.fw.common.util.CommUtil@isNotEmpty(SRCH_ORG_OPEN_GBN)'>    
			AND USE_YN = #{SRCH_ORG_OPEN_GBN}
		</if>
		<if test='@kr.co.fw.common.util.CommUtil@isNotEmpty(SRCH_ORG_UNIT_GBN)'>    
			AND ORG_UNIT_GBN <![CDATA[>=]]> #{SRCH_ORG_UNIT_GBN}
		</if>
		<if test='@kr.co.fw.common.util.CommUtil@isNotEmpty(SRCH_ORG_VALUE)'>   
			AND 
			(
					UPPER(SNM) LIKE '%'||UPPER(#{SRCH_ORG_VALUE})||'%'
			
					OR SCD = #{SRCH_ORG_VALUE}
				
					OR SCD_HEAD IN (SELECT EMP_CD FROM TBIN_EMPMST WHERE EMP_NM = #{SRCH_ORG_VALUE})
				
					OR EMP_CD IN (SELECT EMP_CD FROM TBIN_EMPMST WHERE EMP_NM = #{SRCH_ORG_VALUE})
			)
		</if> 
		<if test='@kr.co.fw.common.util.CommUtil@isNotEmpty(SRCH_ORG_SCD)'>
			  START WITH SCD = #{SRCH_ORG_SCD}
			  CONNECT BY PRIOR SCD = PSCD
		</if>
		<if test='@kr.co.fw.common.util.CommUtil@isEmpty(SRCH_ORG_SCD)'>
		 	  START WITH PSCD IS NULL
			  CONNECT BY PRIOR SCD = PSCD 
		</if>
	  ORDER SIBLINGS BY SORT_NO, SNM
	  ) A
</select>

<!-- 조직 트리뷰 목록조회 -->
<select id="selectOrgTreeView" parameterType="OrgVO" resultType="Hmap">
/* org-mapper.xml selectOrgTreeView 조직 트리뷰 목록조회 */
/* TBIN_SCD[[IN][인사] 조직마스터] SELECT */
SELECT LEVEL           /* 레벨 */
     , CONNECT_BY_ISLEAF AS ISLEAF  /* 자식이 있으면 0 없으면 1 */
     , SCD             /* 조직코드                                       VARCHAR2(20)  */
     , SNM             /* 조직명                                         VARCHAR2(50)  */
     , PSCD            /* 상위조직코드                                   VARCHAR2(20)  */
     , BIZ_YN          /* 영업조직여부 : TBCM_COMMON_CODE = ORG_MNG_GBN  VARCHAR2(1)   */
     , (SELECT CD_VL_NM FROM TBCM_COMMON_CODE WHERE GRP_CMM_CD = 'ORG_MNG_GBN' AND CD_VL = A.BIZ_YN AND MB_ID = #{MB_ID}) AS ORG_MNG_GBN_NM /* 영업조직여부명 */
     , USE_YN          /* 사용유무 : TBCM_COMMON_CODE = ORG_OPEN_GBN     VARCHAR2(1)   */
     , (SELECT CD_VL_NM FROM TBCM_COMMON_CODE WHERE GRP_CMM_CD = 'ORG_OPEN_GBN' AND CD_VL = A.USE_YN AND MB_ID = #{MB_ID}) AS ORG_OPEN_GBN_NM /* 운영구분명 */
     , SORT_NO         /* 정렬순서                                       NUMBER(22)    */
     , CASE WHEN (SELECT COUNT(*) FROM TBIN_SCD WHERE PSCD = A.SCD AND MB_ID = #{MB_ID}) > 0 THEN 'Y' ELSE 'N' END AS FOLDER_YN
  FROM (SELECT * FROM TBIN_SCD WHERE MB_ID = #{MB_ID} AND USE_YN = 'Y' <![CDATA[AND NVL(DATA_DCD,'I') <> 'D']]>) A
 WHERE SCD NOT IN ('9999')
   AND SCD IN (SELECT SCD
   				 FROM TBSY_USER_SCD_READ
   				WHERE EMP_CD = #{IN_EMP_CD})
 <if test='@kr.co.fw.common.util.CommUtil@isNotEmpty(SCD)'>
 	AND  PSCD = #{SCD}
 	START WITH SCD = #{SCD}
 </if>
 <if test='@kr.co.fw.common.util.CommUtil@isEmpty(SCD)'>
	AND PSCD IS NULL 
 	START WITH PSCD IS NULL
 </if>
 CONNECT BY PRIOR SCD = PSCD
ORDER SIBLINGS BY SORT_NO, SNM
</select>

<!-- 하나의 소속 조회 -->
<select id="selectOrg" parameterType="OrgVO" resultType="Hmap">
/* org-mapper.xml selectOrg 하나의 소속 조회 */
/* TBIN_SCD[[IN][인사] 조직마스터] SELECT */
SELECT TB1.MB_ID           /* 회사코드 : VMK                                 VARCHAR2(20)  */
     , TB1.SCD             /* 조직코드                                       VARCHAR2(20)  */
     , TB1.SNM             /* 조직명                                         VARCHAR2(50)  */
     , TB1.PSCD            /* 상위조직코드                                   VARCHAR2(20)  */
     , (SELECT SNM FROM TBIN_SCD WHERE SCD = TB1.PSCD AND MB_ID = #{MB_ID}) AS PSNM /* 상위조직명 */
     , TB1.ORG_UNIT_GBN    /* 조직단위구분 : TBCM_COMMON_CODE = ORG_UNIT_GBN VARCHAR2(10)  */
     , TB1.BIZ_YN          /* 영업조직여부 : TBCM_COMMON_CODE = ORG_MNG_GBN  VARCHAR2(1)   */
     , TB1.ORG_STRT_YMD    /* 조직생성년월일                                 VARCHAR2(10)  */
     , TB1.ORG_END_YMD     /* 조직폐쇄년월일                                 VARCHAR2(10)  */
     , TB1.SCD_HEAD        /* 조직장                                         VARCHAR2(10)  */
     , (SELECT EMP_NM FROM TBIN_EMPMST WHERE EMP_CD = TB1.SCD_HEAD AND MB_ID = #{MB_ID}) AS SCD_HEADNM /* 조직장명 */
     , (SELECT SNM FROM TBIN_SCD WHERE SCD = (SELECT SCD FROM TBIN_EMPMST WHERE EMP_CD = TB1.SCD_HEAD AND MB_ID = #{MB_ID}) AND MB_ID = #{MB_ID}) AS SCD_HEAD_SNM /* 조직장 조직명 */
     , TB1.EMP_CD          /* 조직담당자 : e.g) 총무                         VARCHAR2(10)  */
     , (SELECT EMP_NM FROM TBIN_EMPMST WHERE EMP_CD = TB1.EMP_CD AND MB_ID = #{MB_ID}) AS EMP_NM /* 조직담당자명 */
     , (SELECT SNM FROM TBIN_SCD WHERE SCD = (SELECT SCD FROM TBIN_EMPMST WHERE EMP_CD = TB1.EMP_CD AND MB_ID = #{MB_ID}) AND MB_ID = #{MB_ID}) AS STAFF_SNM /* 조직담당자 조직명 */
     , TB1.TELNO           /* 조직전화번호                                   VARCHAR2(14)  */
     , TB1.FAXNO           /* 조직팩스번호                                   VARCHAR2(20)  */
     , TB1.ZIPCD           /* 우편번호                                       VARCHAR2(6)   */
     , TB1.ADDR1           /* 주소1                                          VARCHAR2(200) */
     , TB1.ADDR2           /* 주소2                                          VARCHAR2(200) */
     , TB1.MEMO            /* 비고                                           VARCHAR2(200) */
     , TB1.USE_YN          /* 사용유무 : TBCM_COMMON_CODE = ORG_OPEN_GBN     VARCHAR2(1)   */
     , TB1.SORT_NO         /* 정렬순서                                       NUMBER(22)    */
     , TB1.IN_EMP_CD       /* 입력자                                         VARCHAR2(20)  */
     , TO_CHAR(TB1.IN_DTM, 'YYYY-MM-DD') AS IN_DTM          /* 입력일시                                       DATE(7)       */
     , TB1.UP_EMP_CD       /* 수정자                                       VARCHAR2(20)  */
     , TO_CHAR(TB1.UP_DTM, 'YYYY-MM-DD') AS UP_DTM          /* 수정일시                                         DATE(7)       */
  FROM TBIN_SCD TB1
 WHERE MB_ID = #{MB_ID}
   AND SCD = #{SCD}
</select>

<!-- 조직 등록 -->
<insert id="insertOrg" parameterType="OrgVO">
	<selectKey keyProperty="SCD" resultType="String" order="BEFORE">
	<![CDATA[
		SELECT TO_CHAR(LPAD( (MAX(TO_NUMBER(SCD))+1), 4, 0)) AS SCD FROM TBIN_SCD WHERE MB_ID = #{MB_ID} AND SCD <> '9999'
	 ]]>
	</selectKey>
/* org-mapper.xml insertOrg 조직 등록 */
/* TBIN_SCD[[IN][인사] 조직마스터] INSERT */
INSERT
  INTO TBIN_SCD /* [ERP] 조직 */
     ( MB_ID           /* 회사코드 : VMK                                 VARCHAR2(20)  */
     , SCD             /* 조직코드                                       VARCHAR2(20)  */
     , SNM             /* 조직명                                         VARCHAR2(50)  */
     , PSCD            /* 상위조직코드                                   VARCHAR2(20)  */
     , ORG_UNIT_GBN    /* 조직단위구분 : TBCM_COMMON_CODE = ORG_UNIT_GBN VARCHAR2(10)  */
     , BIZ_YN          /* 영업조직여부 : TBCM_COMMON_CODE = ORG_MNG_GBN  VARCHAR2(1)   */
     , ORG_STRT_YMD    /* 조직생성년월일                                 VARCHAR2(10)  */
     , ORG_END_YMD     /* 조직폐쇄년월일                                 VARCHAR2(10)  */
     , SCD_HEAD        /* 조직장                                         VARCHAR2(10)  */
     , EMP_CD          /* 조직담당자 : e.g) 총무                         VARCHAR2(10)  */
     , TELNO           /* 조직전화번호                                   VARCHAR2(14)  */
     , FAXNO           /* 조직팩스번호                                   VARCHAR2(20)  */
     , ZIPCD           /* 우편번호                                       VARCHAR2(6)   */
     , ADDR1           /* 주소1                                          VARCHAR2(200) */
     , ADDR2           /* 주소2                                          VARCHAR2(200) */
     , MEMO            /* 비고                                           VARCHAR2(200) */
     , USE_YN          /* 사용유무 : TBCM_COMMON_CODE = ORG_OPEN_GBN     VARCHAR2(1)   */
     , SORT_NO         /* 정렬순서                                       NUMBER(22)    */
     , IN_EMP_CD       /* 입력자                                         VARCHAR2(20)  */
     , IN_DTM          /* 입력일시                                       DATE(7)       */
     )
VALUES
     ( #{MB_ID       }   /* 회사코드 : VMK                                 VARCHAR2(20)  */
     , #{SCD         }   /* 조직코드                                       VARCHAR2(20)  */
     , #{SNM         }   /* 조직명                                         VARCHAR2(50)  */
     , #{PSCD        }   /* 상위조직코드                                   VARCHAR2(20)  */
     , #{ORG_UNIT_GBN}   /* 조직단위구분 : TBCM_COMMON_CODE = ORG_UNIT_GBN VARCHAR2(10)  */
     , #{BIZ_YN      }   /* 영업조직여부 : TBCM_COMMON_CODE = ORG_MNG_GBN  VARCHAR2(1)   */
     , #{ORG_STRT_YMD}   /* 조직생성년월일                                 VARCHAR2(10)  */
     , #{ORG_END_YMD }   /* 조직폐쇄년월일                                 VARCHAR2(10)  */
     , #{SCD_HEAD    }   /* 조직장                                         VARCHAR2(10)  */
     , #{EMP_CD      }   /* 조직담당자 : e.g) 총무                         VARCHAR2(10)  */
     , #{TELNO       }   /* 조직전화번호                                   VARCHAR2(14)  */
     , #{FAXNO       }   /* 조직팩스번호                                   VARCHAR2(20)  */
     , #{ZIPCD       }   /* 우편번호                                       VARCHAR2(6)   */
     , #{ADDR1       }   /* 주소1                                          VARCHAR2(200) */
     , #{ADDR2       }   /* 주소2                                          VARCHAR2(200) */
     , #{MEMO        }   /* 비고                                           VARCHAR2(200) */
     , #{USE_YN      }   /* 사용유무 : TBCM_COMMON_CODE = ORG_OPEN_GBN     VARCHAR2(1)   */
     , #{SORT_NO     }   /* 정렬순서                                       NUMBER(22)    */
     , #{IN_EMP_CD   }   /* 입력자                                         VARCHAR2(20)  */
     , SYSDATE           /* 입력일시                                       DATE(7)       */
     )
</insert>

<!-- 조직조회권한 등록 -->
<insert id="insertOrgReadRole" parameterType="ScdReadRoleVO">
/* org-mapper.xml insertOrgReadRole 조직조회권한 등록 */
/* TBSY_USER_SCD_READ[[SY][시스템] 조직조회권한] INSERT */
INSERT
  INTO TBSY_USER_SCD_READ /* [SY][시스템] 조직조회권한 */
     ( EMP_CD       /* 사원코드       VARCHAR2(20) */
     , SCD          /* 조직코드       VARCHAR2(20) */
     , GUBUN        /* 구분           VARCHAR2(20) */
     , IN_EMP_CD    /* 입력자사번코드 VARCHAR2(20) */
     , IN_DTM       /* 입력일시       DATE(7)      */
     , UP_EMP_CD    /* 수정자사원코드 VARCHAR2(20) */
     , UP_DTM       /* 수정일시       DATE(7)      */
     , MB_ID        /* 회원사ID       VARCHAR2(20) */
     , USE_YN       /* 사용여부       VARCHAR2(6)  */
     , COM_YM       /* 마감월         VARCHAR2(6)  */
     )
SELECT EMP_CD
     , #{SCD} AS SCD
     , '' AS GUBUN
     , #{IN_EMP_CD} AS IN_EMP_CD
     , SYSDATE AS IN_DTM
     , '' AS UP_EMP_CD
     , '' AS UP_DTM
     , MB_ID
     , 'Y' AS USE_YN
     , '' AS COM_YM
  FROM TBIN_EMPMST 
 WHERE MB_ID = #{MB_ID}
   AND (EMP_CD IN ('SADMIN', 'ADMIN') 
    OR EMP_CD IN (SELECT EMP_CD FROM TBIN_EMPMST WHERE SCD = #{SCD} AND MB_ID = #{MB_ID}))
</insert>

<!-- 조직 수정 -->
<update id="updateOrg" parameterType="OrgVO">
/* org-mapper.xml updateOrg 조직 수정 */
/* TBIN_SCD[[IN][인사] 조직마스터] UPDATE */
UPDATE TBIN_SCD /* [IN][인사] 조직마스터 */
   SET SNM          = #{SNM         }    /* 조직명                                         VARCHAR2(50)  */
     , PSCD         = #{PSCD        }    /* 상위조직코드                                   VARCHAR2(20)  */
     , ORG_UNIT_GBN = #{ORG_UNIT_GBN}    /* 조직단위구분 : TBCM_COMMON_CODE = ORG_UNIT_GBN VARCHAR2(10)  */
     , BIZ_YN       = #{BIZ_YN      }    /* 영업조직여부 : TBCM_COMMON_CODE = ORG_MNG_GBN  VARCHAR2(1)   */
     , ORG_STRT_YMD = #{ORG_STRT_YMD}    /* 조직생성년월일                                 VARCHAR2(10)  */
     , ORG_END_YMD  = #{ORG_END_YMD }    /* 조직폐쇄년월일                                 VARCHAR2(10)  */
     , SCD_HEAD     = #{SCD_HEAD    }    /* 조직장                                         VARCHAR2(10)  */
     , EMP_CD       = #{EMP_CD      }    /* 조직담당자 : e.g) 총무                         VARCHAR2(10)  */
     , TELNO        = #{TELNO       }    /* 조직전화번호                                   VARCHAR2(14)  */
     , FAXNO        = #{FAXNO       }    /* 조직팩스번호                                   VARCHAR2(20)  */
     , ZIPCD        = #{ZIPCD       }    /* 우편번호                                       VARCHAR2(6)   */
     , ADDR1        = #{ADDR1       }    /* 주소1                                          VARCHAR2(200) */
     , ADDR2        = #{ADDR2       }    /* 주소2                                          VARCHAR2(200) */
     , MEMO         = #{MEMO        }    /* 비고                                           VARCHAR2(200) */
     , USE_YN       = #{USE_YN      }    /* 사용유무 : TBCM_COMMON_CODE = ORG_OPEN_GBN     VARCHAR2(1)   */
     , SORT_NO      = #{SORT_NO     }    /* 정렬순서                                       NUMBER(22)    */
     , UP_EMP_CD    = #{UP_EMP_CD   }    /* 수정자                                         VARCHAR2(20)  */
     , UP_DTM       = SYSDATE            /* 수정일시                                       DATE(7)       */
 WHERE MB_ID = #{MB_ID}
   AND SCD = #{SCD}
</update>

<!-- 조직 삭제 -->
<update id="deleteOrg" parameterType="OrgVO">
/* org-mapper.xml deleteOrg 조직 삭제 */
/* TBIN_SCD[[IN][인사] 조직마스터] DELETE */
UPDATE TBIN_SCD /* [IN][인사] 조직마스터 */
	SET DATA_DCD='D', 
	UP_EMP_CD=#{IN_EMP_CD}, 
	UP_DTM=SYSDATE
 WHERE MB_ID = #{MB_ID}
   AND SCD IN (SELECT SCD
				 FROM TBIN_SCD
				WHERE MB_ID = #{MB_ID}
   				  AND SCD NOT IN ('9999', '0000')
				START WITH SCD = #{SCD}
				CONNECT BY PRIOR SCD = PSCD
				GROUP BY SCD)	/* 해당조직의 하위조직 삭제 */
</update>

<!-- 월별 조직 마감 -->

<!-- 월별조직마감 목록조회 -->
<select id="selectOrgMonthList" parameterType="OrgVO" resultType="Hmap">
/* org-mapper.xml selectOrgMonthList 월별조직마감 목록 조회 */
SELECT A.*
	 ${queryStr}
  FROM (SELECT LEVEL
		     , TB1.COM_YM		   /* 마감월 */
		     , TB1.MB_ID           /* 회사코드 		                                 VARCHAR2(20)  */
		     , TB1.SCD             /* 조직코드                                       VARCHAR2(20)  */
		     , TB1.SNM             /* 조직명                                         VARCHAR2(50)  */
		     , TB1.SNM||'['||TB1.SCD||']' AS SNM2    /* 조직명2 */
		     , CASE WHEN TB1.SCD = '0000' THEN SNM
		            ELSE SUBSTR(SYS_CONNECT_BY_PATH(TB1.SNM,'/'), (SELECT LENGTH(SNM) FROM TBIN_SCD WHERE MB_ID = #{MB_ID} AND SCD = '0000')+3)
		       END AS SNMPATH    /* 소속경로 */
		     , SUBSTR(SYS_CONNECT_BY_PATH(TB1.SNM,'/'),2) AS SNMPATH2    /* 소속경로2 */
		     , TB1.PSCD            /* 상위조직코드                                   VARCHAR2(20)  */
		     , (SELECT SNM FROM TBIN_SCD WHERE SCD = TB1.PSCD AND MB_ID = #{MB_ID}) AS PSNM /* 상위조직명 */
		     , TB1.ORG_UNIT_GBN    /* 조직단위구분 : TBCM_COMMON_CODE = ORG_UNIT_GBN VARCHAR2(10)  */
		     , (SELECT CD_VL_NM FROM TBCM_COMMON_CODE WHERE GRP_CMM_CD = 'ORG_UNIT_GBN' AND CD_VL = TB1.ORG_UNIT_GBN AND MB_ID = #{MB_ID}) AS ORG_UNIT_GBN_NM /* 조직단위구분명 */
		     , TB1.BIZ_YN          /* 영업조직여부 : TBCM_COMMON_CODE = ORG_MNG_GBN  VARCHAR2(1)   */
		     , (SELECT CD_VL_NM FROM TBCM_COMMON_CODE WHERE GRP_CMM_CD = 'ORG_MNG_GBN' AND CD_VL = TB1.BIZ_YN AND MB_ID = #{MB_ID}) AS ORG_MNG_GBN_NM /* 영업조직여부명 */
		     , TB1.ORG_STRT_YMD    /* 조직생성년월일                                 VARCHAR2(10)  */
		     , TB1.ORG_END_YMD     /* 조직폐쇄년월일                                 VARCHAR2(10)  */
		     , TB1.SCD_HEAD        /* 조직장                                         VARCHAR2(10)  */
		     , (SELECT EMP_NM FROM TBIN_EMPMST WHERE EMP_CD = TB1.SCD_HEAD AND MB_ID = #{MB_ID}) AS SCD_HEADNM /* 조직장명 */
		     , CASE WHEN TB1.SCD_HEAD IS NOT NULL
		            THEN (SELECT EMP_NM FROM TBIN_EMPMST WHERE EMP_CD = TB1.SCD_HEAD AND MB_ID = #{MB_ID})||'('||SCD_HEAD||')'
		       END AS SCD_HEADNM2 /* 조직장명2 */
		     , TB1.EMP_CD          /* 조직담당자 : e.g) 총무                         VARCHAR2(10)  */
		     , (SELECT EMP_NM FROM TBIN_EMPMST WHERE EMP_CD = TB1.EMP_CD AND MB_ID = #{MB_ID}) AS EMP_NM /* 조직담당자명 */
		     , TB1.TELNO           /* 조직전화번호                                   VARCHAR2(14)  */
		     , TB1.FAXNO           /* 조직팩스번호                                   VARCHAR2(20)  */
		     , TB1.ZIPCD           /* 우편번호                                       VARCHAR2(6)   */
		     , TB1.ADDR1           /* 주소1                                          VARCHAR2(200) */
		     , TB1.ADDR2           /* 주소2                                          VARCHAR2(200) */
		     , TB1.MEMO            /* 비고                                           VARCHAR2(200) */
		     , TB1.USE_YN          /* 사용유무 : TBCM_COMMON_CODE = ORG_OPEN_GBN     VARCHAR2(1)   */
		     , (SELECT CD_VL_NM FROM TBCM_COMMON_CODE WHERE GRP_CMM_CD = 'ORG_OPEN_GBN' AND CD_VL = TB1.USE_YN AND MB_ID = #{MB_ID}) AS ORG_OPEN_GBN_NM /* 운영구분명 */
		     , TB1.SORT_NO         /* 정렬순서                                       NUMBER(22)    */
		     , TB1.IN_EMP_CD
		     , TB1.IN_DTM
		     , TB1.UP_EMP_CD
		     , CASE WHEN TB1.UP_EMP_CD IS NOT NULL THEN '['||TB1.UP_EMP_CD||']'||' '||UP_EMP.EMP_NM 
		     		ELSE ''
		       END AS UP_EMP_NM
		     , TO_CHAR(TB1.UP_DTM, 'YYYY-MM-DD') AS UP_DTM
		     , TB1.CRE_EMP_CD
		     , TB1.CRE_DTM
		     , TB1.MDF_EMP_CD
		     , TB1.MDF_DTM
		  FROM (SELECT * FROM TBIN_SCD_MONTH
		         WHERE MB_ID = #{MB_ID}
		        <if test="@kr.co.fw.common.util.CommUtil@isNotEmpty(COM_YM)">
		           AND COM_YM = #{COM_YM}
		        </if> 
		        ) TB1
		       LEFT OUTER JOIN TBIN_EMPMST UP_EMP
		       ON TB1.UP_EMP_CD = UP_EMP.EMP_CD
		       AND TB1.MB_ID    = UP_EMP.MB_ID
		 WHERE TB1.SCD NOT IN ('9999')
		   AND TB1.SCD IN (SELECT SCD
		   				 	 FROM TBSY_USER_SCD_READ
		   					WHERE EMP_CD = #{IN_EMP_CD})
		    <if test="@kr.co.fw.common.util.CommUtil@isNotEmpty(COM_YM)">
		   AND TB1.COM_YM = #{COM_YM}
		    </if>      
			<if test='@kr.co.fw.common.util.CommUtil@isNotEmpty(SRCH_SCD)'>
			AND TB1.SCD = #{SRCH_SCD}    
			</if>
			<if test='@kr.co.fw.common.util.CommUtil@isNotEmpty(SRCH_ORG_OPEN_GBN)'>    
			AND TB1.USE_YN = #{SRCH_ORG_OPEN_GBN}
			</if>
			<if test='@kr.co.fw.common.util.CommUtil@isNotEmpty(SRCH_ORG_UNIT_GBN)'>    
			AND TB1.ORG_UNIT_GBN = #{SRCH_ORG_UNIT_GBN}
			</if>
			<if test='@kr.co.fw.common.util.CommUtil@isNotEmpty(SRCH_ORG_VALUE)'>   
			AND ( UPPER(TB1.SNM) LIKE '%'||UPPER(#{SRCH_ORG_VALUE})||'%'
			  	  OR TB1.SCD = #{SRCH_ORG_VALUE}
				  OR TB1.SCD_HEAD IN (SELECT EMP_CD FROM TBIN_EMPMST WHERE EMP_NM = #{SRCH_ORG_VALUE})
				  OR TB1.EMP_CD IN (SELECT EMP_CD FROM TBIN_EMPMST WHERE EMP_NM = #{SRCH_ORG_VALUE})
			     )
			</if> 
			<if test='@kr.co.fw.common.util.CommUtil@isNotEmpty(SRCH_ORG_SCD)'>
				  START WITH TB1.SCD = #{SRCH_ORG_SCD}
				  CONNECT BY PRIOR TB1.SCD = TB1.PSCD
			</if>
			<if test='@kr.co.fw.common.util.CommUtil@isEmpty(SRCH_ORG_SCD)'>
			 	  START WITH TB1.PSCD IS NULL
			 	CONNECT BY PRIOR TB1.SCD = TB1.PSCD
			</if>
		  ORDER SIBLINGS BY TB1.SORT_NO
		  ) A
</select>

<!-- 월별조직마감 목록조회 -->
<select id="selectOrgMonthAllList" parameterType="OrgVO" resultType="Hmap">
/* org-mapper.xml selectOrgMonthAllList 월별조직마감 목록 조회 */
SELECT A.* FROM (
<foreach collection="COM_YM_ARR"  item="item" separator=" UNION ALL "><![CDATA[
SELECT A.* FROM ( 
SELECT LEVEL
     , TB1.COM_YM		   /* 마감월 */
     , TB1.MB_ID           /* 회사코드 		                                 VARCHAR2(20)  */
     , TB1.SCD             /* 조직코드                                       VARCHAR2(20)  */
     , TB1.SNM             /* 조직명                                         VARCHAR2(50)  */
     , TB1.SNM||'['||TB1.SCD||']' AS SNM2    /* 조직명2 */
     , CASE WHEN TB1.SCD = '0000' THEN SNM
            ELSE SUBSTR(SYS_CONNECT_BY_PATH(TB1.SNM,'/'), (SELECT LENGTH(SNM) FROM TBIN_SCD WHERE MB_ID = #{MB_ID} AND SCD = '0000')+3)
       END AS SNMPATH    /* 소속경로 */
     , SUBSTR(SYS_CONNECT_BY_PATH(TB1.SNM,'/'),2) AS SNMPATH2    /* 소속경로2 */
     , TB1.PSCD            /* 상위조직코드                                   VARCHAR2(20)  */
     , (SELECT SNM FROM TBIN_SCD WHERE SCD = TB1.PSCD AND MB_ID = #{MB_ID}) AS PSNM /* 상위조직명 */
     , TB1.ORG_UNIT_GBN    /* 조직단위구분 : TBCM_COMMON_CODE = ORG_UNIT_GBN VARCHAR2(10)  */
     , (SELECT CD_VL_NM FROM TBCM_COMMON_CODE WHERE GRP_CMM_CD = 'ORG_UNIT_GBN' AND CD_VL = TB1.ORG_UNIT_GBN AND MB_ID = #{MB_ID}) AS ORG_UNIT_GBN_NM /* 조직단위구분명 */
     , TB1.BIZ_YN          /* 영업조직여부 : TBCM_COMMON_CODE = ORG_MNG_GBN  VARCHAR2(1)   */
     , (SELECT CD_VL_NM FROM TBCM_COMMON_CODE WHERE GRP_CMM_CD = 'ORG_MNG_GBN' AND CD_VL = TB1.BIZ_YN AND MB_ID = #{MB_ID}) AS ORG_MNG_GBN_NM /* 영업조직여부명 */
     , TB1.ORG_STRT_YMD    /* 조직생성년월일                                 VARCHAR2(10)  */
     , TB1.ORG_END_YMD     /* 조직폐쇄년월일                                 VARCHAR2(10)  */
     , TB1.SCD_HEAD        /* 조직장                                         VARCHAR2(10)  */
     , (SELECT EMP_NM FROM TBIN_EMPMST WHERE EMP_CD = TB1.SCD_HEAD AND MB_ID = #{MB_ID}) AS SCD_HEADNM /* 조직장명 */
     , CASE WHEN TB1.SCD_HEAD IS NOT NULL
            THEN (SELECT EMP_NM FROM TBIN_EMPMST WHERE EMP_CD = TB1.SCD_HEAD AND MB_ID = #{MB_ID})||'('||SCD_HEAD||')'
       END AS SCD_HEADNM2 /* 조직장명2 */
     , TB1.EMP_CD          /* 조직담당자 : e.g) 총무                         VARCHAR2(10)  */
     , (SELECT EMP_NM FROM TBIN_EMPMST WHERE EMP_CD = TB1.EMP_CD AND MB_ID = #{MB_ID}) AS EMP_NM /* 조직담당자명 */
     , TB1.TELNO           /* 조직전화번호                                   VARCHAR2(14)  */
     , TB1.FAXNO           /* 조직팩스번호                                   VARCHAR2(20)  */
     , TB1.ZIPCD           /* 우편번호                                       VARCHAR2(6)   */
     , TB1.ADDR1           /* 주소1                                          VARCHAR2(200) */
     , TB1.ADDR2           /* 주소2                                          VARCHAR2(200) */
     , TB1.MEMO            /* 비고                                           VARCHAR2(200) */
     , TB1.USE_YN          /* 사용유무 : TBCM_COMMON_CODE = ORG_OPEN_GBN     VARCHAR2(1)   */
     , (SELECT CD_VL_NM FROM TBCM_COMMON_CODE WHERE GRP_CMM_CD = 'ORG_OPEN_GBN' AND CD_VL = TB1.USE_YN AND MB_ID = #{MB_ID}) AS ORG_OPEN_GBN_NM /* 운영구분명 */
     , TB1.SORT_NO         /* 정렬순서                                       NUMBER(22)    */
     , TB1.IN_EMP_CD
     , TB1.IN_DTM
     , TB1.UP_EMP_CD
     , CASE WHEN TB1.UP_EMP_CD IS NOT NULL THEN '['||TB1.UP_EMP_CD||']'||' '||UP_EMP.EMP_NM 
     		ELSE ''
       END AS UP_EMP_NM
     , TO_CHAR(TB1.UP_DTM, 'YYYY-MM-DD') AS UP_DTM
     , TB1.CRE_EMP_CD
     , TB1.CRE_DTM
     , TB1.MDF_EMP_CD
     , TB1.MDF_DTM
]]>     
  FROM (SELECT * FROM TBIN_SCD_MONTH
         WHERE MB_ID = #{MB_ID}
           AND COM_YM = '${item.VALUE}'
        ) TB1
       LEFT OUTER JOIN TBIN_EMPMST UP_EMP
       ON TB1.UP_EMP_CD = UP_EMP.EMP_CD
       AND TB1.MB_ID    = UP_EMP.MB_ID
 WHERE TB1.SCD NOT IN ('9999')
   AND TB1.SCD IN (SELECT SCD
   				 	 FROM TBSY_USER_SCD_READ
   					WHERE EMP_CD = #{IN_EMP_CD})
    AND COM_YM = '${item.VALUE}'   
	<if test='@kr.co.fw.common.util.CommUtil@isNotEmpty(SRCH_SCD)'>
	AND TB1.SCD = #{SRCH_SCD}    
	</if>
	<if test='@kr.co.fw.common.util.CommUtil@isNotEmpty(SRCH_ORG_OPEN_GBN)'>    
	AND TB1.USE_YN = #{SRCH_ORG_OPEN_GBN}
	</if>
	<if test='@kr.co.fw.common.util.CommUtil@isNotEmpty(SRCH_ORG_UNIT_GBN)'>    
	AND TB1.ORG_UNIT_GBN = #{SRCH_ORG_UNIT_GBN}
	</if>
	<if test='@kr.co.fw.common.util.CommUtil@isNotEmpty(SRCH_ORG_VALUE)'>   
	AND ( UPPER(TB1.SNM) LIKE '%'||UPPER(#{SRCH_ORG_VALUE})||'%'
	  	  OR TB1.SCD = #{SRCH_ORG_VALUE}
		  OR TB1.SCD_HEAD IN (SELECT EMP_CD FROM TBIN_EMPMST WHERE EMP_NM = #{SRCH_ORG_VALUE})
		  OR TB1.EMP_CD IN (SELECT EMP_CD FROM TBIN_EMPMST WHERE EMP_NM = #{SRCH_ORG_VALUE})
	     )
	</if> 
	<if test='@kr.co.fw.common.util.CommUtil@isNotEmpty(SRCH_ORG_SCD)'>
		  START WITH TB1.SCD = #{SRCH_ORG_SCD}
		  CONNECT BY PRIOR TB1.SCD = TB1.PSCD
	</if>
	<if test='@kr.co.fw.common.util.CommUtil@isEmpty(SRCH_ORG_SCD)'>
	 	  START WITH TB1.PSCD IS NULL
	 	  CONNECT BY PRIOR TB1.SCD = TB1.PSCD 
	</if>
  ORDER SIBLINGS BY TB1.SORT_NO
) A  
</foreach>
) A
</select>

<!-- 조직 등록 -->
<insert id="insertOrgMonth" parameterType="OrgVO">
/* org-mapper.xml insertOrgMonth  월별 조직 마감 조직 */
INSERT
  INTO TBIN_SCD_MONTH  /* [IN][인사] 월별조직마감 */
     ( COM_YM		   /* 마감월 */
     , MB_ID           /* 회사코드                                 		 VARCHAR2(20)  */
     , SCD             /* 조직코드                                       VARCHAR2(20)  */
     , SNM             /* 조직명                                         VARCHAR2(50)  */
     , PSCD            /* 상위조직코드                                   VARCHAR2(20)  */
     , ORG_UNIT_GBN    /* 조직단위구분 : TBCM_COMMON_CODE = ORG_UNIT_GBN VARCHAR2(10)  */
     , BIZ_YN          /* 영업조직여부 : TBCM_COMMON_CODE = ORG_MNG_GBN  VARCHAR2(1)   */
     , ORG_STRT_YMD    /* 조직생성년월일                                 VARCHAR2(10)  */
     , ORG_END_YMD     /* 조직폐쇄년월일                                 VARCHAR2(10)  */
     , SCD_HEAD        /* 조직장                                         VARCHAR2(10)  */
     , EMP_CD          /* 조직담당자 : e.g) 총무                         VARCHAR2(10)  */
     , TELNO           /* 조직전화번호                                   VARCHAR2(14)  */
     , FAXNO           /* 조직팩스번호                                   VARCHAR2(20)  */
     , ZIPCD           /* 우편번호                                       VARCHAR2(6)   */
     , ADDR1           /* 주소1                                          VARCHAR2(200) */
     , ADDR2           /* 주소2                                          VARCHAR2(200) */
     , MEMO            /* 비고                                           VARCHAR2(200) */
     , USE_YN          /* 사용유무 : TBCM_COMMON_CODE = ORG_OPEN_GBN     VARCHAR2(1)   */
     , SORT_NO         /* 정렬순서                                       NUMBER(22)    */
     , IN_EMP_CD       /* 입력자                                         VARCHAR2(20)  */
     , IN_DTM          /* 입력일시                                       DATE(7)       */
     , CRE_EMP_CD
     , CRE_DTM
     , MDF_EMP_CD
     , MDF_DTM
     )
SELECT COM_YM		   /* 마감월 */
     , MB_ID           /* 회사코드 : VMK                                 VARCHAR2(20)  */
     , SCD             /* 조직코드                                       VARCHAR2(20)  */
     , SNM             /* 조직명                                         VARCHAR2(50)  */
     , PSCD            /* 상위조직코드                                   VARCHAR2(20)  */
     , ORG_UNIT_GBN    /* 조직단위구분 : TBCM_COMMON_CODE = ORG_UNIT_GBN VARCHAR2(10)  */
     , BIZ_YN          /* 영업조직여부 : TBCM_COMMON_CODE = ORG_MNG_GBN  VARCHAR2(1)   */
     , ORG_STRT_YMD    /* 조직생성년월일                                 VARCHAR2(10)  */
     , ORG_END_YMD     /* 조직폐쇄년월일                                 VARCHAR2(10)  */
     , SCD_HEAD        /* 조직장                                         VARCHAR2(10)  */
     , EMP_CD          /* 조직담당자 : e.g) 총무                         VARCHAR2(10)  */
     , TELNO           /* 조직전화번호                                   VARCHAR2(14)  */
     , FAXNO           /* 조직팩스번호                                   VARCHAR2(20)  */
     , ZIPCD           /* 우편번호                                       VARCHAR2(6)   */
     , ADDR1           /* 주소1                                          VARCHAR2(200) */
     , ADDR2           /* 주소2                                          VARCHAR2(200) */
     , MEMO            /* 비고                                           VARCHAR2(200) */
     , USE_YN          /* 사용유무 : TBCM_COMMON_CODE = ORG_OPEN_GBN     VARCHAR2(1)   */
     , SORT_NO         /* 정렬순서                                       NUMBER(22)    */
     , IN_EMP_CD       /* 입력자                                         VARCHAR2(20)  */
     , IN_DTM          /* 입력일시                                       DATE(7)       */
     , #{IN_EMP_CD}
     , SYSDATE
     , #{UP_EMP_CD}
     , SYSDATE
  FROM TBIN_SCD
</insert>


<!-- 조직 수정 -->
<update id="updateOrgMonth" parameterType="OrgVO">
/* org-mapper.xml updateOrgMonth 조직 수정 */
UPDATE TBIN_SCD_MONTH /* [IN][인사] 월별조직마감 */
   SET SNM          = #{SNM         }    /* 조직명                                         VARCHAR2(50)  */
     , PSCD         = #{PSCD        }    /* 상위조직코드                                   VARCHAR2(20)  */
     , ORG_UNIT_GBN = #{ORG_UNIT_GBN}    /* 조직단위구분 : TBCM_COMMON_CODE = ORG_UNIT_GBN VARCHAR2(10)  */
     , BIZ_YN       = #{BIZ_YN      }    /* 영업조직여부 : TBCM_COMMON_CODE = ORG_MNG_GBN  VARCHAR2(1)   */
     , ORG_STRT_YMD = #{ORG_STRT_YMD}    /* 조직생성년월일                                 VARCHAR2(10)  */
     , ORG_END_YMD  = #{ORG_END_YMD }    /* 조직폐쇄년월일                                 VARCHAR2(10)  */
     , SCD_HEAD     = #{SCD_HEAD    }    /* 조직장                                         VARCHAR2(10)  */
     , EMP_CD       = #{EMP_CD      }    /* 조직담당자 : e.g) 총무                         VARCHAR2(10)  */
     , TELNO        = #{TELNO       }    /* 조직전화번호                                   VARCHAR2(14)  */
     , FAXNO        = #{FAXNO       }    /* 조직팩스번호                                   VARCHAR2(20)  */
     , ZIPCD        = #{ZIPCD       }    /* 우편번호                                       VARCHAR2(6)   */
     , ADDR1        = #{ADDR1       }    /* 주소1                                          VARCHAR2(200) */
     , ADDR2        = #{ADDR2       }    /* 주소2                                          VARCHAR2(200) */
     , MEMO         = #{MEMO        }    /* 비고                                           VARCHAR2(200) */
     , USE_YN       = #{USE_YN      }    /* 사용유무 : TBCM_COMMON_CODE = ORG_OPEN_GBN     VARCHAR2(1)   */
     , SORT_NO      = #{SORT_NO     }    /* 정렬순서                                       NUMBER(22)    */
     , MDF_EMP_CD   = #{IN_EMP_CD   }    /* 마감수정자                                     VARCHAR2(20)  */
     , MDF_DTM      = SYSDATE            /* 마감수정일시                                   DATE(7)       */
 WHERE COM_YM 	= #{COM_YM}
   AND MB_ID 	= #{MB_ID}
   AND SCD 		= #{SCD}
</update>

<!-- 월별 조직 삭제 -->
<delete id="deleteOrgMonth" parameterType="OrgVO">
/* org-mapper.xml deleteOrgMonth 조직 삭제 */
DELETE TBIN_SCD /* [IN][인사] 조직마스터 */
 WHERE COM_YM 	= #{COM_YM}
   AND MB_ID 	= #{MB_ID}
   AND SCD 		= #{SCD}
</delete>

</mapper>
