<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Sms">

<insert id="insertMsgData" parameterType="kr.co.fw.common.sms.SmsVO" >
	/* Sms-mapper.xml insertMsgData 메시지데이터입력 (nPro) */
	<selectKey keyProperty="cont_seq" resultType="String" order="BEFORE">
		<![CDATA[
			select fn_get_nextval('cont_seq') from dual
		]]>
	</selectKey>
		INSERT INTO MSG_DATA (
			   CUR_STATE 	/* 현재상태 */
			 , REQ_DATE	 	/* 요청일 */
			 , CALL_TO	 	/* 수신번호 */
			 , CALL_FROM 	/* 발신번호 */
			 , SMS_TXT  	/* 메시지 내용 */
			 , MSG_TYPE  	/* 메시지 형태 */
			 , CONT_SEQ
		) VALUES (
			   0
			 , NOW()
			 , #{cust_hp}
			 , #{send_hp}
			 , SUBSTRING(#{sms_contents}, 1, 200)
			 , #{msg_type} /* 단문4, 장문6 */
			 , fn_get_currval('cont_seq')
		)
</insert>

<insert id="prc_sendShortSms" statementType="CALLABLE"  parameterType="kr.co.fw.common.sms.SmsVO">
	/* customer-mapper.xml prc_sendShortSms 단문메시지 전송 */
	call prc_insertSendLongSmsInfo(#{cust_hp}, #{sms_contents}, #{msg_type}, #{mms_subjecet})
</insert>

<insert id="prc_sendLongSms" statementType="CALLABLE"  parameterType="kr.co.fw.common.sms.SmsVO">
	/* customer-mapper.xml prc_sendLongSms 장문메시지 전송 */
	call prc_insertSendLongSmsInfo(#{cust_hp}, #{sms_contents}, #{msg_type}, #{mms_subjecet})
</insert>


<insert id="insertMmsContensInfo" parameterType="kr.co.fw.common.sms.SmsVO" >
	/* Sms-mapper.xml insertMmsContensInfo 콘텐츠정보 (nPro) */
	INSERT INTO MMS_CONTENTS_INFO (
		   CONT_SEQ
		 , MMS_REQ_DATE
		 , FILE_CNT
		 , MMS_BODY
		 , MMS_SUBJECT
	) VALUES (
		   #{cont_seq}
		 , NOW()
		 , 1
		 , #{sms_contents}
		 , #{mms_subjecet}
	)
</insert>

<insert id="insertMmsContensInfoHist" parameterType="kr.co.fw.common.sms.SmsVO" >
	/* Sms-mapper.xml insertMmsContensInfoHist 콘텐츠정보 (nPro) */
	INSERT INTO MMS_CONTENTS_INFO_HIST (
		   CONT_SEQ
		 , MMS_REQ_DATE
		 , FILE_CNT
		 , MMS_BODY
		 , MMS_SUBJECT
		 , INPP_CD
		 , MSG_TYPE
		 , CALL_TO
	) VALUES (
		   #{cont_seq}
		 , NOW()
		 , 0
		 , #{sms_contents}
		 , #{mms_subjecet}
		 , #{in_emp_cd}
		 , #{msg_type}
		 , #{cust_hp}
	)
</insert>

</mapper>
