<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Auth">
    
    
	<select id="selectAuthLogList" parameterType="kr.co.fw.system.auth.AuthVO" resultType="hmap">
		/* auth-mapper.xml selectAuthLogList 인증 이력 조회 */
		SELECT SEQ 				 /* NUMBER PK 일련번호 */
			 , RECEIVER 		 /* VARCHAR2(20) 수신자 ID */
			 , RECEIVER_NM 		 /* VARCHAR2(60) 수신자 이름 */
			 , SENDER			 /* VARCHAR2(20) 발신자 ID */
			 , AUTH_NO 			 /* VARCHAR2(10) 인증번호 */
			 , MATCH_YN 		 /* VARCHAR2(1) 인증번호 일치여부(인증여부) */
			 , IN_DTM 			 /* TIMESTAMP DEF SYSDATE 등록 일시 */
			 , UP_DTM 		 	 /* TIMESTAMP 인증 일시 */
	      FROM TBSY_AUTH_LOG TB1 /* [시스템] 인증 이력 */
	     WHERE 1 = 1 
	       <if test='@kr.co.fw.common.util.CommUtil@isNotEmpty(receiver)'>    
		   AND TB1.RECEIVER = #{receiver}
		   </if>
	       <if test='@kr.co.fw.common.util.CommUtil@isNotEmpty(receiver_nm)'>    
		   AND TB1.RECEIVER_NM = #{receiver_nm}
		   </if>
	       <if test='@kr.co.fw.common.util.CommUtil@isNotEmpty(srch_receiver)'>    
		   AND (TB1.RECEIVER = #{srch_receiver} OR TB1.RECEIVER_NM LIKE '%'||#{srch_receiver}||'%')
		   </if>
	       <if test='@kr.co.fw.common.util.CommUtil@isNotEmpty(sender)'>    
		   AND TB1.SENDER = #{sender}
		   </if>
	       <if test='@kr.co.fw.common.util.CommUtil@isNotEmpty(auth_no)'>    
		   AND TB1.AUTH_NO = #{auth_no}
		   </if>
	       <if test='@kr.co.fw.common.util.CommUtil@isNotEmpty(seq)'>    
		   AND TB1.SEQ = #{seq}
		   </if>
		   
		 ORDER BY TB1.IN_DTM DESC
	</select>
	
	<insert id="insertAuthLog" parameterType="kr.co.fw.system.auth.AuthVO" >
		<selectKey keyProperty="seq" resultType="String" order="BEFORE">
		 SELECT TBSY_AUTH_LOG_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		/* auth-mapper.xml insertAuthLog 인증 이력 입력 */
		INSERT 
		  INTO TBSY_AUTH_LOG 
		     ( 
		       SEQ 				 /* NUMBER PK 일련번호 */
			 <if test='@kr.co.fw.common.util.CommUtil@isNotEmpty(receiver)'>   
			 , RECEIVER 		 /* VARCHAR2(20) 수신자 ID */
			 </if>
			 <if test='@kr.co.fw.common.util.CommUtil@isNotEmpty(receiver_nm)'>   
			 , RECEIVER_NM 		 /* VARCHAR2(60) 수신자 이름 */
			 </if>
			 <if test='@kr.co.fw.common.util.CommUtil@isNotEmpty(sender)'>   
			 , SENDER			 /* VARCHAR2(20) 발신자 ID */
			 </if>
			 <if test='@kr.co.fw.common.util.CommUtil@isNotEmpty(auth_no)'>   
			 , AUTH_NO 			 /* VARCHAR2(10) 인증번호 */
			 </if>
			 <if test='@kr.co.fw.common.util.CommUtil@isNotEmpty(match_yn)'>   
			 , MATCH_YN 		 /* VARCHAR2(1) 증번호 일치여부(인증여부) */
			 </if>
			 , IN_DTM 			 /* TIMESTAMP DEF SYSDATE 등록 일시 */
		  	 )
		VALUES
		     ( #{seq} 					/* NUMBER PK 일련번호 */
			 <if test='@kr.co.fw.common.util.CommUtil@isNotEmpty(receiver)'>   
			 , #{receiver} 		 	 	 /* VARCHAR2(20) 수신자 ID */
			 </if>
			 <if test='@kr.co.fw.common.util.CommUtil@isNotEmpty(receiver_nm)'>   
			 , #{receiver_nm}    	 	 /* VARCHAR2(60) 수신자 이름 */
			 </if>
			 <if test='@kr.co.fw.common.util.CommUtil@isNotEmpty(sender)'>   
			 , #{sender}			 	 /* VARCHAR2(20) 발신자 ID */
			 </if>
			 <if test='@kr.co.fw.common.util.CommUtil@isNotEmpty(auth_no)'>   
			 , #{auth_no} 			 	 /* VARCHAR2(10) 인증번호 */
			 </if>
			 <if test='@kr.co.fw.common.util.CommUtil@isNotEmpty(match_yn)'>   
			 , #{match_yn} 		 	 	 /* VARCHAR2(1) 인증번호 일치여부(인증여부) */
			 </if>
			 , SYSDATE 			 	 	 /* TIMESTAMP DEF SYSDATE 등록 일시 */
		     )
	</insert>
	
	<update id="updateAuthLog" parameterType="kr.co.fw.system.auth.AuthVO" >
		/* auth-mapper.xml updateAuthLog 인증 이력 수정 */
		UPDATE TBSY_AUTH_LOG 
			 <if test='@kr.co.fw.common.util.CommUtil@isNotEmpty(receiver)'>   
			 , RECEIVER 		 = #{receiver}		/* VARCHAR2(20) 수신자 ID */
			 </if>
			 <if test='@kr.co.fw.common.util.CommUtil@isNotEmpty(receiver_nm)'>   
			 , RECEIVER_NM 		 = #{receiver_nm} 	/* VARCHAR2(60) 수신자 이름 */
			 </if>
			 <if test='@kr.co.fw.common.util.CommUtil@isNotEmpty(sender)'>   
			 , SENDER			 = #{sender}		/* VARCHAR2(20) 발신자 ID */
			 </if>
			 <if test='@kr.co.fw.common.util.CommUtil@isNotEmpty(auth_no)'>   
			 , AUTH_NO 			 = #{auth_no}		/* VARCHAR2(10) 인증번호 */
			 </if>
			 <if test='@kr.co.fw.common.util.CommUtil@isNotEmpty(match_yn)'>   
			 , MATCH_YN 		 = #{match_yn}		/* VARCHAR2(1) 증번호 일치여부(인증여부) */
			 </if>
			 <if test='@kr.co.fw.common.util.CommUtil@isNotEmpty(up_dtm)'>   
			 , UP_DTM 		 = SYSDATE 			/* TIMESTAMP 인증 일시 */
			 </if>
		 WHERE SEQ = #{SEQ}
	</update>
	
	
	<delete id="deleteAuthLog" parameterType="kr.co.fw.system.auth.AuthVO" >
		/* auth-mapper.xml deleteAuthLog 인증 이력 삭제 */
		DELETE TBSY_AUTH_LOG 
		 WHERE SEQ = #{seq}
	</delete>

</mapper>
