@charset "utf-8";

@import url(font.css);
/* @import url(‘all2.css’); */

/* 
공통 설정
*/
*,
html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'NotoSansCJKkr', 'Roboto', 'Helvetica Neue',
    'Apple SD Gothic Neo', 'Malgun Gothic', dotum, sans-serif;
}

html {
  font-size: 14px;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

/* For the "inset" look only */

html {
  overflow-x: hidden;
  overflow-y: auto;
}

body:hover {}

body .modal {
  overflow: hidden;
}

/* Let's get this party started */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.2);
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

.ir {
  display: block;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  font-size: 1px;
  text-indent: -9999em;
  line-height: 0;
}

.hide {
  display: inline-block;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  z-index: -10;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  font-size: medium;
  line-height: 0;
  word-break: break-all;
  opacity: 0 !important;
  filter: alpha(opacity=0);
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(opacity=0)';
}

.disabled {
  cursor: default;
}

.blind {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  border: 0 !important;
  overflow: hidden !important;
  font-size: medium !important;
  line-height: 1 !important;
}

.blind:before {
  content: '\00a0';
  display: block;
  width: 0;
  height: 0;
  font-size: 0;
}

label.blind:before {
  content: none;
}

a,
a:hover {
  color: #000;
  text-decoration: none !important;
}

a:focus {
  text-decoration: none !important;
}

ul,
ol,
dl {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul::after,
dl::after,
ol::after {
  content: '';
  display: block;
  clear: both;
}

.clearfix:after {
  content: '';
  clear: both !important;
  display: bloc !important;
}

.flex_box {
  display: flex !important;
  align-items: center;
}

.flex_box.align_start {
  align-items: flex-start;
}

.wid100 {
  width: 100%;
}

.mr5 {
  margin-right: 5px;
}

.mt25 {
  margin-top: 25px;
}

.mt10 {
  margin-top: 10px;
}

.t_c {
  text-align: center;
}

a {
  outline: none;
}

/* Form */
input[type='button'] {
  outline: none;
}

button {
  padding: 0;
  border: none;
  background: none;
  letter-spacing: -1px;
  cursor: pointer;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* 메뉴 */
header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999999;
}

header h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
}

header h1 img {
  width: 70% !important;
}

header .go_home {
  position: absolute;
  top: 12px;
  right: 12px;
}

header .go_home img {
  width: 25px;
  image-rendering: -webkit-optimize-contrast;
  transform: translateZ(0);
  backface-visibility: hidden;
}

.top_wrapper .go_home {
  position: absolute;
  top: 16px;
  right: 12px;
}

.top_wrapper .go_home img {
  width: 25px;
  image-rendering: -webkit-optimize-contrast;
  transform: translateZ(0);
  backface-visibility: hidden;
}


.go_home.sub {
  position: absolute;
  top: 12px;
  right: 12px;
}

.go_home.sub img {
  width: 25px;
  image-rendering: -webkit-optimize-contrast;
  transform: translateZ(0);
  backface-visibility: hidden;
}

header .welcome {
  padding: 20px;
  font-size: 16px;
  background: url('../images/lnb_bg.png') 0 no-repeat;
  background-size: cover;
  height: 160px;
  position: relative;
  margin-bottom: 30px;
}

header .welcome span {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
}

header .welcome span em {
  font-style: normal;
  color: #fff;
  font-weight: bold;
  margin-top: 40px;
  margin-left: 10px;
}

.not_scroll {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%
}

#menu-container {
  box-shadow: 0px 2px 8px 1px rgb(0 0 0 / 20%);
}

#menu-wrapper {
  overflow: hidden;
  max-width: 505px;
  cursor: pointer;
}

#menu-wrapper #hamburger-menu {
  position: relative;
  width: 19px;
  height: 20px;
  margin: 15px;
}
#menu-wrapper #hamburger-menu::after {
  content: '';
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #1e5ddf;
  display: inline-block;
  margin-top: -6px;
  margin-left: -5px;
}

#menu-wrapper #hamburger-menu span {
  opacity: 1;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
  left: 3px;
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 10px;
  color: black;
  background-color: #fff;
  position: absolute;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

#menu-wrapper #hamburger-menu span:nth-child(1) {
  top: 4px;
}

#menu-wrapper #hamburger-menu span:nth-child(2) {
  top: 11px;
}

#menu-wrapper #hamburger-menu span:nth-child(3) {
  top: 18px;
}

#menu-wrapper #hamburger-menu.open span:nth-child(1) {
  top: 9px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

#menu-wrapper #hamburger-menu.open span:nth-child(2) {
  opacity: 0;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
  left: -60px;
}

#menu-wrapper #hamburger-menu.open span:nth-child(3) {
  top: 9px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

#menu-container .menu-list .menu-submenu {
  padding: 0;
}

#menu-container .menu-list .menu-submenu li a {
  display: block;
  padding: 10px 0 10px 20px;
}

#menu-container .menu-list .menu-submenu li a:hover {
  background: #eee;
}

#menu-container .menu-list {
  padding-left: 0;
  display: block;
  position: fixed;
  width: 92%;
  max-width: 450px;
  height: calc(100% - 50px);
  background: white;
  z-index: 999;
  overflow-y: auto;
  overflow-x: hidden;
  left: -100%;
  padding-bottom: 25px;
  transition: 500ms ease-in-out;
}
#menu-container .menu-list.active {
  left: 0%;
}

#menu-container .menu-list li.accordion-toggle,
#menu-container .menu-list .menu-login {
  font-size: 16px;
  padding: 20px;
  text-transform: uppercase;
  border-top: 1px solid #dbdcd2;
}

#menu-container .menu-list li {
  display: flex;
  align-items: center;
  margin: 0 20px;
  padding: 20px 0px 10px !important;
}

#menu-container .menu-list li:first-of-type {
  border-top: 0;
}

#menu-container .menu-list li>.icon-plus {
  position: relative;
  margin-right: 10px;
  margin-left: 6px;
  text-align: center;
}

#menu-container .menu-list li>.icon-plus>img {
  height: 25px;
}

#menu-container .menu-list li .menu-link {
  color: #7e8081;
}

#menu-container .menu-list .btn {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 0 20px 0px;
  margin-top: 20px;
}

#menu-container .menu-list .btn .b_logout {
  background: linear-gradient(90deg, #329ae9, #1e5ddf);
  color: #fff;
  font-weight: bold;
  text-align: center;
  flex: 1;
  padding: 12px 0;
  border-radius: 8px;
}

#menu-container .menu-list .btn .b_logout>img {
  width: 18px;
}

#menu-container .menu-list .btn .b_lock {
  background: linear-gradient(90deg, #329ae9, #1e5ddf);
  color: #fff;
  font-weight: bold;
  text-align: center;
  flex: 1;
  padding: 12px 0;
  border-radius: 8px;
}

#menu-container .menu-list .btn .b_lock>img {
  height: 18px;
}

.accordion-toggle,
.accordion-content {
  cursor: pointer;
  font-size: 16px;
  position: relative;
  letter-spacing: 1px;
}

.accordion-content {
  display: none;
}

.accordion-toggle a:before,
.accordion-toggle a:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -1px;
  border-top: 1px solid #333;
  border-right: 1px solid #333;
  transform: rotate(45deg);
  width: 10px;
  height: 10px;
}

.accordion-toggle.active-tab {
  background: yellowgreen;
  transition: all 0.3s ease;
}

.accordion-toggle a.active:before {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  background: #fff !important;
}

.accordion-toggle a.active:after {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  background: #fff !important;
  opacity: 0;
}

/* 메뉴 끝 */

/* 메인슬라이드 */
.swiper-container {
  width: 100%;
  height: 180px;
  position: relative;
  overflow: hidden;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.mySwiper .swiper-slide:nth-of-type(1) {
  background: url('../images/main_banner_01.jpeg') 0 no-repeat;
  /*object-fit: contain;*/
  background-size : cover; 
  height: 180px; 
  /* background-size : 336px; */
  background-position : center;
}
.mySwiper .swiper-slide:nth-of-type(2) {
  background: url('../images/main_banner_02.jpg') 0 no-repeat;
  background-size : cover; 
  height: 180px; 
  background-position : center;
}
.mySwiper .swiper-slide:nth-of-type(3) {
  background: url('../images/main_banner_03.jpg') 0 no-repeat;
  background-size : cover; 
  height: 180px; 
  background-position : center;
}
.mySwiper .swiper-slide:nth-of-type(4) {
  background: url('../images/main_banner_04.jpg') 0 no-repeat;
  background-size : cover; 
  height: 180px; 
  background-position : center;
}

.mySwiper2 {
  margin-top: 20px;
  background: #f9f9f9;
  border: 1px solid #dedede;
}

.mySwiper2 .swiper-slide {
  display: flex;
}

.mySwiper2 .txt {
  margin-left: 14px;
}

.mySwiper2 .txt p {
  text-align: left;
  font-size: 15px;
}

.mySwiper2 .txt .logo_txt {
  font-weight: bold;
  color: #000;
  padding-bottom: 10px;
}

.mySwiper2 .txt .date {
  padding-top: 10px;
  color: #999;
}

.mySwiper2 .logo>img {
  width: 70px;
}

:root {
  --swiper-theme-color: #42408e !important;
  --btn-theme-color: #f99f1f !important;

}

:root {
  --swiper-navigation-size: 20px !important;
}

.point_color {
  color: var(--swiper-theme-color);
}

.swiper-container-horizontal>.swiper-pagination-progressbar,
.swiper-container-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  top: auto !important;
  bottom: 0 !important;
}

.swiper-horizontal>.swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal,
.swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
.swiper-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  top: auto !important;
  bottom: 0px;
}

/* 메인슬라이드 끝 */

/* 메인 메세지 */
.message_wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
}

.message_wrap>.tit {
  color: #fff;
  border-radius: 10px 10px 0 0;
  background: #333;
  padding: 10px;
  background: linear-gradient(#f7981d, #f4bf45);
}

.message_wrap ul li {
  display: flex;
  background: #dbdcdd;
  padding: 20px;
}
.message_wrap.sub ul li {
  display: none;
  background: #fff;
  padding: 20px;
}

.message_wrap ul li .logo {
  width: 80px;
  height: 50px;
  background: transparent;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  border-radius: 5px;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 8px;
}
.message_wrap ul li .logo>img {
  width: 70px;
}

.message_wrap ul {
  width: 100%;
}

.message_wrap ul li .inner {
  overflow: hidden;
}

.message_wrap ul li .inner .tit {
  display: flex;
  justify-content: space-between;
}

.message_wrap ul li .inner span:nth-of-type(1) {
  font-weight: bold;
  color: #333;
  background: #ddd;
  padding: 2px 0px;
  border-radius: 3px;
}
.message_wrap.sub ul li .inner span:nth-of-type(1) {
  font-weight: bold;
  color: #333;
  background: #fff;
  padding: 2px 0px;
  border-radius: 3px;
}

.message_wrap ul li .inner span:nth-of-type(2) {
  color: #999;
}

.message_wrap ul li .inner .txt {
  margin-top: 5px;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.message_wrap.sub ul li .inner .txt {
  overflow: visible;
  height: auto;
  -webkit-line-clamp: initial;
}

/* quick menu */
.quick_wrap {
  display: flex;
  flex-direction: column;
}

.quick_wrap>.tit {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #000;
  margin: 30px 0 5px;
  width: 100%;
  padding-bottom: 5px;
  border-bottom: 1px solid #ddd;
}

.quick_wrap ul li {
  display: flex;
  margin-top: 8px;
}

.quick_wrap ul li>span:nth-of-type(1) {
  margin-left: 0px;
}

.quick_wrap ul li>span {
  margin-left: 8px;
  width: calc((100% / 4));
  text-align: center;
  line-height: 1.3;
  padding: 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quick_wrap ul li>span>a {
  color: #666;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: -1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quick_wrap ul li>span img {
  display: block;
  margin-bottom: 5px;
  height: 24px;
}

.checkbox,
.radio {
  margin: 0;
  padding: 0;
}

.checks.login {
  position: relative;
}

.checks.login input[type='checkbox'] {
  /* 실제 체크박스는 화면에서 숨김 */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.checks.login input[type='checkbox']+label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  font-size: 14px;
  color: #acabab;
}

.checks.login input[type='checkbox']+label:before {
  /* 가짜 체크박스 */
  content: ' ';
  display: inline-block;
  width: 20px;
  /* 체크박스의 너비를 지정 */
  height: 20px;
  /* 체크박스의 높이를 지정 */
  line-height: 20px;
  /* 세로정렬을 위해 높이값과 일치 */
  margin: -2px 8px 0 0;
  text-align: center;
  vertical-align: middle;
  background: url('../images/check-square-regular@2x.png') 0 no-repeat;
  background-size: cover;
}

.checks.login input[type='checkbox']:checked+label {
  color: #4f83cc;
  font-weight: bold;
}

.checks.login input[type='checkbox']:checked+label:before {
  /* 체크박스를 체크했을때 */
  content: '';
  /* 체크표시 유니코드 사용 */
  background: url('../images/check-over-square-regular@2x.png') 0 no-repeat;
  background-size: cover;
}

/* 인풋박스 라인 하나짜리 */
input.one_line {
  border: 0px;
  border-bottom: 1px solid #f0f0f0;
  background: transparent;
  height: 20px;
  font-size: 16px;
  flex: 1;
}

input.one_line::placeholder {
  font-size: 16px;
  color: #ccc;
}

input.one_line.login {
  line-height: 47px;
  margin-bottom: 10px;
}

input.one_line.login:last-child {
  margin-bottom: 0;
}

/* selectBox */
.select_wrap {
  position: relative;
  display: inline-block;
  height: 40px;
  text-align: left;
  vertical-align: middle;
  box-sizing: border-box;
}

.select_wrap select {
  padding: 0 50px 0 20px;
  font-size: 18px;
}

.select_wrap .selected {
  display: block;
  border: 1px solid #ddd;
  height: 52px;
  line-height: 52px;
  font-size: 14px;
  font-weight: 500;
  background-color: #f9f9f9;
  color: #000;
  box-sizing: border-box;
}

.select_wrap .selected>span {
  display: block;
  padding: 0 40px 0 20px;
}

/* .select_wrap .selected:after {content:""; position:absolute; right:0; top:0; width:38px; height:38px; } */
.select_wrap .selected:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 13px;
  z-index: 10;
  margin-top: 0px;
  width: 8px;
  height: 8px;
  border-bottom: 1px solid #333;
  border-left: 1px solid #333;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all ease 0.3s;
}

/* .select_wrap .selected:after {
} */
.select_wrap .selected.placeholder {
  color: #999;
}

.select_wrap .selected.disabled {
  color: #999;
}

.select_wrap.open .selected:after {
  margin-top: -1px;
  -webkit-transform: rotate(-225deg);
  -ms-transform: rotate(-225deg);
  transform: rotate(-225deg);
  transition: all ease 0.2s;
}

.board_search_wrap .select_wrap .selected {
  background: #fff;
  height: 47px;
  line-height: 47px;
}

.board_search_wrap .select_wrap .selected:after {
  margin-top: -3px;
}

.select_list_wrap {
  position: absolute;
  top: 51px;
  right: 0;
  left: 0;
  width: 100%;
  max-height: 242px !important;
  border: 1px solid #ddd;
  background: #fff;
  overflow: auto;
  z-index: 15;
  overflow-y: hidden;
}

.select_list_wrap li {
  padding: 5px 20px 5px 20px !important;
  display: block;
  border-bottom: 0;
}

.select_list_wrap li a {
  display: block;
}

.select_list_wrap li span {
  display: inline-block;
  padding: 6px 0;
  color: #000;
  font-size: 13px;
}

.select_list_wrap li.on {
  background-color: #f9f9f9;
}

.select_list_wrap li.on span {
  color: #000;
}

/* Button */
.btn:active,
.btn.active {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn_full {
  width: 100%;
}

.btn_w400 {
  min-width: 400px;
}

.btn_w200 {
  min-width: 200px;
}

.btn+.btn {
  margin-left: 5px;
}

.btn_wrap.left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.btn_wrap.right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.btn_wrap.right.login {
  margin-top: 10px;
  margin-bottom: 55px;
}

.btn_wrap.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btn_wrap.login {
  margin-top: 104px;
}

.btn.login {
  font-size: 18px;
  font-weight: bold;
  height: 48px;
  line-height: 48px;
  background: #f6f037;
  width: 100%;
  border: 0;
}

.b_find_email,
.b_cs {
  color: #acabab;
  position: relative;
}

.b_find_email::after {
  content: '';
  position: relative;
  width: 1px;
  height: 16px;
  background: #acabab;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  top: 2px;
}

/*toggle*/
.toggle_list {
  border-top: 1px solid #1a1a1a;
}

.toggle_list .panel {
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid #e6e6e6;
  padding: 16px 0;
  box-shadow: none;
}

.toggle_list .panel .panel-heading {
  border-radius: 0;
  padding: 0;
  display: table;
  width: 100%;
}

.toggle_list .panel .status {
  display: table-cell;
  width: 120px;
  color: #1a1a1a;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: -0.7px;
  text-align: center;
}

.toggle_list .panel .score {
  display: table-cell;
  width: 120px;
  text-align: center;
}

.toggle_list .panel .subject {
  display: table-cell;
  color: #1a1a1a;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: -0.7px;
}

.toggle_list .panel .subject>.product {
  color: #666;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: -0.7px;
}

.toggle_list .panel .register {
  display: table-cell;
  width: 100px;
  color: #666;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: 0;
  text-align: center;
}

.toggle_list .panel .date {
  display: table-cell;
  width: 120px;
  font-family: 'Roboto';
  color: #666;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0px;
  text-align: center;
}

.toggle_list .panel .panel-heading .arrow {
  position: relative;
}

.toggle_list .panel .panel-heading .arrow a.accordion-toggle::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 30px;
  z-index: 10;
  margin-top: -4px;
  width: 8px;
  height: 8px;
  border-bottom: 1px solid #1a1a1a;
  border-left: 1px solid #1a1a1a;
  -webkit-transform: rotate(-225deg);
  -ms-transform: rotate(-225deg);
  transform: rotate(-225deg);
  transition: all ease 0.3s;
}

.toggle_list .panel .panel-heading .arrow a.accordion-toggle.collapsed::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all ease 0.2s;
}

.toggle_list .panel .panel-body {
  padding: 0;
}

.toggle_list .panel .cont {
  margin-top: 21px;
  margin-right: 120px;
  margin-left: 120px;
  color: #666;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: -0.7px;
}

.toggle_list .panel .answer_cont {
  margin-top: 21px;
  margin-right: 120px;
  margin-left: 120px;
  padding-left: 20px;
  color: #1a1a1a;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: -0.7px;
  position: relative;
}

.toggle_list .panel .ask_answer::before {
  content: '';
  border-bottom: 1px solid #666;
  border-left: 1px solid #666;
  width: 9px;
  height: 9px;
  position: absolute;
  top: 4px;
  left: 0;
}

.toggle_list .panel .ask_answer .badge {
  border-radius: 0;
  background-color: #1a1a1a;
  width: 60px;
  margin-right: 10px;
  padding: 4px 0 5px;
  color: #fff;
  letter-spacing: -0.6px;
}

/* 
레이어팝업
*/
.layerPopup.login_guide {
  width: 100%;
  min-width: auto;
  height: 100%;
  background: transparent;
  padding: 0 40px;
}
.layerDim.keep {
  display: block;
  z-index: -1;
}

.layerPopup {
  opacity: 0;
  position: absolute;
  left: 50%;
  min-width: 450px;
  background-color: #fff;
  z-index: -1;
  transform: translate(-50%);
  transition: all 0.3s ease;
}

.layerPopup.active,
.layerContainer.active {
  opacity: 1;
  z-index: 120;
}

.layerPopup .content {
  position: relative;
}

.layerPopup .content.w600 {
  width: 600px;
}

.layerPopup .content.w640 {
  width: 640px;
}

.layerPopup .content h2 {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  color: #1a1a1a;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -1.2px;
  text-align: center;
}

.layerPopup .content .layerBody {
  padding: 15px;
  text-align: center;
}

.layerPopup .content .layerBody h3 {
  color: #1a1a1a;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  letter-spacing: -1px;
  text-align: left;
}

.layerPopup .content .layerBody p {
  margin: 0;
  padding: 0;
  color: #1a1a1a;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: -0.8px;
}

.layerPopup .content .layerBody .box {
  padding: 28px 0;
  background-color: #f9f9f9;
}

.layerPopup .content .layerBody .box>p {
  color: #1a1a1a;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: -0.8px;
}

.layerPopup .content .layerBody .btn_area {
  margin-top: 38px;
}

.layerPopup .dayCheck {
  height: 50px;
  padding: 12px 60px 11px 20px;
  background-color: #fff;
  display: table;
  width: 100%;
}

/* .layerPopup .dayCheck label {margin-right:0;color:#666;font-size:14px;line-height:20px;font-weight:500;letter-spacing:-0.7px;} */
.layerPopup .popClose {
  display: block;
  position: absolute;
  top: 30px;
  right: 30px;
  width: 32px;
  height: 32px;
  background: url('../images/common/icon_close.png') no-repeat 0 -20px;
  color: transparent;
  font-size: 0;
}

.layerPopup .textClose {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 15px;
  color: #1a1a1a;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: -0.7px;
}

.layerDim {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.4;
  filter: alpha(opacity=40);
  color: transparent;
  font-size: 0;
  z-index: 90;
}

.layerDim.active {
  display: block;
}

#layerDim {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.4;
  filter: alpha(opacity=40);
  color: transparent;
  font-size: 0;
  z-index: 90;
}

.top_wrapper .go_back {
  font-size: 0px;
}

.top_wrapper .go_back:before {
  content: '';
  background: url('../images/arrow_back.png') 0 no-repeat;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 20px;
  left: 24px;
}

/* 각 페이지 */
.wrapper_lock {
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex: 1;
  background: url('../images/bg_sub.png') 0 no-repeat;
  background-size: cover;
}

.wrapper_lock.loading {
  background: url('../images/bg_loding.png') 0 no-repeat;
  background-size: cover;
}

.wrapper_lock h2 {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
  margin: 0;
  color: #fff;
}

.wrapper_lock.health {
  background: url('../images/bg_health.png') 0 no-repeat;
  background-size: cover;
}
.wrapper_lock.flying {
  background: url('../images/bg_flying.png') 0 no-repeat;
  background-size: cover;
}
.wrapper_lock.partner {
  background: url('../images/bg_partner.png') 0 no-repeat;
  background-size: cover;
  height: 100%;
  overflow-y: auto;
}
.wrapper_lock.partner header {
  background: url('../images/bg_partner.png') 0 no-repeat;
  background-size: cover;
  background-position: top center;
}

.wrapper_notice {
  padding: 0 0 20px;
  display: flex;
  flex-direction: column;
  flex: 1;
  background-size: cover;
  position: relative;
}
.wrapper_notice.output {
  background: #f2f2f4;
}
.wrapper_notice::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  height: 20px;
  width: 100%;
  background: #1e5ddf;
}
.wrapper_notice h2 {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  padding-bottom: 20px;
  margin-top: -7px;
  color: #fff;
}

.wrapper_notice .top_wrapper {
  background: linear-gradient(90deg, #3299e8, #1e5fe0);
}


.wrapper_company {
  padding: 20px 20px 50px;
  display: flex;
  flex-direction: column;
  flex: 1;
  background: url('../images/bg_sub.png') 0 no-repeat;
  background-size: cover;
  position: relative;
}

.wrapper_company h2 {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  padding-bottom: 20px;
  margin-top: -27px;
  color: #fff;
}
.wrapper_company::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 20px;
  width: 100%;
  background: #1e5ddf;
}




.wrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.wrapper.center {
  align-items: center;
}

.wrapper>section {
  flex-basis: 100%;
}

.wrapper_main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex: 1;
  background: url('../images/bg_sub.png') 0 no-repeat;
  background-size: cover;
}

.wrapper_main>section.main {
  flex-basis: calc(100% - 50px);
  margin-top: 50px;
}

/* 로그인 */
.login_wrapper {}

.login_wrapper h2 {
  font-size: 1.714em;
  font-weight: bold;
}

.login_wrapper .tit_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 55px;
}

.login_wrapper .tit_wrap .b_join {
  font-size: 18px;
}

.login_wrapper .input_wrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 45px;
}

.btn_wrap.login {
  position: relative;
}

.login_error {
  background: #f0f0f0;
  padding: 15px 12px;
  color: #fe061f;
  line-height: 20px;
  position: absolute;
  margin-bottom: 68px;
  bottom: 0px;
  left: 0px;
  display: none;
  width: 100%;
}

.etc_login_txt {
  color: #acabab;
  position: relative;
  text-align: center;
  display: flex;
  flex-basis: 100%;
  align-items: center;
  margin: 8px 0px;
}

.etc_login_txt:before {
  content: '';
  flex-grow: 1;
  margin-right: 28px;
  background: #ccc;
  height: 1px;
  font-size: 0px;
  line-height: 0px;
}

.etc_login_txt:after {
  content: '';
  flex-grow: 1;
  margin-left: 28px;
  background: #ccc;
  height: 1px;
  font-size: 0px;
  line-height: 0px;
}

.login_sns {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
}

.login_sns a.naver {
  font-size: 0;
  width: 64px;
  height: 63.78px;
  background: url('../images/login_naver@2x.png') 0 no-repeat;
  background-size: cover;
  margin-right: 24px;
  position: relative;
}

.login_sns a.naver::after {
  content: '\A마지막으로\A로그인한 계정~';
  white-space: pre;

  padding-left: 6px;
  color: #000;
  font-size: 12px;
  line-height: 16px;
  width: 97px;
  height: 59px;
  overflow: hidden;
  position: absolute;
  display: block;
  background: url('../images/login-tooltip@2x.png') 0 no-repeat;
  background-size: contain;
  top: 64px;
  left: -28px;
}

.login_sns a.kakao {
  font-size: 0;
  width: 64px;
  height: 63.78px;
  background: url('../images/login_kakao@2x.png') 0 no-repeat;
  background-size: cover;
  margin-right: 24px;
}

.login_sns a.google {
  font-size: 0;
  width: 64px;
  height: 63.78px;
  background: url('../images/login_google@2x.png') 0 no-repeat;
  background-size: cover;
}

.layerPopup.login_guide .content.login_guide_wrap {
  width: 100%;
  min-height: 217px;
  background: #fff;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.layerPopup.login_guide .content.login_guide_wrap h2 {
  font-size: 18px;
  font-weight: bold;
}

.layerPopup.login_guide .content.login_guide_wrap .layerBody .desc {
  color: #acabab;
  line-height: 24px;
}

.layerPopup.login_guide .content.login_guide_wrap .btn_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #f0f0f0;
  position: relative;
  bottom: 0;
  padding: 0;
}

.layerPopup.login_guide .content.login_guide_wrap .btn_wrap .cancle {
  font-size: 18px;
  font-weight: bold;
  color: #acabab;
  display: block;
  text-align: center;
  flex: 1;
  padding: 20px 0px;
  border-right: 1px solid #f0f0f0;
  border: 0;
  outline: none;
}

.layerPopup.login_guide .content.login_guide_wrap .btn_wrap .ok {
  font-size: 18px;
  font-weight: bold;
  color: #fe061f;
  display: block;
  text-align: center;
  flex: 1;
  padding: 20px 0px;
}

/* 본인인증 */
.self_certification {}

.self_certification.lock {
  color: #fff;
}

.self_certification.join {
  background: #fff;
  padding: 30px;
}

.self_certification h2 {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
  margin: 0;
}

.self_certification .desc {
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  padding-bottom: 20px;
  /* border-bottom: 1px solid #f0f0f0; */
}

.self_certification.lock .desc {
  color: #fff;
}

.self_certification .b_self_certi {
  border: 2px solid #ccc;
  width: 145px;
  padding: 8px 0px;
  margin: 0 auto;
  display: block;
  text-align: center;
  border-radius: 20px;
  font-size: 16px;
  color: #202020;
  position: relative;
  z-index: 10;
}

/* 핀패드 */
.pad_wrap {
  /* position: absolute;
  bottom: 90px;
  width: 100%;
  padding: 0 24px;
  left: 50%;
  transform: translateX(-50%); */
}

#pinpad {}

#pinpad .password_wrap {
  position: relative;
}

input[type='password'].pinpad {
  width: 100%;
  max-width: 140px;
  border: 0;
  outline: none;
  font-size: 4rem;
  text-align: center;
  color: #fff;
  margin: auto;
  display: block;
  background: transparent;
  z-index: 2;
  position: relative;
  letter-spacing: -0.25px;
}

/*
.password_wrap::after {
  content: "● ● ● ●";
  display: block;
  position: absolute;
  top: 89px;
  letter-spacing: -2px;
  white-space: pre;
  font-size: 3em;
  color: #E1D9D9;
  left: 50%;
  transform: translateX(-50%);
  text-align: right;
}
*/

input:focus {
  outline: none;
}

.pinButton {
  border: 0;
  font-size: 30px;
  background: #dedfe0;
  width: calc((100% / 3) - 8px);
  height: 66px;
  margin-right: 12px;
  margin-bottom: 10px;
  color: #333;
  padding: 0;
  display: inline-block;
  float: left;
}

.pinButton:nth-child(4n+0) {
  margin-right: 0px;
}

.clear1 {
  font-size: 2.5rem;
}

.clear,
.enter {
  font-size: 0;
  position: relative;
  background: url('../images/arrow-circle-left-solid.png') 0 no-repeat;
  background-color: #bbb;
  background-position: center center;
}

.clear::before {
  content: '';
  background: url('../images/arrow-circle-left-solid.png') 0 no-repeat;
  width: 32px;
  height: 32px;
  position: relative;
  display: inline-block;
}

.pinButton:active {
  background: #999;
  color: #fff;
}

.clear:hover {}

.clear:active {
  background: url('../images/arrow-circle-left-solid.png') 0 no-repeat;
  background-position: center center;
  background-color: #999;
}

.enter:hover {
  box-shadow: #47cf73 0 0 1px 1px;
}

.enter:active {
  background: #47cf73;
  color: #fff;
}

.btn_wrap {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  padding: 0 30px;
  width: 100%;
  padding-top: 30px;
}

.b_cancle {
  height: 48px;
  font-size: 18px;
  font-weight: bold;
  flex: 1;
  background: var(--btn-theme-color);
  border-radius: 10px;
  box-shadow: 0px 20px 21px -15px rgb(97 87 195);
}

.b_ok {
  height: 48px;
  font-size: 18px;
  font-weight: bold;
  background: #333;
  flex: 1;
  margin-left: 10px;
  color: #231f20;
  background: var(--btn-theme-color);
  border-radius: 10px;
  box-shadow: 0px 20px 21px -15px rgb(97 87 195);
}

.b_point {
  height: 48px;
  font-size: 18px;
  font-weight: bold;
  background: #f99f1f;
  flex: 1;
  color: #333;
  border-radius: 10px;
}

/* 체크박스 */
.check-menu-box {}

.check-menu-box>div {
  padding: 5px 0;
}

.check-menu-box>div:first-child {
  border-bottom: 1px solid #f0f0f0;
  padding-bottom: 15px;
}

.check-menu-box>div:nth-child(2) {
  padding-top: 15px;
}

.check-menu-box>div>label {
  color: #979797;
  font-size: 15px;
  padding-left: 40px;
}

input[type='checkbox'] {
  display: none;
}

input[type='checkbox']+label {
  cursor: pointer;
}

input[type='checkbox']+label:before {
  content: '';
  width: 25px;
  height: 25px;
  position: absolute;
  left: 0;
  background-color: #eeeeee;
  border-radius: 50%;
  box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.1),
    0px 1px 0px 0px rgba(255, 255, 255, 0.5);
}

.check-menu-box {
  position: relative;
}

input[type='checkbox']:checked+label {
  color: #333;
}

input[type='checkbox']:checked+label:before {
  content: 'v';
  font-size: 15px;
  color: #fff;
  background: #f99f1f;
  text-align: center;
}

/* 약관동의 */
.logo_findwell {
  display: block;
  text-align: center;
}

.logo_findwell>img {
  width: 60%;
}

.textarea_wrap {
  padding-left: 40px;
}

.textarea_agree {
  border: 1px solid #f0f0f0;
  background: #efefef;
  font-size: 15px;
  color: #666;
  height: 80px;
  width: 100%;
  padding: 10px;
}

.input_text_wrap {
  display: flex;
  position: relative;
}
.input_text_wrap.no_flex {
  display: flex;
  flex-direction: column;
}
.input_text_wrap.no_flex .text_box {
  flex: initial;
}

.input_text_wrap .timer {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: red;
}

.input_text_wrap .text_box {
  border: 1px solid #87898b;
  height: 40px;
  background: #fff;
  padding: 2px 5px;
  flex: 1;
}

.input_text_wrap .text_box::placeholder {
  color: #333;
}

.b_search {
  height: 40px;
  background: #f99f1f;
  color: #333;
  padding: 0 15px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
}

.txt_welcome {
  height: 315px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.txt_welcome>span {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  position: absolute;
  width: 100%;
  display: block;
  color: #fff;
  margin-top: 30px;
}

.txt_welcome>img {
  width: 80%;
}

.pw_view {
  margin-top: 15px;
  background: #e8e8e8;
  padding: 12px;
}

.pw_view>p {
  text-align: center;
}

.pw_view>p:nth-of-type(2) {
  font-size: 22px;
  font-weight: 800;
  color: #000;
  letter-spacing: 0.5rem;
}

.notice_search_bar {
  background: #f99f1f;
  display: flex;
  gap: 5px;
  width: 100%;
  padding: 10px 20px;
}

.notice_search_bar .input_notice {
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.5);
  border: 0;
  flex: 1;
  height: 27px;
  padding: 0 10px;
}

.notice_search_bar .b_input_notice {
  font-size: 0;
  width: 30px;
  background: url('../images/b_notice_search.png') 0 no-repeat;
  background-size: contain;
}

.notice_list {
  padding: 20px;
}
.notice_list ul li a {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  background-color: #F1F2F2;
  padding: 10px 15px;
}
.notice_list ul li a::before {
  content: '';
  display: inline-block;
  width: 5px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #1e5ddf;
}
.notice_list ul li div:nth-of-type(1) {
  font-weight: bold;
}
.notice_list ul li div:nth-of-type(1)>.new {
  font-size: 0;
  position: relative;
}
.notice_list ul li div:nth-of-type(1)>.new::before {
  content: 'N';
  background: #F99E1E;
  color: #fff;
  font-size: 8px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  display: inline-block;
  text-align: center;
}
.notice_list ul li div:nth-of-type(2) {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}
.notice_list ul li {
  /* display: none; */
  margin-bottom: 20px;
}
.notice_list .b_notice_more, .message_wrap .b_notice_more {
  font-size: 0;
  position: relative;
  display: block;
  height: 20px;
  width: 100%;
}
.notice_list .b_notice_more::before, .message_wrap .b_notice_more::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) rotate(135deg);
  width: 10px;
  height: 10px;
  border-top: 4px solid #F99E1E;
  border-right: 4px solid #F99E1E;
  border-radius: 2px;
}
.notice_list .end_list, .message_wrap .end_list {
  text-align: center;
  display: block;
  width: 100%;
}
.notice_view .tit {
  background: linear-gradient(90deg, #3299e8, #1e5fe0);
  padding: 0px 20px 10px;
  color: #fff;
}
.notice_view .content {
  padding: 20px;

}

.comapny_wrap { 
}
.comapny_wrap>img, .hearth_care_wrap.sub img {
  width: 100%;
  image-rendering: -webkit-optimize-contrast;
  transform: translateZ(0);
  backface-visibility: hidden;
}

.join_list { 
  padding: 20px 20px;
}
.join_list ul li {
  padding: 10px 0;
}
.join_list ul li a {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
  padding: 10px 15px;
  background-color: #F1F2F2;
}
.join_list ul li a::before {
  content: '';
  display: inline-block;
  width: 5px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #1e5ddf;
}
.join_list ul li div:nth-of-type(1)>img {
  height: 50px;
}
.join_list ul li div:nth-of-type(2)>.company_name {
  font-size: 15px;
  font-weight: bold;
  color: #333;
}
.join_list ul li div:nth-of-type(2)>.date {
  color: #999;
  font-size: 12px;
}
.join_list_view {
  padding-bottom: 50px;
}
.join_list_view ul li {
  display: flex;
  justify-content: space-between;
}
.join_list_view>ul li:nth-last-of-type(1) {
  border-bottom: 0;
}
.join_list_view>ul li {
  padding: 10px 20px;
  border-bottom: 1px solid #dbdcdd;
}
.join_list_view>ul li:nth-of-type(1) {
  padding: 20px;
  background-color: #efefef;
  border-top: 1px solid #dbdcdd;
  border-top: 1px solid #dbdcdd;
  font-weight: bold;
}
.join_list_view>ul li:nth-of-type(1) span {
  color: #333 !important;
}
.join_list_view ul.name li {
  padding: 10px 20px;
  background-color: #efefef;
  font-weight: bold;
}
.join_list_view ul.name li span {
}
.join_list_view ul.name li:nth-last-of-type(1) {
  border-bottom: 1px solid #dbdcdd;
}
.file_wrap {
  padding: 10px 20px;
}
.file_wrap .tit_file {
  font-weight: bold;
}
.file_wrap .file_list {
  margin-top: 5px;
}
.file_wrap .file_list p {
  border-bottom: 1px solid #dbdcdd;
  padding: 10px;
}
.file_wrap .file_list p::before {
  content: '*';
  display: inline-block;
  font-weight: bold;
}
h2.output {
  font-size: 18px;
  font-weight: 800;
  color: #fff;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}
h2.output::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url('../images/icon_arrow_below.png') 0 no-repeat;
  background-size: contain;
  margin-right: 5px;
}
table {
  border-collapse: collapse;
  line-height: 1.5;
  width: 100%;
}
.output_table {
  margin-top: 20px;
  padding: 0 20px;
}
.output_table td {
  font-size: 12px;
}
.output_table thead tr td {
  background: #fcd398;
  border-right: 1px solid #988e82;
  border-bottom: 1px solid #988e82;
  text-align: center;
  padding: 5px 5px;
  font-weight: 500;
}
.login_table td {
  border-top: 1px solid #988e82;
  background: #fff !important;
}
.login_table tr td:first-child {
  background: #fcd398 !important;
}
.output_table thead tr td:nth-last-of-type(1) {
  border-right: 0;
}
.output_table tbody tr td {
  background: #fff;
  border-right: 1px solid #988e82;
  border-bottom: 1px solid #988e82;
  text-align: center;
  padding: 5px 0;
}
.output_table tbody tr td:nth-last-of-type(1) {
  border-right: 0;
}
.output_table h2 {
  font-size: 15px;
  color: #fff;
  background: #f99f1f;
  padding: 0px 0 0 15px;
  margin: 0;
  text-align: left;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.output_table h2::before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url('../images/icon_arrow_below.png') 0 no-repeat;
  background-size: contain;
  margin-right: 5px;
}

.memo {
  font-size: 12px;
  background: #fff;
  padding: 8px 8px 20px 8px;
}
.memo>span:nth-of-type(1) {
  color: #f99f1f;
}

.output_list_wrap {
  padding: 0 20px;
  margin-top: 20px;
}
.output_list_wrap ul li a {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 10px;
  padding: 5px 10px;
  position: relative;
  box-shadow: 0px 20px 21px -15px rgb(97 87 195);
  margin-bottom: 15px;
}
.output_list_wrap ul li a::after {
  content: '';
  display: inline-block;
  position: absolute;
  right: 15px;
  background: url('../images/icon_arrow_next.png') 0 no-repeat;
  width: 23px;
  height: 23px;
  background-size: contain;
}
.output_list_wrap ul li div:nth-of-type(1) {
  flex-basis: 37%;
  border-right: 1px dotted #333;
  padding-right: 15px;
  text-align: center;
}
.output_list_wrap ul li div:nth-of-type(1)>img {
  height: 35px;
}
.output_list_wrap ul li p {
  font-size: 15px;
  padding-left: 15px;
}
.btn_wrap_left {
  margin-top: 50px;
}
.b_blue {
  background: linear-gradient(90deg, #329ae9, #1d5cdf);
  padding: 8px 13px;
  color: #fff;
  border-radius: 10px;
}
.b_blue>img {
  height: 15px;
  vertical-align: bottom;
  margin-right: 5px;
}

.hearth_care_wrap {
  margin-top: 50px;
  padding: 0px 20px;
}
.partner_wrap {
  margin-top: 50px;
  padding: 0px;
  height: 100%;
}
.hearth_care_wrap.sub {
  padding: 0;
}
.hearth_care_wrap>.tit>img {
  width: 180px;
}
.hearth_care_wrap ul.main_list {
  display: flex;
  flex-flow: row wrap;
  gap: 23px;
  margin-top: 40px;
}
.hearth_care_wrap ul.main_list li>a {
  background: #fff;
  border-radius: 10px;
  padding: 10px 0;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.5);
  display: block;
}
.hearth_care_wrap ul.main_list li {
  width: calc((100% / 3) - 17px);
  position: relative;
  z-index: 1;
}
.hearth_care_wrap ul.main_list li:after {
  content: '';
  width: 100%;
  height: 100%;
  background: #fff;
  position: absolute;
  border-radius: 10px;
  top: 4px;
  left: 4px;
  z-index: -1;
}
.hearth_care_wrap ul.main_list li>a>p {
  text-align: center;
}
.hearth_care_wrap ul.main_list li>a>p:nth-of-type(1)>img {
  height: 25px;
  margin-bottom: 5px;
}
.hearth_care_wrap ul.main_list li>a>p:nth-of-type(2) {
  color: #222;
  font-weight: 500;
  letter-spacing: -1px;
}







.hearth_care_wrap ul.main_list.flying {
  display: flex;
  flex-flow: row-reverse wrap;
  gap: 23px;
  margin-top: 40px;
}
.hearth_care_wrap ul.main_list.flying li>a {
  background: linear-gradient(222deg, rgba(152,152,152,1) 4%, rgba(226,226,226,1) 35%, rgba(255,255,255,1) 64%);
  border-radius: 10px;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.1);
  display: block;
  border: 1px solid #fff;
  height: 80px;
  line-height: 80px;
  padding: 0;
  color: #002968;
  font-weight: bold;
  font-size: 16px;
}
.hearth_care_wrap ul.main_list.flying li {
  width: 80px;
  position: relative;
  z-index: 1;
}
.hearth_care_wrap ul.main_list.flying li:after {
  content: '';
  width: 0;
  height: 0;
}
.hearth_care_wrap ul.main_list.flying li>a>p {
  line-height: 80px;
}





.partner_wrap ul.partner {
  display: flex;
  flex-flow: row wrap;
  margin-top: 40px;
}
.partner_wrap ul.partner li>a {
  background: #fff;
  border-radius: 10px;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.1);
  display: block;
  border: 1px solid #fff;
  padding: 0;
  color: #002968;
  font-weight: bold;
  min-height: 150px;
}
.partner_wrap ul.partner li {
  width: calc(100% / 3 - 10px);
  height: 150px;
  margin-right: 10px;
  position: relative;
  z-index: 1;
  margin-bottom: 10px;
}
.partner_wrap ul.partner li:nth-child(3n) {
  margin-right: 0;
}
.partner_wrap ul.partner li:after {
  content: '';
  width: 0;
  height: 0;
}
.partner_wrap ul.partner li p:nth-of-type(1) {
  padding: 10px;
}
.partner_wrap ul.partner li p:nth-of-type(2) {
  padding: 10px;
  text-align: center;
  color: #999;
  font-weight: normal;
  font-size: 8px;
}
.partner_wrap ul.partner li img {
  width: 100%;
}
.partner_wrap h2 {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  padding-bottom: 20px;
  margin-top: -27px;
  color: #fff;
}

.health_big_img_wrap {
  object-fit: contain;
  margin-top: 20px;
}
.health_big_img_wrap>img {
  object-fit: contain;
  width: 100%;
}

.hearth_care_wrap>.tit>img {
  image-rendering: -webkit-optimize-contrast;
  transform: translateZ(0);
  backface-visibility: hidden;
}
.flex_box_between {
  display: flex;
  justify-content: space-between;
}
.t_l {
  text-align: left !important;
}
.white_bg {
  background: #fff !important;
}
.btnLayer {
  display: block;
}
.modal_table td {
  border-top: 1px solid #d1d1d1;
  border-bottom: 1px solid #d1d1d1;
  padding: 5px;
}
.modal_table tr td:nth-of-type(1) {
  border-right: 1px solid #d1d1d1;
}
.modal_table tr td:nth-of-type(2) {
  text-align: left;
}
.selectbox {
  position: relative;
  width: 100%;
  border: 1px solid #999;
  z-index: 1;
  padding: 3px;
}

.selectbox:before {                        /* 가상선택자로 화살표를 만듬 */
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  width: 0;
  height: 0;
  margin-top: -1px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #333;
}

.selectbox label {
  position: absolute;
  top: 1px;
  left: 5px;
  padding: .8em .5em;
  color: #999;
  z-index: -1;
}

.selectbox select {
  width: 100%;
  height: auto;
  line-height: normal;
  font-family: inherit;
  padding: .8em .5em;
  border: 0;
  opacity: 0;
  filter:alpha(opacity=0);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.input_normal {
  border: 1px solid #999;
  padding: 3px;
  width: 100%;
}


footer {
  background: #333;
  color: #fff;
  text-align: center;
  width: 100%;
  padding: 10px 0px;
  margin-top: auto;
}

.v_scroll {
  overflow-y: auto;
  height: 200px;
}
.search_person_wrap>li {
  padding: 5px 10px;
  border-bottom: 1px solid #e1e1e1;
}
.radio_wrap {
  display: flex;
  align-items: center;
  gap: 5px;
}

.error_msg {
  color: red;
}


.dim {
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  z-index: -1;
}
.dim.active {
  opacity: 1;
  z-index: 990;
}