<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="utf-8" />
  <title>PM01</title>
  <meta name="viewport"
    content="user-scalable=yes, initial-scale=1, width=device-width, target-densitydpi=medium-dpi" />
  <meta name="format-detection" content="telephone=no" />
  <link rel="stylesheet" href="css/style.css" />
  <link rel="stylesheet" href="../css/style.css" />
  <link href="../css/bootstrap.css" type="text/css" rel="stylesheet" />

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="../js/common_added.js"></script>
  <script type="text/javascript" src="../js/app.js"></script>

  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet" />
</head>

<body>
  <div class="wrapper_main">
    <!-- gnb -->
    <header>
      <div id="menu-container">
        <div id="menu-wrapper">
          <div id="hamburger-menu">
            <span></span>
            <span></span>
            <span></span>
          </div>
          <!-- hamburger-menu -->
        </div>
        <!-- menu-wrapper -->
        <ul class="menu-list accordion">
          <p class="welcome">
            <span>
              <img src="../images/lnb_person.png">
              <em>홍길동</em>
            </span>
          </p>
          <li id="nav1" class="toggle accordion-toggle">
            <span class="icon-plus">
              <img src="../images/icon_menu_notice.png">
            </span>
            <a class="menu-link" href="#">
              공지사항
            </a>
          </li>
          <li id="nav2" class="toggle accordion-toggle">
            <span class="icon-plus">
              <img src="../images/icon_menu_join_list.png">
            </span>
            <a class="menu-link" href="#">
              가입내역
            </a>
          </li>
          <li id="nav3" class="toggle accordion-toggle">
            <span class="icon-plus">
              <img src="../images/icon_menu_message.png">
            </span>
            <a class="menu-link" href="#">
              메세지
            </a>
          </li>
          <li id="nav4" class="toggle accordion-toggle">
            <span class="icon-plus">
              <img src="../images/icon_menu_out.png">
            </span>
            <a class="menu-link" href="#">
              인출내역
            </a>
          </li>
          <li id="nav5" class="toggle accordion-toggle">
            <span class="icon-plus">
              <img src="../images/icon_menu_plan.png">
            </span>
            <a class="menu-link" href="#">
              자산계획
            </a>
          </li>
          <li id="nav6" class="toggle accordion-toggle">
            <span class="icon-plus">
              <img src="../images/icon_menu_company.png">
            </span>
            <a class="menu-link" href="#">
              회사소개
            </a>
          </li>
          <li id="nav7" class="toggle accordion-toggle">
            <span class="icon-plus">
              <img src="../images/icon_menu_link.png">
            </span>
            <a class="menu-link" href="#">
              제휴사링크
            </a>
          </li>

          <div class="btn">
            <a href="#none" class="b_logout">
              <img src="../images/b_lnb_logout.png">
              로그아웃
            </a>
            <a href="#none" class="b_lock">
              <img src="../images/b_lnb_pw.png">
              잠금 비밀번호
            </a>
          </div>
          <!-- 2depth 
            <ul class="menu-submenu accordion-content">
              <li><a class="head" href="#">Submenu1</a></li>
              <li><a class="head" href="#">Submenu2</a></li>
              <li><a class="head" href="#">Submenu3</a></li>
            </ul>
            -->
        </ul>
        <div class="dim"></div>
        <h1>
          <a href="#none" class="logo_findwell">
            <img src="../images/logo_findwell.png" />
          </a>
        </h1>
        <button class="go_home">
          <img src="../images/home.png" />
        </button>
      </div>
    </header>
    <!-- gnb end -->

    <section class="main">
      <!-- 메인배너 슬라이드 -->
      <div class="swiper-container mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">Slide 1</div>
          <div class="swiper-slide">Slide 2</div>
          <div class="swiper-slide">Slide 3</div>
        </div>
        <div class="swiper-pagination"></div>
      </div>

      <!-- 각 로고 슬라이드 -->
      <div class="swiper-container mySwiper2">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="logo">
              <img src="../images/logo_metis.png" />
            </div>
            <div class="txt">
              <p class="logo_txt">
                Intelligence Pro Plan
                <br />
                두줄일때
              </p>
              <p class="name">
                홍길동 / 김길순
              </p>
              <p class="amount">
                HKD $8000
              </p>
              <p class="date">
                2021-07-01
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="logo">
              <img src="../images/logo_Generali.png" />
            </div>
            <div class="txt">
              <p class="logo_txt">
                Intelligence Pro Plan
                <br />
                두줄일때
              </p>
              <p class="name">
                홍길동 / 김길순
              </p>
              <p class="amount">
                HKD $8000
              </p>
              <p class="date">
                2021-07-01
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
      </div>

      <script type="text/javascript" src="../js/common_added_main.js"></script>

      <!-- message -->
      <div class="message_wrap">
        <p class="tit">MESSAGE</p>
        <ul>
          <li>
            <div class="logo">
              Man
            </div>
            <div class="inner">
              <div class="tit">
                <span>Manulife</span>
                <span>20201-11-21 6:10</span>
              </div>
              <div class="txt">
                아이보시 대사는 최 차관에게 소마공사의 부적절한 발언에 유감을
                표명하고 말줄임 말줄임 말줄임
              </div>
            </div>
          </li>
          <li>
            <div class="logo">
              Man
            </div>
            <div class="inner">
              <div class="tit">
                <span>Manulife</span>
                <span>20201-11-21 6:10</span>
              </div>
              <div class="txt">
                아이보시 대사는 최 차관에게 소마공사의 부적절한 발언에 유감을
                표명하고 말줄임 말줄임 말줄임
              </div>
            </div>
          </li>
        </ul>
      </div>

      <!-- quick -->
      <div class="quick_wrap">

        <ul>
          <li>
            <span>
              <a href="#none">
                <img src="../images/icon_join_list.png">
                가입
                내역
              </a>
            </span>
            <span>
              <a href="#none">
                <img src="../images/icon_out_list.png">
                인출
                내역
              </a>
            </span>
            <span>
              <a href="#none">
                <img src="../images/icon_account.png">
                자산
                계획
              </a>
            </span>
            <span>
              <a href="#none">
                <img src="../images/icon_company.png">
                회사
                소개
              </a>
            </span>
          </li>
          <li>
            <span>
              <a href="#none">
                <img src="../images/icon_flying.png">
                유학
                서비스
              </a>
            </span>
            <span>
              <a href="#none">
                <img src="../images/icon_health.png">
                헬스
                케어
              </a>
            </span>
            <span>
              <a href="#none">
                <img src="../images/icon_pw.png">
                PW
                관리
              </a>
            </span>
            <span>
              <a href="#none">
                <img src="../images/icon_report.png">
                리포트
              </a>
            </span>
          </li>
        </ul>
      </div>
    </section>
  </div>
  <footer>
    Copyright 2019 ANEUN CO.LTD All Rights Reserved.
  </footer>
</body>

</html>