<!DOCTYPE html>
<html xmlns:tm="http://www.thymeleaf.org" 
	  xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.thymeleaf.org/layout">

	<head>
	  <meta charset="utf-8" />
	  <title>로그인</title>
	  <meta name="viewport" content="user-scalable=no, initial-scale=1, width=device-width, target-densitydpi=medium-dpi" />
	  <meta name="format-detection" content="telephone=no" />
	  <link rel="stylesheet" href="/css/style.css" />
	  <link rel="stylesheet" href="/css/bootstrap.css" type="text/css"  />
	
	  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	  <script type="text/javascript" src="/js/common_added.js"></script>
	  <!-- <script type="text/javascript" src="../js/app.js"></script> -->
	  <script type="text/javascript" src="/js/common_util.js"></script>
	  <script type="text/javascript" th:src="@{/js/gnx_app_connector.js(tm=${tm})}"></script>
	  <script>
	  history.pushState(null, null, location.href);
	  
	  window.onpopstate = function(event){
		  history.go(1);
	  }
	  </script>
	</head>
	
	<body>
	
	  <th:block th:include="customer/loading"></th:block>
	  <!-- 모달팝업 -->
	  <div class="layerPopup login_guide" id="noticePopup" data-backdrop="true" data-target="#noticePopup" style="display:none;">
	    <div class="content login_guide_wrap">
	      <h2>어플 설명</h2>
	      <div class="layerBody">
	        <p class="desc">
	          본 어플은 파인드웰스 고객을 위한 앱으로 파인드웰스의 승인을 받아야만
	          사용가능 한 앱 입니다.
	          <br />
	          먼저 회원 가입을 해주세요.
	          <br />
	          회원가입이 되면 푸시 알람으로 알려 드립니다.
	        </p>
	      </div>
	      <div class="btn_wrap">
	        <!-- <a href="javascript:closePopup('noticePopup');" class="layerClose cancle">취소</a> -->
	        <a href="javascript:closePopup('noticePopup')" class="ok">확인</a>
	      </div>
	    </div>
	    <div class="layerDim keep"></div>
	  </div>
	
	  <div class="wrapper_lock">
	    <div class="top_wrapper">
	      <!-- <a href="javascript:goBack();" class="go_back">뒤로가기</a> -->
	      <a href="#none" class="logo_findwell">
	        <img src="../images/logo_findwell.png" />
	      </a>
	    </div>
	    <section class="self_certification lock">
	      <h2>로그인</h2>
	      <p class="desc"></p>
	      
	      <div class="input_text_wrap no_flex mt25">
	        <input type="text" id="login_id" class="text_box" placeholder="아이디" />
	        <p id="err_msg_id" class="error_msg" style="display:none;">로그인 아이디 입력해주세요.</p>
	      </div>
	      <div class="input_text_wrap no_flex mt25">
	        <input type="password" id="login_pw" class="text_box" placeholder="비밀번호" />
	        <p id="err_msg_pw" class="error_msg" style="display:none;">비밀번호를 입력해주세요.</p>
	      </div>
	      <div class="input_text_wrap no_flex mt25">
	        <p id="error_msg" class="error_msg" style="display:none;">계정정보가 없거나 비밀번호가 일치하지 않습니다.</p>
	      </div>
	      
	      <div class="input_text_wrap no_flex mt25">
	        <p id="error_msg_device" class="error_msg" style="display:none;"></p>
	      </div>
	    </section>
	    
	    <div class="btn_wrap" style="margin-top:00px;">
	      <button class="b_point" id="bt_login">로그인</button>
	    </div>
	    
	    <div class="btn_wrap">
	      <button class="b_cancle" id="bt_join">회원가입</button>
	      <button class="b_ok" id="bt_simp_pw">간편 비밀번호</button>
	    </div>
	    <!--
	    <div class="btn_wrap">
	      <button class="b_ok" id="bt_test">테스트</button>
	    </div>
	    -->
	  </div>
	  <script>
	    //메인에 공지팝업 자동노출
	    var ACCESS_TOKEN = '';
	    var USER_ID = '';
	    var device_id = '';
	    $(document).ready(function(){
	    	wrap_mask(0);
	    	
	    	reqSendDeviceInfo();

		    // 회원가입이 되면 팝업이 뜨지 않아야 한다. 
		    // 회원가입 전까지는 계속 뜬다. 
		    // 확인하는 메서드 필요 
	    	// console.log(localStorage.JOIN_YN)
	    	if(localStorage.JOIN_YN != 'Y') {
	    		common.autoPopup('noticePopup');				
			}
	    	
	    	$('#login_id').val('');
	    	
	    	$('#bt_login').on('click', function(){
	    		doLogin();
	    	});
	    	
	    	$('#bt_join').on('click', function(){
	    		location.href= '/m/P02';
	    	});
	    	
	    	$('#bt_simp_pw').on('click', function(){
	    		if (device_id != '') {
	    			goSimpleLogin();
	    		} else {
	    			alert("모바일 브라우저 환경에서는 간편로그인을 사용할 수 업습니다.");
	    			return;
	    		}
	    	});
	    	
	    	/* 
	    	$('#bt_test').on('click', function(){
	    		location.href= '/m/test';
	    	});
	    	*/
	    	
	    });
	    
	   function doLogin(){
	   		console.log('doLogin');
			//console.log($('#login_id').val());
			//console.log($('#login_pw').val());
			var data = {
					username : $('#login_id').val()
					, password : $('#login_pw').val()
					, j_username : $('#login_id').val()
					, j_password : $('#login_pw').val()
					, mb_id : 'YNG'
					, login_type : 'IDPW'
				};
			// alert(JSON.stringify(data))
			$.ajax({
				url : '/auth'
				, type : 'POST'
				, data : data
				, async: false
				, contentType : 'application/x-www-form-urlencoded'
				, success : function(data, status, response){
					console.log(data);
					console.log(response.getResponseHeader('Authorization'));
					ACCESS_TOKEN = response.getResponseHeader('Authorization');
					ACCESS_TOKEN = ACCESS_TOKEN.replace('Bearer', '');
					console.log(ACCESS_TOKEN);
					//userInfo(); //헤더의 토큰으로 uid 추출
					userInfo();
				}
				, error : function(req, status, error){
					console.log(req + ", "+ status + ", "  + error);
					//alert('계정정보가 없거나 비밀번호가 일치하지 않습니다.');
					$('#error_msg').show();
				}
			});
	   }
	   
	   function goSimpleLogin(){
	   		location.href = '/m/P01';
	   }
	   
		//헤더의 토큰으로 uid 추출 (inner function)
		function userInfo() {
			$.get({
				url: '/userInfo'
				, type: 'GET'
				, async: false
				, contentType: 'application/json; charset=UTF-8'
				, headers: {
					"Authorization": "bearer" + ACCESS_TOKEN,
				}
				, success: function (data) {
					console.log(data);
					//console.log(data + "");
					console.log(data.substring(data.indexOf("uid") + 4, data.indexOf("mid") - 2));   //uid 만 파싱
					USER_ID = data.substring(data.indexOf("uid") + 4, data.indexOf("mid") - 2); //uid 만 파싱
					console.log('/m/PM01/' + USER_ID);
					reqSendDeviceInfo();
					localStorage.setItem("JOIN_YN", "Y");
					location.href = "/m/PM01/" + USER_ID;
					
				}
				, error: function (req, status, error) {
					console.log(req + ", " + status + ", " + error);
					
				}
			});
		}
		
	    // 모바일 기기정보 받기
		var reqSendDeviceInfo = function(){
			gnx_app_master.call('reqSendDeviceInfo'
				, function(result){
					// var data1 = result.resultData;
					var data1 = result;
						// data.uuid.replace(/-/ig, ''); // 기기 id 
						// data.osName;
						// data.osVer;
						// data.deviceName;
						// data.appVer;
						// data.deviceToken; // 토큰 
						// data1.reg_id = fcid;
					devc_id = data1.uuid.replace(/-/ig, ''); // 기기 id 
					//console.log(data1);
					var param = {
						  devc_id : devc_id
						, devc_name : data1.deviceName
						, os_ver : data1.osVer
						, os_name : data1.osName
						, devc_token : data1.deviceToken
						, app_ver : data1.appVer
						, user_id : USER_ID
						, memo : 'LOGIN'
					};
					
					//$('#error_msg_device').text(JSON.stringify(data1)).show();
					$.ajax({
						url : "/cs/user-device",
						type : "POST",
						dataType : "json",
						data : JSON.stringify(param),
						//async : false,
						contentType : 'application/json; charset=UTF-8',
						headers: {
							"Authorization": "bearer" + ACCESS_TOKEN,
						},
						success : function(data) {
							console.log(data);
						},
						error : function(err) {
							console.log('error');
							//$('#error_msg_device').text(err).show();
						}
					});
						
				  } // gnx_app_master.function
			    , ""
			    );	// gnx_app_master
		}
	    
	    
	    function closePopup(id){
	    	$('#' + id).hide();
	    }
	  </script>
	</body>

</html>