<!DOCTYPE html>
<html xmlns:tm="http://www.thymeleaf.org" 
	  xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.thymeleaf.org/layout">

<head>
	  <meta charset="utf-8" />
	  <title>간편로그인</title>
	  <meta name="viewport" content="user-scalable=no, initial-scale=1, width=device-width, target-densitydpi=medium-dpi" />
	  <meta name="format-detection" content="telephone=no" />
	  <link rel="stylesheet" href="/css/style.css" />
	  <link rel="stylesheet" href="/css/bootstrap.css" type="text/css"  />
	
	  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	  <script type="text/javascript" src="/js/common_added.js"></script>
	  <script type="text/javascript" src="/js/common_util.js"></script>
  	  <script type="text/javascript" th:src="@{/js/gnx_app_connector.js(tm=${tm})}"></script>
  	  <script>
	  history.pushState(null, null, location.href);
	  
	  window.onpopstate = function(event){
		  history.go(1);
	  }
	  </script>
</head>

<body>

  <th:block th:include="customer/loading"></th:block>
  <!-- 모달팝업 -->
  <div class="layerPopup login_guide" id="noticePopup" data-backdrop="true" data-target="#noticePopup">
    <div class="content login_guide_wrap">
      <h2>어플 설명</h2>
      <div class="layerBody">
        <p class="desc">
          본 어플은 파인드웰스 고객을 위한 앱으로 파인드웰스의 승인을 받아야만
          사용가능 한 앱 입니다.
          <br />
          먼저 회원 가입을 해주세요.
          <br />
          회원가입이 되면 푸시 알람으로 알려 드립니다.
        </p>
      </div>
      <div class="btn_wrap">
        <!-- <a href="javascript:closePopup('noticePopup');" class="layerClose cancle">취소</a> -->
        <a href="javascript:closePopup('noticePopup')" class="ok">확인</a>
      </div>
    </div>
    <div class="layerDim keep"></div>
  </div>
  
  <!-- 모달팝업 -->
  <div class="layerPopup login_guide" id="confirmPopup1" data-backdrop="true" data-target="#confirmPopup1">
    <div class="content login_guide_wrap">
      <h2>간편비밀번호 설정</h2>
      <div class="layerBody">
        <p class="desc">
          간편 비밀번호가 설정되지 않았습니다. 
          <br>간편 비밀번호를 설정하시겠습니까?
        </p>
      </div>
      <div class="btn_wrap">
        <a href="javascript:closePopup('confirmPopup')" class="layerClose cancle">취소</a>
        <a href="javascript:goSettingSimplePassword('confirmPopup1');" class="ok">확인</a>
      </div>
    </div>
    <div class="layerDim keep"></div>
  </div>

  <div class="wrapper_lock">
    <div class="top_wrapper">
      <!-- <a href="javascript:goBack();" class="go_back">뒤로가기</a> -->
    </div>
    <section class="self_certification lock">
      <h2>잠금 비밀번호 입력</h2>
      <p class="desc">
        잠금 비밀번호 4자리를 입력하세요.
      </p>

      <div class="pad_wrap">
        <!-- 핀패드 시작 -->
        <div id="pinpad">

            <div class="password_wrap">
              <input type="password" name="password" id="password" class="pinpad" inputmode="numeric" minlength="4"
                maxlength="4" size="4" value="" />
            </div>

            <input type="button" value="1" id="1" class="pinButton calc" onclick="field('1');"/>
            <input type="button" value="2" id="2" class="pinButton calc" onclick="field('2');"/>
            <input type="button" value="3" id="3" class="pinButton calc" onclick="field('3');"/>
            <br />
            <input type="button" value="4" id="4" class="pinButton calc" onclick="field('4');"/>
            <input type="button" value="5" id="5" class="pinButton calc" onclick="field('5');"/>
            <input type="button" value="6" id="6" class="pinButton calc" onclick="field('6');"/>
            <br />
            <input type="button" value="7" id="7" class="pinButton calc" onclick="field('7');"/>
            <input type="button" value="8" id="8" class="pinButton calc" onclick="field('8');"/>
            <input type="button" value="9" id="9" class="pinButton calc" onclick="field('9');"/>
            <br />
            <input type="button" value="clear" id="clear" class="pinButton clear1" onclick="clearPassword();" style="background-color: #bbb;" />
            <input type="button" value="0" id="0 " class="pinButton calc" onclick="field('0');"/>
            <input type="button" value="clear" id="delete" class="pinButton clear" onclick="deleteOne();"/>


        </div>
        <!-- 
        <script src="/js/app.js"></script>
         -->
        <!-- 핀패드 끝 -->
      </div>
      
      <div style="clear:both;" class="input_text_wrap no_flex mt25">
	        <p id="error_msg" class="error_msg" style="display:none;">계정정보가 없거나 비밀번호가 일치하지 않습니다.</p>
	  </div>
    </section>
    
    <div class="btn_wrap">
      <button class="b_cancle" id="bt_join">회원가입</button>
      <button class="b_ok" 	   id="bt_find_pw" style="width:30%;">간편 비번 재등록</button>
      <button class="b_prev"   id="bt_id_pw"   style="width:10%;">&lt;</button>
    </div>
  </div>
  <script>
  
    var devc_id = '';
    var ACCESS_TOKEN = '';
    var USER_ID = '';
    var LOGIN_ID = '';
    var devc = {};
    //메인에 공지팝업 자동노출
    $(document).ready(function(){
    	wrap_mask(0);
    	
    	reqSendDeviceInfo();
    	
        // 회원가입이 되면 팝업이 뜨지 않아야 한다. 
        // 회원가입 전까지는 계속 뜬다. 
    	if(localStorage.JOIN_YN != 'Y') {
    		common.autoPopup('noticePopup');			
		}
    	
    	$('#password').val('');
    	
    	$('#bt_join').on('click', function(){
    		location.href= '/m/P02';
    	});
    	
    	$('#bt_find_pw').on('click', function(){
    		location.href= '/m/PE01';
    	});
    	
    	$('#bt_id_pw').on('click', function(){
    		location.href= '/m/P00';
    	});
    	
    });
    
    function field(value) {
        var input_value = $('#password');
    	//console.log(input_value.val());
    	input_value.val(input_value.val() + value);
    	if (input_value.val().length < 4 ){
    		$('#error_msg').hide(); 
    	} else if (input_value.val().length == 4 ){
    		  // location.href = '/m/PM01';
    		getLoginID(input_value.val());
    	} else {
    		$('#error_msg').hide();
    	}
    }
    
    function deleteOne(){
    	var val = $('#password').val();
      	//console.log('val : ' + val);
      	//console.log('val.length : ' + val.length);
      	//console.log('val -1 char : ' +  val.substr(0, val.length-1));
      	  
    	$('#password').val(val.substr(0, val.length-1));
    	$('#error_msg').hide();
    }
    
    function clearPassword() {
    	$('#password').val('');
    	$('#error_msg').hide();
    }
    
    function getLoginID(pw){
    	
    	// TODO : 
    	// 1. 디바이스 id를 이용하여 로그인 Id를 조회
    	// 로그인 ID와 
    	console.log('devc_id from DEVC : ' + devc_id);
    	
    	// devc_id = 'GFbDJ46E8yKFZ0n6YOKfGyzCQzPh2UhtjUVHs2FSytI=';
    	$('#error_msg').text(devc_id).show();
    	var data = { devc_id : devc_id}
		$.ajax({
			url : '/cs/user-device'
			, type : 'GET'
			, data : data
			, async: false
			, contentType : 'application/x-www-form-urlencoded'
			, success : function(data, status, response){
				console.log(data);
				$('#error_msg').text(data).show();
				
				USER_ID = data.USER_ID;
				LOGIN_ID = data.LOGIN_ID;
				console.log(USER_ID);
				if (USER_ID !='' && USER_ID != undefined) {
					if (data.SIMPL_PW != '' && data.SIMPL_PW != undefined && data.SIMPL_PW != null){
						doLogin(pw);
					} else {
						$('#error_msg').text('간편비밀번호 미등록');
						$('#error_msg').show();
						common.autoPopup('confirmPopup1');	
						//goSettingSimplePassword();
					}
					
				} else {
					$('#error_msg').text('회원등록 필요');
					$('#error_msg').show();
					
				}
			}
			, error : function(req, status, error){
				console.log(req + ", "+ status + ", "  + error);
				//console.log('계정정보가 없거나 비밀번호가 일치하지 않습니다.');
				$('#error_msg').text('계정정보가 없거나 비밀번호가 일치하지 않습니다.');
				$('#error_msg').show();
			}
		});
		
    }
    
    function doLogin(pw){
		var data = {
				username : LOGIN_ID
				, password : pw
				, j_username : LOGIN_ID
				, j_password : pw
				, mb_id : 'YNG'
				, login_type : 'SIMP'
			};
		// alert(JSON.stringify(data))
		$.ajax({
			url : '/auth'
			, type : 'POST'
			, data : data
			, async: false
			, contentType : 'application/x-www-form-urlencoded'
			, success : function(data, status, response){
				console.log(data);
				console.log(response.getResponseHeader('Authorization'));
				ACCESS_TOKEN = response.getResponseHeader('Authorization');
				ACCESS_TOKEN = ACCESS_TOKEN.replace('Bearer', '');
				console.log(ACCESS_TOKEN);
				userInfo(); //헤더의 토큰으로 uid 추출
			}
			, error : function(req, status, error){
				//console.log(JSON.stringify(req) + ", "+ status + ", "  + error);
				//alert('계정정보가 없거나 비밀번호가 일치하지 않습니다.');
				$('#password').val('');
				$('#error_msg').show();
			}
		});
    	
    }
    
	//헤더의 토큰으로 uid 추출 (inner function)
	function userInfo() {
		$.get({
			url: '/userInfo'
			, type: 'GET'
			, async: false
			, contentType: 'application/json; charset=UTF-8'
			, headers: {
				"Authorization": "bearer" + ACCESS_TOKEN,
			}
			, success: function (data) {
				console.log(data);
				//console.log(data + "");
				console.log(data.substring(data.indexOf("uid") + 4, data.indexOf("mid") - 2));   //uid 만 파싱
				USER_ID = data.substring(data.indexOf("uid") + 4, data.indexOf("mid") - 2); //uid 만 파싱
				console.log('/m/PM01/' + USER_ID);
				insertAppConnectionLog();
				localStorage.setItem("JOIN_YN", "Y");
				location.href = "/m/PM01/" + USER_ID;
				
			}
			, error: function (req, status, error) {
				console.log(req + ", " + status + ", " + error);
				
			}
		});
	}
    
    // 모바일 기기정보 받기
	var reqSendDeviceInfo = function(){
		gnx_app_master.call('reqSendDeviceInfo'
			, function(result){
				// var data1 = result.resultData;
				var data1 = result;
					// data.uuid.replace(/-/ig, ''); // 기기 id 
					// data.osName;
					// data.osVer;
					// data.deviceName;
					// data.appVer;
					// data.deviceToken; // 토큰 
					// data1.reg_id = fcid;
				devc_id = data1.uuid.replace(/-/ig, ''); // 기기 id 
				//console.log(data1);
				var param = {
					  devc_id : devc_id
					, devc_name : data1.deviceName
					, os_ver : data1.osVer
					, os_name : data1.osName
					, devc_token : data1.deviceToken
					, app_ver : data1.appVer
					, user_id : USER_ID
					, memo : 'LOGIN'
				};
				
				devc = param;
				
				$('#error_msg').text(devc_id).show();

					
			  } // gnx_app_master.function
		    , ""
		    );	// gnx_app_master
	}
    
	
    function insertAppConnectionLog(){
		//$('#error_msg_device').text(JSON.stringify(data1)).show();
		$.ajax({
			url : "/cs/user-device",
			type : "POST",
			dataType : "json",
			data : JSON.stringify(devc),
			//async : false,
			contentType : 'application/json; charset=UTF-8',
			headers: {
				"Authorization": "bearer" + ACCESS_TOKEN,
			},
			success : function(data) {
				console.log(data);
			},
			error : function(err) {
				console.log('error');
				//$('#error_msg_device').text(err).show();
			}
		});
    }
	
	function goSettingSimplePassword(popupId){
		closePopup(popupId);
		location.href = '/m/P04/' + USER_ID;
	}
    
    function closePopup(id){
    	$('#' + id).hide();
    }
  </script>
</body>

</html>