<!DOCTYPE html>
<html xmlns:tm="http://www.thymeleaf.org" 
	  xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.thymeleaf.org/layout">

	<head>
	  <meta charset="utf-8" />
	  <title>P04</title>
	  <meta name="viewport"
	    content="user-scalable=no, initial-scale=1, width=device-width, target-densitydpi=medium-dpi" />
	  <meta name="format-detection" content="telephone=no" />
	  <link rel="stylesheet" href="/css/style.css" />
	  <link href="/css/bootstrap.css" type="text/css" rel="stylesheet" />
	
	  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	  <script type="text/javascript" src="/js/common_added.js"></script>
	  <script type="text/javascript" src="/js/app.js"></script>
	  <script type="text/javascript" src="/js/common_util.js"></script>
	</head>
	
	<body>
	  	<th:block th:include="customer/loading"></th:block>
	  	
	  <div class="wrapper_lock">
	    <div class="top_wrapper">
	     <a href="javascript:goBack();" class="go_back">뒤로가기</a>
	    </div>
	    <section class="self_certification">
	      <p class="desc">
	        비밀번호 설정
	      </p>
	      <h2>잠금 비밀번호 입력</h2>
	      <p class="desc">
	        잠금 비밀번호 4자리를 입력하세요.
	      </p>
	
	      <div class="pad_wrap">
	        <!-- 핀패드 시작 -->
	        <div id="pinpad">
	          <form>
	            <div class="password_wrap">
	              <input type="password" name="password" id="password" class="pinpad" inputmode="numeric" minlength="4"
	                maxlength="4" size="4" value="" />
	            </div>
	
	            <input type="button" value="1" id="1" class="pinButton calc" />
	            <input type="button" value="2" id="2" class="pinButton calc" />
	            <input type="button" value="3" id="3" class="pinButton calc" />
	            <br />
	            <input type="button" value="4" id="4" class="pinButton calc" />
	            <input type="button" value="5" id="5" class="pinButton calc" />
	            <input type="button" value="6" id="6" class="pinButton calc" />
	            <br />
	            <input type="button" value="7" id="7" class="pinButton calc" />
	            <input type="button" value="8" id="8" class="pinButton calc" />
	            <input type="button" value="9" id="9" class="pinButton calc" />
	            <br />
	            <input type="button" value="clear" id="clear" class="pinButton clear1" style="background-color: #bbb;" />
	            <input type="button" value="0" id="0 " class="pinButton calc" />
	            <input type="button" value="clear" id="clear" class="pinButton clear" />
	          </form>
	        </div>
	        <script src="/js/app.js"></script>
	        <!-- 핀패드 끝 -->
	      </div>
	    </section>
	    <div class="btn_wrap">
	      <button class="b_cancle" id="bt_join">회원가입</button>
	      <button class="b_ok" id="bt_find-pw">비밀번호 찾기</button>
	    </div>
	  </div>
	</body>
	
	  <script>
    //메인에 공지팝업 자동노출
    $(document).ready(function(){
    	wrap_mask(0);
    	common.autoPopup('noticePopup');
    	$('#bt_join').on('click', function(){
    		location.href= '/m/P03';
    	});
    	$('#bt_find_pw').on('click', function(){
    		location.href= '/m/PE01';
    	});
    });
  </script>

</html>