<!DOCTYPE html>
<html xmlns:tm="http://www.thymeleaf.org" 
	  xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.thymeleaf.org/layout">

<head>
  <meta charset="utf-8" />
  <title>가입내역</title>
  <meta name="viewport" content="user-scalable=yes, initial-scale=1, width=device-width, target-densitydpi=medium-dpi" />
  <meta name="format-detection" content="telephone=no" />
  <link type="text/css" rel="stylesheet" href="/css/style.css" />
  <link type="text/css" rel="stylesheet" href="/css/bootstrap.css" />
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />

  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script type="text/javascript" src="/js/common_added.js"></script>
  <script type="text/javascript" src="/js/app.js"></script>
  <script type="text/javascript" src="/js/navigation.js"></script>  
  <link href="/css/bootstrap.css" type="text/css" rel="stylesheet" />

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="/js/common_added.js"></script>
  <script type="text/javascript" src="/js/app.js"></script>
  <script type="text/javascript" src="/js/common_util.js"></script>
</head>

<body>
  	<th:block th:include="customer/loading"></th:block>
  	
  <div class="wrapper_notice">
    <div class="top_wrapper">
      <a href="javascript:goBack();" class="go_back">뒤로가기</a>
      <h2>가입내역</h2>
    </div>
    <section class="self_certification">
      
      <div class="join_list" >
        <ul id="contractList">
        <!-- 
          <li>
            <a href="javascript:goContractDetail();">
              <div>
                <img src="/images/logo_metis.png">
              </div>
              <div>
                <p class="company_name">
                  Intelligence Pro Plan
                </p>
                <p class="name">
                  <span>홍길동</span> / <span>홍길동</span>
                </p>
                <p class="money">HKD $8000</p>
                <p class="date">2021.09.10</p>
              </div>
            </a>
          </li>
          <li>
            <a href="">
              <div>
                <img src="/images/logo_metis.png">
              </div>
              <div>
                <p class="company_name">
                  Intelligence Pro Plan
                </p>
                <p class="name">
                  <span>홍길동</span> / <span>홍길동</span>
                </p>
                <p class="money">HKD $8000</p>
                <p class="date">2021.09.10</p>
              </div>
            </a>
          </li>
          <li>
            <a href="">
              <div>
                <img src="/images/logo_metis.png">
              </div>
              <div>
                <p class="company_name">
                  Intelligence Pro Plan
                </p>
                <p class="name">
                  <span>홍길동</span> / <span>홍길동</span>
                </p>
                <p class="money">HKD $8000</p>
                <p class="date">2021.09.10</p>
              </div>
            </a>
          </li>
          <li>
            <a href="">
              <div>
                <img src="/images/logo_metis.png">
              </div>
              <div>
                <p class="company_name">
                  Intelligence Pro Plan
                </p>
                <p class="name">
                  <span>홍길동</span> / <span>홍길동</span>
                </p>
                <p class="money">HKD $8000</p>
                <p class="date">2021.09.10</p>
              </div>
            </a>
          </li>
         -->
        </ul>
      </div>


    </section>
  </div>
</body>

	<script>
	var user_id =  '[[${user_id}]]';
	$(document).ready(function(){
		//wrap_mask(0);
		getContractList();
    });
    
    function goBack(){
    	location.href = '/m/PM01/'+ user_id;
    }
    
    function goContractDetail(seq){
    	location.href = '/m/PM05/' + user_id + '/' + seq;
    }
    
    function getContractList() {
		var param = {cust_id: user_id};
		
		$.get({
			url: '/cs/contracts'
			, type: 'GET'
			, async: false
			, data : param
			, contentType: 'application/json; charset=UTF-8'
			, headers: {
				// "Authorization": "bearer" + ACCESS_TOKEN,
			}
			, success: function (data) {
				console.log(data);
				var list = data.result;
				var html = '';
				$('#contractList').empty();
				
				for (var i = 0; i < list.length; i++) {
					html += '<li>'
					html += '<a href="javascript:goContractDetail('+ list[i].SEQ +');">'
					html += '<div>'
					html += list[i].INSCO_CD != '' ? '<img src="/images/logo_80_80/' + list[i].INSCO_CD + '.png">': '		<img src="/images/logo_FW_notext.png" />'
					html += '</div>'
					html += '<div>'
					html += '<p class="company_name">'
					html +=  list[i].PROD_NM
					html += '</p>'
					html += '<p class="name">'
					html += '<span>' + list[i].GEAJA_NM+ '</span> / <span>' + list[i].PIABO_NM + '</span>'
					html += '</p>'
					html += '<p class="money">'+(list[i].HPREM_AMT > 0? 'HKD $' + list[i].HPREM_AMT : 'USD $' + list[i].UPREM_AMT ) + '</p>'
					html += '<p class="date">'+ list[i].CONT_DATE+ '</p>'
					html += '</div>'
					html += '</a>'
					html += '</li>'
					;
				}
				
		          
				$('#contractList').html(html);
				wrap_mask(0);
				
			}
			, error: function (req, status, error) {
				console.log(req + ", " + status + ", " + error);
				wrap_mask(0);
				
			}
		});
	}
    </script>

</html>