<!DOCTYPE html>
<html xmlns:tm="http://www.thymeleaf.org" 
	  xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.thymeleaf.org/layout">

<head>
  <meta charset="utf-8" />
  <title>메세지함</title>
  <meta name="viewport" content="user-scalable=no, initial-scale=1, width=device-width, target-densitydpi=medium-dpi" />
  <meta name="format-detection" content="telephone=no" />
  <link type="text/css" rel="stylesheet" href="/css/style.css" />
  <link type="text/css" rel="stylesheet" href="/css/bootstrap.css" />
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />

  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script type="text/javascript" src="/js/common_added.js"></script>
  <script type="text/javascript" src="/js/app.js"></script>
  <script type="text/javascript" src="/js/navigation.js"></script>
</head>

<body>
  <div class="wrapper_notice">
    <div class="top_wrapper">
      <a href="javascript:goBack();" class="go_back">뒤로가기</a>
      <h2>메세지함</h2>
    </div>
    <section class="self_certification">
      <div class="message_wrap sub">
        <ul id="messages">
          <li>
            <div class="logo">
              <img src="/images/logo_metis.png">
            </div>
            <div class="inner">
              <div class="tit">
                <span>Manulife</span>
                <span>20201-11-21 6:10</span>
              </div>
              <div class="txt">
                아이보시 대사는 최 차관에게 소마공사의 부적절한 발언에 유감을
                표명하고 말줄임 말줄임 말줄임
              </div>
            </div>
          </li>
          <!-- 
          <li>
            <div class="logo">
              <img src="/images/logo_metis.png">
            </div>
            <div class="inner">
              <div class="tit">
                <span>Manulife</span>
                <span>20201-11-21 6:10</span>
              </div>
              <div class="txt">
                아이보시 대사는 최 차관에게 소마공사의 부적절한 발언에 유감을
                표명하고 말줄임 말줄임 말줄임
              </div>
            </div>
          </li>
          <li>
            <div class="logo">
              <img src="/images/logo_metis.png">
            </div>
            <div class="inner">
              <div class="tit">
                <span>Manulife</span>
                <span>20201-11-21 6:10</span>
              </div>
              <div class="txt">
                아이보시 대사는 최 차관에게 소마공사의 부적절한 발언에 유감을
                표명하고 말줄임 말줄임 말줄임
              </div>
            </div>
          </li>
          <li>
            <div class="logo">
              <img src="/images/logo_metis.png">
            </div>
            <div class="inner">
              <div class="tit">
                <span>Manulife</span>
                <span>20201-11-21 6:10</span>
              </div>
              <div class="txt">
                아이보시 대사는 최 차관에게 소마공사의 부적절한 발언에 유감을
                표명하고 말줄임 말줄임 말줄임
              </div>
            </div>
          </li>
          <li>
            <div class="logo">
              <img src="/images/logo_metis.png">
            </div>
            <div class="inner">
              <div class="tit">
                <span>Manulife</span>
                <span>20201-11-21 6:10</span>
              </div>
              <div class="txt">
                아이보시 대사는 최 차관에게 소마공사의 부적절한 발언에 유감을
                표명하고 말줄임 말줄임 말줄임
              </div>
            </div>
          </li>
          <li>
            <div class="logo">
              <img src="/images/logo_metis.png">
            </div>
            <div class="inner">
              <div class="tit">
                <span>Manulife</span>
                <span>20201-11-21 6:10</span>
              </div>
              <div class="txt">
                아이보시 대사는 최 차관에게 소마공사의 부적절한 발언에 유감을
                표명하고 말줄임 말줄임 말줄임
              </div>
            </div>
          </li>
          <li>
            <div class="logo">
              <img src="/images/logo_metis.png">
            </div>
            <div class="inner">
              <div class="tit">
                <span>Manulife</span>
                <span>20201-11-21 6:10</span>
              </div>
              <div class="txt">
                아이보시 대사는 최 차관에게 소마공사의 부적절한 발언에 유감을
                표명하고 말줄임 말줄임 말줄임
              </div>
            </div>
          </li>
          <li>
            <div class="logo">
              <img src="/images/logo_metis.png">
            </div>
            <div class="inner">
              <div class="tit">
                <span>Manulife</span>
                <span>20201-11-21 6:10</span>
              </div>
              <div class="txt">
                아이보시 대사는 최 차관에게 소마공사의 부적절한 발언에 유감을
                표명하고 말줄임 말줄임 말줄임
              </div>
            </div>
          </li>
          <li>
            <div class="logo">
              <img src="/images/logo_metis.png">
            </div>
            <div class="inner">
              <div class="tit">
                <span>Manulife</span>
                <span>20201-11-21 6:10</span>
              </div>
              <div class="txt">
                아이보시 대사는 최 차관에게 소마공사의 부적절한 발언에 유감을
                표명하고 말줄임 말줄임 말줄임
              </div>
            </div>
          </li>
          <li>
            <div class="logo">
              <img src="/images/logo_metis.png">
            </div>
            <div class="inner">
              <div class="tit">
                <span>Manulife</span>
                <span>20201-11-21 6:10</span>
              </div>
              <div class="txt">
                아이보시 대사는 최 차관에게 소마공사의 부적절한 발언에 유감을
                표명하고 말줄임 말줄임 말줄임
              </div>
            </div>
          </li>
          <li>
            <div class="logo">
              <img src="/images/logo_metis.png">
            </div>
            <div class="inner">
              <div class="tit">
                <span>Manulife</span>
                <span>20201-11-21 6:10</span>
              </div>
              <div class="txt">
                아이보시 대사는 최 차관에게 소마공사의 부적절한 발언에 유감을
                표명하고 말줄임 말줄임 말줄임
              </div>
            </div>
          </li>
           -->
        </ul>
        
        <!-- <p class="end_list" style="display: none;">마지막 목록입니다.</p> -->
        <!-- <a href="" class="b_notice_more">더보기</a> -->
      </div>
      


    </section>
  </div>
</body>

	<script>
	var user_id =  '[[${user_id}]]';
	$(document).ready(function(){
		
		getMessageLogList();

    });
	
	function getMessageLogList() {
		
		var param = {receiver: user_id, limit_cnt: 10};
		
		$.get({
			url: '/cs/messages'
			, type: 'GET'
			, async: false
			, data : param
			, contentType: 'application/json; charset=UTF-8'
			, headers: {
				// "Authorization": "bearer" + ACCESS_TOKEN,
			}
			, success: function (data) {
				console.log(data);
				var list = data.result;
				//list = [];
				var html = '';
				$('#messages').empty();
				if (list.length == 0){
					
					html += '<li style="display:list-item">'
					html += '	<div class="logo">'
					html += '		<img src="/images/logo_findwell.png">'
					html += '	</div>'
					html += '	<div class="inner">'
					html += '		<div class="tit">'
					html += '			<span>파인드웰스</span>'
					html += '		</div>'
					html += '		<div class="txt">'
					html += '		수신한 메시지가 없습니다.'
					html += '		</div>'
					html += '	</div>'
					html += '</li>'
					
				} else {
					for (var i = 0; i < list.length; i++) {
						html += '<li style="display:list-item">'
						html += '	<div class="logo">'
						if (list[i].REF_TYP == 'FW'){
						html += '		<img src="/images/logo_findwell.png">'
						} else if ( list[i].REF_ID == '') {
						html += '		'
						} else {
						html += '		<img src="/images/logo_'+list[i].INSCO_CD + '.png">'
						//html += '		<img src="/images/logo_FWD.png">'
						}
						html += '	</div>'
						html += '	<div class="inner">'
						html += '		<div class="tit">'
						html += '			<span>'+list[i].INSCO_NM+'</span>'
						html += '			<span>'+list[i].UP_DTM.substr(0, list[i].UP_DTM.length-3)+'</span>'
						html += '		</div>'
						html += '		<div class="txt">'
						html += list[i].CONTENT
						html += '		</div>'
						html += '	</div>'
						html += '</li>'
	
					}					
				}
		          
				$('#messages').html(html);
				
			}
			, error: function (req, status, error) {
				console.log(req + ", " + status + ", " + error);	
				
			}
		});
		
		
	}
    
    function goBack(){
    	location.href = '/m/PM01/'+ user_id;
    }
    </script>

</html>