<!DOCTYPE html>
<html xmlns:tm="http://www.thymeleaf.org" 
	  xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.thymeleaf.org/layout">="ko">

<head>
  <meta charset="utf-8" />
  <title>인출내역</title>
  <meta name="viewport"
    content="user-scalable=yes, initial-scale=1, width=device-width, target-densitydpi=medium-dpi" />
  <meta name="format-detection" content="telephone=no" />
  <link rel="stylesheet" href="css/style.css" />
  <link rel="stylesheet" href="../css/style.css" />
  <link href="../css/bootstrap.css" type="text/css" rel="stylesheet" />

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="/js/common_added.js"></script>
  <script type="text/javascript" src="/js/app.js"></script>
</head>

<body>
  <div class="wrapper_notice output">
    <div class="top_wrapper">
      <a href="javascript:goBack();" class="go_back">뒤로가기</a>
      <h2>인출내역</h2>
    </div>
    <section class="self_certification">
      <div class="notice_search_bar">
        <h2 class="output">가입금융사</h2>
      </div>



      <div class="output_table">
        <h2>
          인테리젼스 (R01021000)
        </h2>
        <table>
          <colgroup>
            <col width="*">
            <col width="26%">
            <col width="26%">
            <col width="30%">
          </colgroup>
          <thead>
            <tr>
              <td>
                날 짜
              </td>
              <td>
                인출금액
              </td>
              <td>
                입금계좌
              </td>
              <td>
                인출누적금액
              </td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                2021.9.8
              </td>
              <td>
                500
              </td>
              <td>
                신한
              </td>
              <td>
                5,000,0
              </td>
            </tr>
          </tbody>
        </table>

        <p class="memo">
          <span>
            MEMO.
          </span>
          <span>
            - 이번 인출한건 이렇게 쓰였습니다.
          </span>
        </p>
      </div>



      <div class="output_table">
        <h2>
          인테리젼스 (R01021000)
        </h2>
        <table>
          <colgroup>
            <col width="*">
            <col width="26%">
            <col width="26%">
            <col width="30%">
          </colgroup>
          <thead>
            <tr>
              <td>
                날 짜
              </td>
              <td>
                인출금액
              </td>
              <td>
                입금계좌
              </td>
              <td>
                인출누적금액
              </td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                2021.9.8
              </td>
              <td>
                500
              </td>
              <td>
                신한
              </td>
              <td>
                5,000,0
              </td>
            </tr>
          </tbody>
        </table>

        <p class="memo">
          <span>
            MEMO.
          </span>
          <span>
            - 이번 인출한건 이렇게 쓰였습니다.
          </span>
        </p>
      </div>



      <div class="output_table">
        <h2>
          인테리젼스 (R01021000)
        </h2>
        <table>
          <colgroup>
            <col width="*">
            <col width="26%">
            <col width="26%">
            <col width="30%">
          </colgroup>
          <thead>
            <tr>
              <td>
                날 짜
              </td>
              <td>
                인출금액
              </td>
              <td>
                입금계좌
              </td>
              <td>
                인출누적금액
              </td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                2021.9.8
              </td>
              <td>
                500
              </td>
              <td>
                신한
              </td>
              <td>
                5,000,0
              </td>
            </tr>
          </tbody>
        </table>

        <p class="memo">
          <span>
            MEMO.
          </span>
          <span>
            - 이번 인출한건 이렇게 쓰였습니다.
          </span>
        </p>
      </div>


    </section>
  </div>
</body>

	<script>
	var user_id =  '[[${user_id}]]';
	$(document).ready(function(){

    });
    
    function goBack(){
    	location.href = '/m/PM01/'+ user_id;
    }
    </script>

</html>