<!DOCTYPE html>
<html xmlns:tm="http://www.thymeleaf.org" 
	  xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.thymeleaf.org/layout">

<head>
  <meta charset="utf-8" />
  <title>자산사용계획</title>
  <meta name="viewport" content="user-scalable=no, initial-scale=1, width=device-width, target-densitydpi=medium-dpi" />
  <meta name="format-detection" content="telephone=no" />
  <link type="text/css" rel="stylesheet" href="/css/style.css" />
  <link type="text/css" rel="stylesheet" href="/css/bootstrap.css" />
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />

  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script type="text/javascript" src="/js/common_added.js"></script>
  <script type="text/javascript" src="/js/app.js"></script>
  <script type="text/javascript" src="/js/navigation.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="/js/app.js"></script>
  <script type="text/javascript" src="/js/common_util.js"></script>
</head>

<body>
  	<th:block th:include="customer/loading"></th:block>
  	
  <div class="wrapper_notice output">
    <div class="top_wrapper">
      <a href="javascript:goBack();" class="go_back">뒤로가기</a>
      <h2>자산사용계획</h2>
    </div>
    <section class="self_certification">
      <div class="notice_search_bar">
        <h2 class="output">가입금융사</h2>
      </div>

      <div class="output_list_wrap">
        <ul id="contracts">
          <!-- 
          <li>
            <a href="">
              <div>
                <img src="/images/logo_metis.png">
              </div>
              <p>
                Metis HK
              </p>
            </a>
          </li>
          <li>
            <a href="">
              <div>
                <img src="/images/logo_metis.png">
              </div>
              <p>
                Metis HK
              </p>
            </a>
          </li>
          <li>
            <a href="">
              <div>
                <img src="/images/logo_metis.png">
              </div>
              <p>
                Metis HK
              </p>
            </a>
          </li>
          <li>
            <a href="">
              <div>
                <img src="/images/logo_metis.png">
              </div>
              <p>
                Metis HK
              </p>
            </a>
          </li>
          -->
        </ul>

        <div class="btn_wrap_left">
          <a href="javascript:downloadFile('1');" id="a_file_url1" class="b_blue"><img src="/images/btn_icon_down.png">납입인출계획</a>
          <input type="hidden" id="file_url1">
          <a href="javascript:downloadFile('2');" id="a_file_url2" class="b_blue"><img src="/images/btn_icon_down.png">연금목돈예상금액</a>
          <input type="hidden" id="file_url2">
        </div>
		<!-- 
        -->
      </div>


      


    </section>
  </div>
</body>

	<script>
	var user_id =  '[[${user_id}]]';
	$(document).ready(function(){
		wrap_mask(0);
		getCustomerInfo();
		getContractList();

    });
	
	function getCustomerInfo(){
		var param = {cust_id : user_id};
		
		$.get({
			url: '/cs/customer-info'
			, type: 'GET'
			, async: false
			, data : param
			, contentType: 'application/json; charset=UTF-8'
			, headers: {
			}
			, success: function (data) {
				console.log(data);
				var cust = data.result;

				$('#customer_nm_nav').text(cust.CUST_NM);
                $('#file_url1').val("http://f-ims.com" + cust.FILE_URL1);
                //$('#a_file_url1').attr('href', "http://f-ims.com" + cust.FILE_URL1).prop('download', true);
                $('#file_url2').val("http://f-ims.com" + cust.FILE_URL2);
                //$('#a_file_url2').attr('href',"http://f-ims.com" + cust.FILE_URL2).prop('download', true);

			}
			, error: function (req, status, error) {
				console.log(req + ", " + status + ", " + error);
			}
		});
		
		
	}
	
	function getContractList() {
		var param = {
          cust_id: user_id,
          /* withdraw_use : 'P' */
        };
		
		$.get({
			url: '/cs/contracts'
			, type: 'GET'
			, async: false
			, data : param
			, contentType: 'application/json; charset=UTF-8'
			, headers: {
			}
			, success: function (data) {
				console.log(data);
				var list = data.result;
				//list = [];
				var html = '';
				$('#contracts').empty();
				if (list.length == 0) {
					html += '<li>'
					html += '<p>작성된 자산사용계획이 없습니다.</p>'
					html += '</li>'
					;
				} else {
					for (var i = 0; i < list.length; i++) {
						html += '<li>'
						html += '<a href="javascript:goAssetPlanDetail('+ list[i].SEQ +');">'
						html += '<div>'
						html += list[i].INSCO_CD != '' ? '<img src="/images/logo_circle_2/' + list[i].INSCO_CD + '.png">': '		<img src="/images/logo_circle_2/FW.png" />'
						html += '</div>'
						html += '<div>'
						html += '<p class="company_name">'
						html +=  list[i].PROD_NM
						html += '</p>'
						html += '<p class="name">'
						html += '<span>' + list[i].GEAJA_NM+ '</span> / <span>' + list[i].PIABO_NM + '</span>'
						html += '</p>'
						html += '<p style="display:inline-block;" class="money">'+(list[i].HPREM_AMT > 0? 'HKD $' + list[i].HPREM_AMT : 'USD $' + list[i].UPREM_AMT ) + '</p>'
						html += '<p style="display:inline-block;" class="date">'+ list[i].CONT_DATE+ '</p>'
						html += '</div>'
						html += '</a>'
						html += '</li>'
						;
					}
				}
		          
				$('#contracts').html(html);

				
			}
			, error: function (req, status, error) {
				console.log(req + ", " + status + ", " + error);	
				
			}
		});
	}
	
	function downloadFile(idx) {
		console.log('downloadFile(' + idx + ')');
		// alert('준비중입니다.')
        if (idx == 1 || idx == '1') {
          location.href = '/files/download?file_url=' + $('#file_url1').val();
        } else {
          location.href = '/files/download?file_url=' + $('#file_url2').val();
        }
	}
	
	function goAssetPlanDetail(seq){
		location.href = '/m/PM08_1/' + user_id + '/' + seq;
	}
    
    function goBack(){
    	location.href = '/m/PM01/'+ user_id;
    }
    </script>

</html>