<!DOCTYPE html>
<html xmlns:tm="http://www.thymeleaf.org" 
	  xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.thymeleaf.org/layout">

<head>
  <meta charset="utf-8" />
  <title>자산사용계획</title>
  <meta name="viewport" content="user-scalable=yes, initial-scale=1, width=device-width, target-densitydpi=medium-dpi" />
  <meta name="format-detection" content="telephone=no" />
  <link type="text/css" rel="stylesheet" href="/css/style.css" />
  <link type="text/css" rel="stylesheet" href="/css/bootstrap.css" />
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />

  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script type="text/javascript" src="/js/common_added.js"></script>
  <script type="text/javascript" src="/js/app.js"></script>
  <script type="text/javascript" src="/js/navigation.js"></script>
  <script type="text/javascript" src="/js/common_util.js"></script>
</head>

<body>

  	<th:block th:include="customer/loading"></th:block>
  	
  <div class="wrapper_notice output">
    <div class="top_wrapper">
      <a href="javascript:goBack();" class="go_back">뒤로가기</a>
      <h2>자산사용계획</h2>
    </div>
    <section class="self_certification">
      <div class="notice_search_bar">
        <h2 class="output">가입금융사</h2>
      </div>

	  <div id="asset-log">
	
	  <!-- 
      <div class="output_table">
        <h2>
          인테리젼스 (R01021000)
        </h2>
        <table>
          <colgroup>
            <col width="*">
            <col width="26%">
            <col width="26%">
            <col width="30%">
          </colgroup>
          <thead>
            <tr>
              <td>
                날 짜
              </td>
              <td>
                인출금액
              </td>
              <td>
                입금계좌
              </td>
              <td>
                인출누적금액
              </td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                2021.9.8
              </td>
              <td>
                500
              </td>
              <td>
                신한
              </td>
              <td>
                5,000,0
              </td>
            </tr>
          </tbody>
        </table>

        <p class="memo">
          <span>
            MEMO.
          </span>
          <span>
            - 이번 인출한건 이렇게 쓰였습니다.
          </span>
        </p>
      </div>



      <div class="output_table">
        <h2>
          인테리젼스 (R01021000)
        </h2>
        <table>
          <colgroup>
            <col width="*">
            <col width="26%">
            <col width="26%">
            <col width="30%">
          </colgroup>
          <thead>
            <tr>
              <td>
                날 짜
              </td>
              <td>
                인출금액
              </td>
              <td>
                입금계좌
              </td>
              <td>
                인출누적금액
              </td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                2021.9.8
              </td>
              <td>
                500
              </td>
              <td>
                신한
              </td>
              <td>
                5,000,0
              </td>
            </tr>
          </tbody>
        </table>

        <p class="memo">
          <span>
            MEMO.
          </span>
          <span>
            - 이번 인출한건 이렇게 쓰였습니다.
          </span>
        </p>
      </div>



      <div class="output_table">
        <h2>
          인테리젼스 (R01021000)
        </h2>
        <table>
          <colgroup>
            <col width="*">
            <col width="26%">
            <col width="26%">
            <col width="30%">
          </colgroup>
          <thead>
            <tr>
              <td>
                날 짜
              </td>
              <td>
                인출금액
              </td>
              <td>
                입금계좌
              </td>
              <td>
                인출누적금액
              </td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                2021.9.8
              </td>
              <td>
                500
              </td>
              <td>
                신한
              </td>
              <td>
                5,000,0
              </td>
            </tr>
          </tbody>
        </table>

        <p class="memo">
          <span>
            MEMO.
          </span>
          <span>
            - 이번 인출한건 이렇게 쓰였습니다.
          </span>
        </p>
      </div>
      
      -->
      
      </div>


    </section>
  </div>
</body>

	<script>
	var user_id =  '[[${user_id}]]';
	var seq =  '[[${seq}]]';
	$(document).ready(function(){
		wrap_mask(0);
		getCustomerInfo();
		console.log(seq);
		getAssetPlanList();
    });
	
	function getCustomerInfo(){
		var param = {cust_id : user_id};
		
		$.get({
			url: '/cs/customer-info'
			, type: 'GET'
			, async: false
			, data : param
			, contentType: 'application/json; charset=UTF-8'
			, headers: {
			}
			, success: function (data) {
				console.log(data);
				var cust = data.result;

				$('#customer_nm_nav').text(cust.CUST_NM);
				
			}
			, error: function (req, status, error) {
				console.log(req + ", " + status + ", " + error);	
				
			}
		});
		
		
	}
	
	function getAssetPlanList(){
		var param = {
          cust_id: user_id,
          cont_seq : seq
        }
		
		$.get({
			url: '/cs/asset-plans'
			, type: 'GET'
			, async: false
			, data : param
			, contentType: 'application/json; charset=UTF-8'
			, headers: {
			}
			, success: function (data) {
				console.log(data);
				var list = data.result;
				//list = [];
				var html = '';
				$('#asset-log').empty();
				if (list.length == 0) {
					html += '<div class="output_table">'
					html += '	<h2>자산 사용 계획이 없습니다.</h2>'
			        html += '</div>'
				} else {
                    html += '<div class="output_table">'
					for (var i = 0; i < list.length; i++) {

                      if (i == 0) {
                        html += '	<h2>'
                        html += list[i].INSCO_NM + ' / ' + list[i].PROD_NM + '(' + list[i].INSPOL_NO + ')'
                        html += '	</h2>'
                      }
				        html += '	<table>'
				        html += '		<colgroup>'
				        html += '			<col width="10%;">'
				        html += '			<col width="20%;">'
				        html += '			<col width="*">'
				        html += '			<col width="*">'
				        html += '		</colgroup>'
				        html += '		<thead>'
				        html += '			<tr>'
				        html += '				<td>사용연도</td>'
				        html += '				<td>인출금액</td>'
				        html += '				<td>목적</td>'
				        html += '				<td>사용방법</td>'
				        html += '			</tr>'
				        html += '		</thead>'
				        html += '		<tbody>'
				        html += '			<tr>'
				        html += '				<td>' + list[i].USE_YEAR + '</td>'
				        html += '				<td>' + formatComma(list[i].AMT) + '</td>'
				        html += '				<td>' + list[i].PURPOSE + '</td>'
				        html += '				<td>' + list[i].USE_MEAN + '</td>'
				        html += '			</tr>'
				        html += '		</tbody>'
				        html += '	</table>'
				        html += '	<p class="memo">'
				        html += '		<span>MEMO.</span>'
				        html += '		<span>- '+ list[i].MEMO +'</span>'
				        html += '	</p>'


					}
                  html += '</div>'
					
				}
		          
				$('#asset-log').html(html);
				
			}
			, error: function (req, status, error) {
				console.log(req + ", " + status + ", " + error);	
				
			}
		});
	}
    
    function goBack(){
    	location.href = '/m/PM08/'+ user_id;
    }
    </script>

</html>