<!DOCTYPE html>
<html xmlns:tm="http://www.thymeleaf.org" 
	  xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.thymeleaf.org/layout">

<head>
  <meta charset="utf-8" />
  <title>회사소개</title>
  <meta name="viewport" content="user-scalable=no, initial-scale=1, width=device-width, target-densitydpi=medium-dpi" />
  <meta name="format-detection" content="telephone=no" />
  <link type="text/css" rel="stylesheet" href="/css/style.css" />
  <link type="text/css" rel="stylesheet" href="/css/bootstrap.css" />
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />

  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script type="text/javascript" src="/js/common_added.js"></script>
  <script type="text/javascript" src="/js/app.js"></script>
  <script type="text/javascript" src="/js/navigation.js"></script>
  <script type="text/javascript" src="/js/common_util.js"></script>
</head>

<body>
  	<th:block th:include="customer/loading"></th:block>
  	
  <div class="wrapper_company">
    <div class="top_wrapper">
      <a href="javascript:goBack();" class="go_back">뒤로가기</a>
      <h2>회사소개</h2>
    </div>
    <section class="self_certification">
      

      <div class="comapny_wrap">
       <img src="/images/img_company.jpg">


      </div>


    </section>
  </div>
</body>

	<script>
	var user_id =  '[[${user_id}]]';
	$(document).ready(function(){
		wrap_mask(0);
		getCustomerInfo();
    });
	
	function getCustomerInfo(){
		var param = {cust_id : user_id};
		
		$.get({
			url: '/cs/customer-info'
			, type: 'GET'
			, async: false
			, data : param
			, contentType: 'application/json; charset=UTF-8'
			, headers: {
			}
			, success: function (data) {
				console.log(data);
				var cust = data.result;

				$('#customer_nm_nav').text(cust.CUST_NM);
				
			}
			, error: function (req, status, error) {
				console.log(req + ", " + status + ", " + error);	
				
			}
		});
		
		
	}
    
    function goBack(){
    	location.href = '/m/PM01/'+ user_id;
    }
    </script>

</html>