<!DOCTYPE html>
<html xmlns:tm="http://www.thymeleaf.org" 
	  xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.thymeleaf.org/layout">

<head>
  <meta charset="utf-8" />
  <title>헬스케어</title>
  <meta name="viewport" content="user-scalable=no, initial-scale=1, width=device-width, target-densitydpi=medium-dpi" />
  <meta name="format-detection" content="telephone=no" />
  <link type="text/css" rel="stylesheet" href="/css/style.css" />
  <link type="text/css" rel="stylesheet" href="/css/bootstrap.css" />
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />

  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script type="text/javascript" src="/js/common_added.js"></script>
  <script type="text/javascript" src="/js/app.js"></script>
  <script type="text/javascript" src="/js/navigation.js"></script>
</head>

<body>
  <div class="wrapper_lock health">
    <header>
      <div id="menu-container">
        <div id="menu-wrapper">
          <div id="hamburger-menu">
            <span></span>
            <span></span>
            <span></span>
          </div>
          <!-- hamburger-menu -->
        </div>
        <!-- menu-wrapper -->
        <ul class="menu-list accordion">
          <p class="welcome">
            <span>
              <img src="/images/lnb_person.png">
              <em>홍길동</em>
            </span>
          </p>
          <li id="nav1" class="toggle accordion-toggle">
            <span class="icon-plus">
              <img src="/images/icon_menu_notice.png">
            </span>
            <a class="menu-link" href="#">
              공지사항
            </a>
          </li>
          <li id="nav2" class="toggle accordion-toggle">
            <span class="icon-plus">
              <img src="/images/icon_menu_join_list.png">
            </span>
            <a class="menu-link" href="#">
              가입내역
            </a>
          </li>
          <li id="nav3" class="toggle accordion-toggle">
            <span class="icon-plus">
              <img src="/images/icon_menu_message.png">
            </span>
            <a class="menu-link" href="#">
              메세지
            </a>
          </li>
          <li id="nav4" class="toggle accordion-toggle">
            <span class="icon-plus">
              <img src="/images/icon_menu_out.png">
            </span>
            <a class="menu-link" href="#">
              인출내역
            </a>
          </li>
          <li id="nav5" class="toggle accordion-toggle">
            <span class="icon-plus">
              <img src="/images/icon_menu_plan.png">
            </span>
            <a class="menu-link" href="#">
              자산계획
            </a>
          </li>
          <li id="nav6" class="toggle accordion-toggle">
            <span class="icon-plus">
              <img src="/images/icon_menu_company.png">
            </span>
            <a class="menu-link" href="#">
              회사소개
            </a>
          </li>
          <li id="nav7" class="toggle accordion-toggle">
            <span class="icon-plus">
              <img src="/images/icon_menu_link.png">
            </span>
            <a class="menu-link" href="#">
              제휴사링크
            </a>
          </li>

          <div class="btn">
            <a href="#none" class="b_logout">
              <img src="/images/b_lnb_logout.png">
              로그아웃
            </a>
            <a href="#none" class="b_lock">
              <img src="/images/b_lnb_pw.png">
              잠금 비밀번호
            </a>
          </div>
          <!-- 2depth 
            <ul class="menu-submenu accordion-content">
              <li><a class="head" href="#">Submenu1</a></li>
              <li><a class="head" href="#">Submenu2</a></li>
              <li><a class="head" href="#">Submenu3</a></li>
            </ul>
            -->
        </ul>
        <h1>
          <a href="#none" class="logo_findwell">
            <img src="/images/logo_findwell.png" />
          </a>
        </h1>
        <button class="go_home">
          <img src="/images/home.png" />
        </button>
      </div>
    </header>



    <section class="hearth_care_wrap">
        <div class="tit">
          <img src="/images/txt_health.png">
        </div>

        <ul class="main_list">
          <li>
            <a href="">
              <p>
                <img src="/images/healthcare_icon_1.png">
              </p>
              <p>
                건강검진
              </p>
            </a>
          </li>
          <li>
            <a href="">
              <p>
                <img src="/images/healthcare_icon_eye.png">
              </p>
              <p>
                안과
              </p>
            </a>
          </li>
          <li>
            <a href="">
              <p>
                <img src="/images/healthcare_icon_out.png">
              </p>
              <p>
                외과
              </p>
            </a>
          </li>
          <li>
            <a href="">
              <p>
                <img src="/images/healthcare_icon_skin.png">
              </p>
              <p>
                피부과
              </p>
            </a>
          </li>
          <li>
            <a href="">
              <p>
                <img src="/images/healthcare_icon_sur.png">
              </p>
              <p>
                성형외과
              </p>
            </a>
          </li>
          <li>
            <a href="">
              <p>
                <img src="/images/healthcare_icon_woman.png">
              </p>
              <p>
                여성과
              </p>
            </a>
          </li>
          <li>
            <a href="">
              <p>
                <img src="/images/healthcare_icon_cell.png">
              </p>
              <p>
                줄기세포
              </p>
            </a>
          </li>
          <li>
            <a href="./PM11_1.html">
              <p>
                <img src="/images/healthcare_icon_hair.png">
              </p>
              <p>
                모발이식
              </p>
            </a>
          </li>
          <li>
            <a href="">
              <p>
                <img src="/images/healthcare_icon_killa.png">
              </p>
              <p>
                킬레이션치료
              </p>
            </a>
          </li>
          <li>
            <a href="">
              <p>
                <img src="/images/healthcare_icon_teeth.png">
              </p>
              <p>
                치과
              </p>
            </a>
          </li>
          <li>
            <a href="">
              <p>
                <img src="/images/healthcare_icon_etc.png">
              </p>
              <p>
                기타
              </p>
            </a>
          </li>
          <li>
            <a href="">
              <p>
                <img src="/images/healthcare_icon_apply.png">
              </p>
              <p>
                신청하기
              </p>
            </a>
          </li>
        </ul>


    </section>
  </div>
</body>

	<script>
	var user_id =  '[[${user_id}]]';
	$(document).ready(function(){

    });
    
    function goBack(){
    	location.href = '/m/PM01/'+ user_id;
    }
    </script>

</html>