<!DOCTYPE html>
<html xmlns:tm="http://www.thymeleaf.org" 
	  xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.thymeleaf.org/layout">

<head>
  <meta charset="utf-8" />
  <title>PassWord 관리</title>
  <meta name="viewport" content="user-scalable=no, initial-scale=1, width=device-width, target-densitydpi=medium-dpi" />
  <meta name="format-detection" content="telephone=no" />
  <link type="text/css" rel="stylesheet" href="/css/style.css" />
  <link type="text/css" rel="stylesheet" href="/css/bootstrap.css" />
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />

  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script type="text/javascript" src="/js/common_added.js"></script>
  <script type="text/javascript" src="/js/app.js"></script>
  <script type="text/javascript" src="/js/navigation.js"></script>
  <script type="text/javascript" src="/js/common_util.js"></script>
</head>

<body>

  	<th:block th:include="customer/loading"></th:block>
  	
  <div class="wrapper_notice">
    <div class="top_wrapper">
      <a href="javascript:goBack();" class="go_back">뒤로가기</a>
      <h2>PassWord 관리</h2>
    </div>
    <section class="self_certification">
      <div class="notice_search_bar flex_box_between">
        <h2 class="output">로그인정보</h2>
        <a href="" class="b_blue">+ 추가하기</a>
      </div>
      <div class="output_table">
        <p style="margin-bottom:15px; line-height:1.2; ">
          ※ 해당 내용을 선택 하시면 상세 정보를 볼 있으면<br>수정/삭제 가능 합니다.  
        </p>
        <a href="javascript:;" class="btnLayer" data-target="#modalPop">
          <table class="login_table">
            <colgroup>
              <col width="30%">
              <col width="30%">
              <col width="*">
            </colgroup>
            <thead>
              <tr>
                <td>
                  스텐타드 차티스
                </td>
                <td>
                  92111111
                </td>
                <td class="t_l">
                  <p>핀번호: 12345</p>
                  <p>로그인: 11111</p>
                  <p>인출: 1234</p>
                </td>
              </tr>
            </thead>
            </tbody>
          </table>
        </a>

        <p class="memo">
          <span>
            Remark
          </span>
          <span>
            텍스트있으면 입력
          </span>
        </p>

        <table class="login_table">
          <colgroup>
            <col width="30%">
            <col width="30%">
            <col width="*">
          </colgroup>
          <thead>
            <tr>
              <td>
                스텐타드 차티스
              </td>
              <td>
                92111111
              </td>
              <td class="t_l">
                <p>핀번호: 12345</p>
                <p>로그인: 11111</p>
                <p>인출: 1234</p>
              </td>
            </tr>
          </thead>
          </tbody>
        </table>

        <p class="memo">
          <span>
            Remark
          </span>
          <span>
            텍스트있으면 입력
          </span>
        </p>

        <table class="login_table">
          <colgroup>
            <col width="30%">
            <col width="30%">
            <col width="*">
          </colgroup>
          <thead>
            <tr>
              <td>
                스텐타드 차티스
              </td>
              <td>
                92111111
              </td>
              <td class="t_l">
                <p>핀번호: 12345</p>
                <p>로그인: 11111</p>
                <p>인출: 1234</p>
              </td>
            </tr>
          </thead>
          </tbody>
        </table>

        <p class="memo">
          <span>
            Remark
          </span>
          <span>
            텍스트있으면 입력
          </span>
        </p>
      </div>
    </section>
  </div>



  <!-- 모달팝업 -->
  <div class="layerPopup login_guide" id="modalPop" data-target="#modalPop">
    <div class="content login_guide_wrap">
      <h2>메시지 창</h2>
      <div class="layerBody">
        <table class="modal_table">
          <colgroup>
            <col width="40%">
            <col width="*">
          </colgroup>
          <tbody>
            <tr>
              <td>
                금융기관
              </td>
              <td>
                <select name="" id="" class="selectbox">
                  <option value="2017">2017</option>
                  <option value="2018">2018</option>
                  <option value="2019">2019</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>
                Id/계좌번호
              </td>
              <td>
                <input type="text" class="input_normal">
              </td>
            </tr>
            <tr>
              <td>
                비밀번호
              </td>
              <td>
                <input type="password" class="input_normal">
              </td>
            </tr>
            <tr>
              <td>
                메모
              </td>
              <td>
                <input type="text" class="input_normal">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="btn_wrap">
        <a href="#none" class="cancle">삭제</a>
        <a href="javascript:;" class="layerClose cancle">취소</a>
        <a href="#none" class="ok">저장</a>
      </div>
    </div>
    <div class="layerDim keep"></div>
  </div>

</body>

	<script>
	var user_id =  '[[${user_id}]]';
	$(document).ready(function(){
		wrap_mask(0);
    });
    
    function goBack(){
    	location.href = '/m/PM01/'+ user_id;
    }
    </script>

</html>