<!DOCTYPE html>
<html xmlns:tm="http://www.thymeleaf.org" 
	  xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.thymeleaf.org/layout">

<head>
  <meta charset="utf-8" />
  <title>리포트</title>
  <meta name="viewport" content="user-scalable=yes, initial-scale=1, width=device-width, target-densitydpi=medium-dpi" />
  <meta name="format-detection" content="telephone=no" />
  <link type="text/css" rel="stylesheet" href="/css/style.css" />
  <link type="text/css" rel="stylesheet" href="/css/bootstrap.css" />
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />

  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script type="text/javascript" src="/js/common_added.js"></script>
  <script type="text/javascript" src="/js/app.js"></script>
  <script type="text/javascript" src="/js/navigation.js"></script>
  <script type="text/javascript" src="/js/common_util.js"></script>
</head>

<body>
  	<th:block th:include="customer/loading"></th:block>
  	
  <div class="wrapper_notice">
    <div class="top_wrapper">
      <a href="javascript:goBack();" class="go_back">뒤로가기</a>
      <h2>리포트</h2>
      <button class="go_home sub">
        <img src="/images/home.png" />
      </button>
    </div>
    <section class="self_certification">
      

      <div class="notice_view">
        <div class="tit flex_box_between">
          <div>
            <p id="titl"></p>
            <p><span id="bd_nm"></span> <!-- ㅣ <span id="author_nm">김소연</span> --></p>
          </div>
          <div id="in_dtm">
            
          </div>
        </div>

        <div class="content" id="cont" style="width:100%;">
        </div>

      </div>


    </section>
  </div>
</body>

	<script>
	var user_id =  '[[${user_id}]]';
	var item_no =  '[[${item_no}]]';
	$(document).ready(function(){
		wrap_mask(0);
		getCustomerInfo();
		getBoardItem();

    });
	
	function getCustomerInfo(){
		var param = {cust_id : user_id};
		
		$.get({
			url: '/cs/customer-info'
			, type: 'GET'
			, async: false
			, data : param
			, contentType: 'application/json; charset=UTF-8'
			, headers: {
			}
			, success: function (data) {
				console.log(data);
				var cust = data.result;

				$('#customer_nm_nav').text(cust.CUST_NM);
				
			}
			, error: function (req, status, error) {
				console.log(req + ", " + status + ", " + error);	
				
			}
		});
		
		
	}
	
	function getBoardItem(){
		var param = {
				BD_NO : '62',
				MB_ID : 'YNG',
				ITEM_NO : item_no,
		}
		
		$.get({
			url: '/cs/notice-item'
			, type: 'GET'
			, async: false
			, data : param
			, contentType: 'application/json; charset=UTF-8'
			, headers: {
			}
			, success: function (data) {
				console.log(data);
				var item = data.result;
				var html = '';
				//$('#items').empty();
				
				//console.log(html);
				//$('#items').html(html);
				$('#titl').html(item.titl);
				$('#bd_nm').html(item.bd_NM);
				//$('#author_nm').html(item.author_NM);
				//$('#author_nm').html('FINDWELLS');
				$('#in_dtm').html(item.in_DTM);
				$('#cont').html(item.cont);
				var str = $('#cont').text();
				console.log(str);
				str = str.replace(/\/Upload/ig, 'http://f-ims.com/Upload');
				$('#cont').html(str);
				$('#cont').find('img').css('width', '100%');
				
			}
			, error: function (req, status, error) {
				console.log(req + ", " + status + ", " + error);	
				
			}
		});
	}
    
    function goBack(){
    	location.href = '/m/PM13/'+ user_id;
    }
    </script>

</html>