<!DOCTYPE html>
<html xmlns:tm="http://www.thymeleaf.org" 
	  xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.thymeleaf.org/layout">

<head>
  <meta charset="utf-8" />
  <title>유학서비스</title>
  <meta name="viewport" content="user-scalable=no, initial-scale=1, width=device-width, target-densitydpi=medium-dpi" />
  <meta name="format-detection" content="telephone=no" />
  <link type="text/css" rel="stylesheet" href="/css/style.css" />
  <link type="text/css" rel="stylesheet" href="/css/bootstrap.css" />
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />

  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script type="text/javascript" src="/js/common_added.js"></script>
  <script type="text/javascript" src="/js/app.js"></script>
  <script type="text/javascript" src="/js/navigation.js"></script>
</head>

<body>
  <div class="wrapper_lock flying">

	<!-- header //-->
	<th:block th:include="customer/header"></th:block>
	<!-- // header -->



    <section class="hearth_care_wrap">
        <div class="tit">
          <img src="/images/txt_flying.png">
        </div>

        <ul class="main_list flying">
          <li>
            <a href="">
              <p>
                캐나다
              </p>
            </a>
          </li>
          <li>
            <a href="PM15_1.html">
              <p>
                미국
              </p>
            </a>
          </li>
          <li>
            <a href="">
              <p>
                동남아
              </p>
            </a>
          </li>
          <li>
            <a href="">
              <p>
                유럽
              </p>
            </a>
          </li>
        </ul>


    </section>
  </div>
</body>
	<script>
	var user_id =  '[[${user_id}]]';
	$(document).ready(function(){

    });
    
    function goBack(){
    	location.href = '/m/PM01/'+ user_id;
    }
    </script>

</html>