<!DOCTYPE html>
<html xmlns:tm="http://www.thymeleaf.org" 
	  xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.thymeleaf.org/layout">

<head>
  <meta charset="utf-8" />
  <title>제휴사</title>
  <meta name="viewport" content="user-scalable=yes, initial-scale=1, width=device-width, target-densitydpi=medium-dpi" />
  <meta name="format-detection" content="telephone=no" />
  <link type="text/css" rel="stylesheet" href="/css/style.css" />
  <link type="text/css" rel="stylesheet" href="/css/bootstrap.css" />
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />

  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script type="text/javascript" src="/js/common_added.js"></script>
  <script type="text/javascript" src="/js/app.js"></script>
  <script type="text/javascript" src="/js/navigation.js"></script>
</head>

<body>
  <div class="wrapper_lock partner">
  
     	<!-- header start -->
	<th:block th:include="customer/header"></th:block>
    <!-- header end -->



    <section class="partner_wrap">
       
        <h2>금융사</h2>
        <ul class="partner">
          <li>
            <a href="https://www.metisgl.com/" target="_blank">
              <p>
                <img src="/images/partner_1_metis.png">
              </p>
              <p>
                MetisHK
              </p>
            </a>
          </li>
          <li>
            <a href="https://www.investors-trust.com/kor/" target="_blank">
              <p>
                <img src="/images/partner_2_invest.png">
              </p>
              <p>
                INVESTORS TRUST
              </p>
            </a>
          </li>
          <li>
            <a href="https://www.generali.com.hk/EN_US" target="_blank">
              <p>
                <img src="/images/partner_3_generali.png">
              </p>
              <p>
                GENERALI
              </p>
            </a>
          </li>
          <li>
            <a href="https://www.axa.com.hk/zh" target="_blank">
              <p>
                <img src="/images/partner_4_axa.png">
              </p>
              <p>
                AXA
              </p>
            </a>
          </li>
          <li>
            <a href="https://www.manulife.ca/personal.html" target="_blank">
              <p>
                <img src="/images/partner_5_menu.png">
              </p>
              <p>
                MANULIFE
              </p>
            </a>
          </li>
          <li>
            <a href="https://www.sunlife.ca/en/" target="_blank">
              <p>
                <img src="/images/partner_6_sun.png">
              </p>
              <p>
                SUN LIFE
              </p>
            </a>
          </li>
          <li>
            <a href="https://www.fubonlife.com.hk/life_hk/html/en/index.html" target="_blank">
              <p>
                <img src="/images/partner_7_fubon.png">
              </p>
              <p>
                FUBON LIFE
              </p>
            </a>
          </li>
          <li>
            <a href="https://www.zurich.com/" target="_blank">
              <p>
                <img src="/images/partner_8_zuri.png">
              </p>
              <p>
                ZURICH
              </p>
            </a>
          </li>
          <li>
            <a href="https://www.fwd.com.hk/" target="_blank">
              <p>
                <img src="/images/partner_9_fwd.png">
              </p>
              <p>
                FWD
              </p>
            </a>
          </li>
          <li>
            <a href="https://www.aia.com.hk/zh-hk/index.html" target="_blank">
              <p>
                <img src="/images/partner_10_aia.png">
              </p>
              <p>
                AIA
              </p>
            </a>
          </li>
          <li>
            <a href="https://www.rl360.com/" target="_blank">
              <p>
                <img src="/images/partner_11_rl360.png">
              </p>
              <p>
                RL360
              </p>
            </a>
          </li>
          <li>
            <a href="https://www.sc.com/hk/" target="_blank">
              <p>
                <img src="/images/partner_12_sc.png">
              </p>
              <p>
                STANDARD CHARTERED
              </p>
            </a>
          </li>
          <li>
            <a href="https://www.hsbc.com.hk/" target="_blank">
              <p>
                <img src="/images/partner_12_hsbc.png">
              </p>
              <p>
                HSBC
              </p>
            </a>
          </li>
          <li>
            <a href="https://www.boc.cn/en/" target="_blank">
              <p>
                <img src="/images/partner_13_boc.png">
              </p>
              <p>
                BANK OF CHINA
              </p>
            </a>
          </li>

        </ul>


    </section>
  </div>
</body>

<!-- 
<script>
  scroll_start()
</script> -->

	<script>
	var user_id =  '[[${user_id}]]';
	$(document).ready(function(){

    });
    
    function goBack(){
    	location.href = '/m/PM01/'+ user_id;
    }
    </script>

</html>