<!doctype html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, shrink-to-fit=no"">
		<meta name="HandheldFriendly" content="true">
		<title>FIND WELLS</title>
		<!-- googlefont -->
		<link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.4.0/main.min.css" />
		<link rel="stylesheet" href="https://unpkg.com/@fullcalendar/daygrid@4.4.0/main.min.css" />
		<link rel="stylesheet" href="./css/common.css"/>
		<link rel="stylesheet" href="./css/style.css"/>
		<script type="text/javascript" src="./js/jquery.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.4.0/main.min.js"></script>
		<script src="https://unpkg.com/@fullcalendar/interaction@4.4.0/main.min.js"></script>
		<script src="https://unpkg.com/@fullcalendar/daygrid@4.4.0/main.min.js"></script>
		<script type="text/javascript" src="./js/style.js"></script>
	</head>
	<body>	
		<header>
			<div class="back_wrap">
				<a href="javascript:;" onclick="history.back(-1);"><img src="./img/icons/back_btn.png" alt="뒤로가기 버튼"></a>
			</div>
			<p class="header_title">자료실 상세</p>
		</header>
		<section class="detail">
			<div class="detail_title_wrap">
				<p class="top_title">Athena Best B2B & B2C 활성화 및 비밀번호 변경 안내서</p>
				<div class="name_wrap clearfix2">
					<div class="left">
						<p class="has_right_border">자료실 명</p>
						<p>홍길동</p>
					</div>
					<p class="date">2013-03-15</p>
				</div>
			</div>
			<div class="container">
				<ul class="file_down">
					<li>
						<a href="javascript:;"><img src="./img/icons/down_icon.png" alt="파일다운 아이콘">samplefile.zip</a>
					</li>
					<li>
						<a href="javascript:;"><img src="./img/icons/down_icon.png" alt="파일다운 아이콘">samplefile123.zip</a>
					</li>
					<li>
						<a href="javascript:;"><img src="./img/icons/down_icon.png" alt="파일다운 아이콘">samplefile1234.zip</a>
					</li>
				</ul>
				<div class="text_wrap">
					<p>Fubon Life 회사 및 상품(Wealth Successor / Tomorrow / Absolute Annuity) 소개의 한글 버전을 첨부합니다.</p>
					<img src="./img/sample_img.jpg" alt="사진">
					<img src="./img/sample_img.jpg" alt="사진">
				</div>
			</div>
		</section>
	</body>
</html>