<!doctype html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, shrink-to-fit=no">
		<meta name="HandheldFriendly" content="true">
		<title>FIND WELLS</title>
		<!-- googlefont -->
		<link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.4.0/main.min.css" />
		<link rel="stylesheet" href="https://unpkg.com/@fullcalendar/daygrid@4.4.0/main.min.css" />
		<link rel="stylesheet" href="/css/mobile/common.css"/>
		<link rel="stylesheet" href="/css/mobile/style.css"/>
		<script type="text/javascript" src="/js/jquery.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.4.0/main.min.js"></script>
		<script src="https://unpkg.com/@fullcalendar/interaction@4.4.0/main.min.js"></script>
		<script src="https://unpkg.com/@fullcalendar/daygrid@4.4.0/main.min.js"></script>
		<script type="text/javascript" src="/js/mobile/style.js"></script>
	</head>
	<body>
		<section class="form_page login">
			<form>
				<ul>
					<li class="logo">
						<a href="./index.html">
							<img src="/img/logo.png">
						</a>
					</li>
					<li>
						<input type="text" placeholder="사원번호" onKeyup="this.value=this.value.replace(/[^0-9]/g,'');"/>
					</li>
					<li>
						<input type="password" placeholder="비밀번호" onKeyup="this.value=this.value.replace(/[^0-9]/g,'');"/>
					</li>
				</ul>
				<div class="btn_wrap">
					<button type="button" class="submit_btn" onclick="javascript:window.location.href='./password_set.html';">인증확인</button>
				</div>
			</form>
		</section>
		<script>
			//인풋 입력 시 버튼 활성화
			$(document).ready(function(){
				$('input').keyup(function(){
					var result = txtFieldCheck() == true ? true : false;
					if(result == false){
						$('.submit_btn').addClass('on');
					}
				});
				function txtFieldCheck(){
					var txtEle = $("input");
					for(var i = 0; i < txtEle.length; i ++){
						if("" == $(txtEle[i]).val() || null == $(txtEle[i]).val()){
							return true;
						}
					}
				};
			});
		</script>
	</body>
</html>