@charset "utf-8";

/* ==================== GOLBAL ==================== */
*{margin:0;padding:0;/* font-family:dotum,'돋움', Gulim, Arial, Verdana, AppleGothic, sans-serif; */}
body{background-color:#fff;color:#666;font-size:12px;line-height:120%;}

ul, ol, li{list-style:none; }
img, hr{border:none;}
img{vertical-align:top; border:0px ;}

/* Link Style */
a:link{text-decoration:none; color:#0000ff;}
a:visited{text-decoration:none; color:#0000ff;}
a:active{text-decoration:none; color:#0000ff;}
a:hover{text-decoration:underline; color:#0000ff;}

a:link.t1{text-decoration:underline; color:#666;}
a:visited.t1{text-decoration:underline; color:#666;}
a:active.t1{text-decoration:underline; color:#666;}
a:hover.t1{text-decoration:none; color:#666;}

/* Table Style */
table{border-collapse:collapse;  border-spacing:0; table-layout:fixed; }
table td{vertical-align:middle;}
table td img{vertical-align:middle;}

a,em,span { color:inherit;  font-family:inherit; font-size:inherit; line-height: inherit; }

/* From Style */
textarea{padding:5px; border: solid 1px #bdbdbd; background-color:#fff;}
input{vertical-align:middle;}
input.txt,
input.text,
input.it{height: 22px; line-height:23px; border: solid 1px #bdbdbd; background-color:#fff;}
input.chk{}
input.radio{}
select			{height: 24px; line-height:24px; border: solid 1px #bdbdbd; background-color:#fff;vertical-align:middle;}
hr, caption		{display:none;}
legend			{position:absolute; height:0; font-size:0px; line-height:0; overflow:hidden; text-indent:-20000px; }
address,cite,em	{font-style:normal;}
fieldset		{border:0; padding:0; }
label			{cursor:pointer;}

body{word-wrap:break-word;-webkit-text-size-adjust:none;}
img, fieldset, button{border:none;}
caption{visibility:hidden;line-height:0;}
li, dl, dt, dd{list-style:none;}
textarea{overflow:auto;}
legend{position:absolute;top:0;left:0;width:0;height:0;overflow:hidden;visibility:hidden;font-size:0;line-height:0;} /* For Screen Reader */

/* Color */

/* 유효성 검사(Validation) 노란색 */
.essential {
	color: yellow !important;
}

/* 정렬 간격 */
.fl{float:left;}
.fr{float:right;}

.mt0{margin-top:0}
.mr0{margin-right:0}
.mb0{margin-bottom:0}
.ml0{margin-left:0}
.mb10{margin-bottom:10px;}

.pt0{padding-top:0}
.pr0{padding-right:0}
.pb0{padding-bottom:0}
.pl0{padding-left:0}

.h15 {display:block;height:15px;}
.h20 {display:block;height:20px;}
.h25 {display:block;height:25px;}
.h30 {display:block;height:30px;}

.tar {text-align:right;}
.tac {text-align:center;}
.tal {text-align:left;}

.bold {font-weight:bold !important;}

/* ==================== Table ==================== */

#midpad1 {color:#376aa9; border:2px solid #376aa9; padding:25px 0px; text-align:center; font-size:23px; font-weight:bold; margin:40px auto; margin-bottom:20px;border-radius: 4px}

div #tb {position:relative;width:100%;height:auto;}
span.bt {display:block;text-align:right;margin-top:15px;}
table.input {border-top:2px solid #666;width:100%;}
table.input th{padding:7px 10px;border-bottom:1px solid #e4e4e4;}
table.input td{padding:4px 10px;border-bottom:1px solid #e4e4e4;}
table.input thead{background:#f5f5f5;}
table.input tbody th{border-right:1px solid #e4e4e4;text-align:left;padding-left:20px;background:#f5f5f5;}
table.input tbody td.rline{border-right:1px solid #e4e4e4;}
table tbody#tb_1 tr{height: 40px;}
table.input2 thead {background-color:#fff;color:#222;height:22px;text-align:center;border:1px 0;border-color:#3d4a57;font-weight: bold;}
table.input2 tbody {background-color:#fff;color:#222;border:1px 0;border-color:#3d4a57;}
table.input2 th{padding:10px 8px;border-bottom:2px solid #bdbdbd;border-top:2px solid #bdbdbd;}
table.input2 td{padding:10px 6px;border-bottom:1px solid #e4e4e4;}


.table_st1 {width: 100%; border-top:2px solid #2f3943;}
.table_st1 th {padding: 9px 2px 8px 2px;  background-color:#4e5e6e; color:#fff;white-space:nowrap;letter-spacing:-1px;text-align:center;}
.table_st1 td.bor_x {border-right: 0; }
.table_st1 tr.col_o {background-color:#f7f7f7;}
.table_st1 td {padding: 4px 10px; border-bottom: solid 1px #d8d8d8;border-right: solid 1px #d8d8d8;height:24px;}

/* ==================== Layout ==================== */
#wrap {width:100%;}
#contents{padding: 0px;background: transparent;height:auto;min-height: 662px;border-top: 1px solid #aebac7;}

/* ==================== Title ==================== */
h2	{font-family: "dotum", Arial, sans-serif; font-size:16px; color:#0084ff; font-weight:bold;padding-top:30px;margin-bottom:20px;}
h3	{font-family: "dotum", Arial, sans-serif; font-size:16px; color:#000; font-weight:bold;margin-top:30px;margin-bottom:20px;padding-left:16px;letter-spacing:-1px; background: url(/images/bullet_h3.png) no-repeat 3px 0;}
h3.none	{font-family: "dotum", Arial, sans-serif; font-size:16px; color:#000; font-weight:bold;margin-top: 5px;margin-bottom: 0;padding-left:16px;letter-spacing:-1px;}
h4  {font-size:14px; color:#000;font-weight:bold;padding:10px;}

/* ==================== Header ==================== */


/* ==================== search ==================== */
.search {max-width: 1675px;width:1675px;border: 1px solid #d0d0d0;background: #fafafa;box-sizing:border-box;}
table.se {margin:0px 20px 0px 20px;}
table.se tr{height:40px;}
table.se tr th {padding-right:0px;height: 32px;font-weight:normal;text-align:left;color: #333333;font-weight: bold; width: 70px;}
table.se .font_blue { color:#2267ec;  }
table.se tr td {padding-right:15px; }
table.se tr td.line {width:2px;background:url(../images/img_search_line.png) repeat-y;padding-right:10px;text-indent:-9999px;}
.td_btn{text-align: right;width: 85px;}

/* ==================== searchPop ==================== */
.searchPop {max-width: 100%;width:1800px;border: 1px solid #d0d0d0;background: #fafafa;box-sizing:border-box;}

/* #search .se_bg ul {margin:10px 20px 10px 20px;width: 100%;} */
/* #search .se_bg ul li{line-height:28px;padding-right:10px;height:28px;font-weight:normal;text-align:left;color:#222;float: left;} */
/* #search .se_bg ul li.line {width:2px;;background:url(/images/img_search_line.png) repeat-y;padding-right:10px;text-indent:-9999px;} */
#search .se_bg div{margtext-align: right;}
#search .se_bg div button{margin-right: 20px;}


/* ==================== grid ==================== */

#refer {font-size:11px;margin-top:15px;background:url(/images/bullet_star.png) repeat-y 0px 2px;padding-left:15px;line-height:140%;color:#777;}
#explain {font-size:12px;margin-bottom:20px;color:#777;}

/* ==================== login ==================== */

#login{background:#314254;}
#login .login_wrap{position:relative;width:980px;height:748px;margin:0 auto;}
#login h1{padding-top:15px;}
#login h2{position:absolute;left:100px;top:308px;}
#login .login_input_wrap{position:absolute;left:321px;top:308px;}
#login .login_input{position:relative;width:310px;}
#login .login_input input{background-color:transparent;border:none;font-size:14px;height:40px;line-height:40px;width:215PX;}
#login .login_btn{position:absolute;right:0;top:1px;;}
#login .copy{position:absolute;bottom:30px;left:240px;font-size:11px;color:#ccc;}
#login .copy ul li{float:left;height:20px;padding-right:10px;}
#login .copy p{clear:both;color:#939393;font-family:tahoma;font-size:11px;letter-spacing:0px;text-align:center;}

li {
	list-style: none;
}

#loginForm {
	text-align: center;
	margin: 0 auto;
	/* background: #eeeeef */
}

#box {
	position: absolute;
	width: 942px;
	height: 466px;
	left: 47%;
	top: 45%;
	margin-left: -420px;
	margin-top: -250px;
	border: 1px solid #ccc;
}

.box_logo {
	text-align: right;
	padding-bottom: 15px
}

.box_left {
	float: left;
	margin-bottom: 20px;
	height: 488px;
	width: 484px;
}

.box_right {
	margin-left: 450px;
	width: 492px;
	height: 466px;
	background-color: #314254;
	margin-bottom: 20px;
}

.box_right .txt {
	padding: 70px 0 30px 0;
}

/* 공지사항 */
.dash{border-bottom:1px dotted #dbdada;}
ul.text_line li.day{color:#a6a6a5; font-size:12px; }
ul.text_line {padding:9px 0; color:#6f7f83; font-size:14px; }
.login_noti{position: absolute;height: 466px;top: 51%; padding: 0px 55px;text-align: left;width:450px;}
.noti_w{width:363px;}
ul.r_top li.title{color:#333; font-size:15px; font-weight:bold; width:100%;}
ul.r_top li.title{font-size:15px; font-weight:bold; width:100%;}
ul.r_top{border-bottom:1px solid #ddd;}
ul.r_top li{padding-bottom:10px; display:inline-block;}
.r_top span{font-size:12px; color:#888; float:right; text-align:right; font-weight:normal;}
.r_top span{font-size:12px;float:right; text-align:right; font-weight:normal;}
/* End 공지사항 */

#login input {
	width: 305px;
	height: 45px;
	position: relative;
	padding-left: 20px;
	margin-bottom: 10px;
	font-size: 14px;
	color: #444;
	outline: none;
	border: 1px solid rgba(0, 0, 0, .49);
	background: #f2f2f2;
	background-repeat: no-repeat;
	-moz-box-shadow: inset 0 0 10px #cecece;
	-webkit-box-shadow: inset 0 0 10px #cecece;
	box-shadow: inset 0 0 10px #cecece;
}

#checkbox {
	margin-right: 64px;
    color: #fff;
    font-size: 15px;
    margin-top: 14px;
    box-sizing: border-box;
    padding-left: 101px;}
}

#ch {
	display: none;
}

#ch+label {
	display: inline-block;
	width: 18px;
	height: 18px;
	border: 1px solid #bcbcbc;
	cursor: pointer;
	background: #f2f2f2;
	/* position: fixed; */
}

#ch:checked+label:after {
	content: '\2714';
	font-size: 15px;
	font-weight: 600;
	color: #314254;
}

.copyright {
	width: 840px;
	font: normal 12px 'Dotum';
	color: #858595;
	overflow: hidden;
}
/* ==================== KENKOUI 관련 ==================== */

.k-list-optionlabel {
	height: 20px;
	padding-top: 2px;
	padding-bottom:2px;
	padding-left: 5px;
}
.k-list-optionlabel.k-state-selected.k-state-focused {
	background-color: #fff;
	border-radius: 1px;
}

/* .k-loading-image{background-image:url('Default/loading-image.gif')} */
.k-loading-image{background-image:url("/kendoui/styles/Default/loading-image.gif")}
.k-loading-color{background-color:#fff}

div.k-dropzone {
    border: 1px solid #c5c5c5; /* For Default; Different for each theme */
}

div.k-dropzone em {
    visibility: visible;
}

div.k-treeview {overflow:hidden;}

.k-grid,.k-widget,.k-reorderable{
	max-width: 100%;
}

.k-state-selected td{
    background-color: rgba(0, 0, 0, 0) !important;
    /* border-color: rgba(0, 0, 0, 0) !important; */
}

.k-grid tbody tr:HOVER{
    background-color:#e4edf5;border-color:#428bca;color:#222;
}

.k-grid tbody tr:HOVER td{ /* k-footer-template 의 hover를 끄기위한 주석 처리 */
    /*
    background-color: rgba(0, 0, 0, 0) !important;
    border-color: rgba(0, 0, 0, 0) !important;
    */
}

.k-grid tbody tr:HOVER .k-input[readonly]{
	background-color: #e4edf5;
    color: #222;
}

.k-input[readonly] {
	background-color: #fff;
	color: #333;
	border: none;
	box-shadow: none;
	text-align: center;
}

.k-state-selected .k-input[readonly]{
	background-color:#f4f9fd;
	color:#222;
	border: none;
	box-shadow: none;
	text-align: center;
}

.k-grid td{
    white-space: normal;
}

.k-notification {
    border: 0;
}


/* Error template */
.k-notification-error.k-group {
    background: rgba(255,0,0,.7);
    color: #ffffff;
}
.wrong-vailed {
    width: 300px;
    height: 100px;
}
.wrong-vailed  h3 {
    font-size: 1em;
    padding: 32px 10px 5px;
}
.wrong-vailed  img {
    float: left;
    margin: 30px 15px 30px 30px;
}
.col-center {
    text-align: center !important;
}
.col-left {
    text-align: left !important;
    /* padding-left: 10px !important; */
}
.col-right {
    text-align: right !important;
/*     padding-right: 10px !important; */
}
.bor-left{
	border-left: 1px solid #ccc !important;
}
.bor-right{
	border-right: 1px solid #ccc !important;
}
.bor-both{
	border-left: 1px solid #ccc !important;
	border-right: 1px solid #ccc !important;
}

/*  140527  */

.k-tabstrip>.k-content,.k-panelbar .k-tabstrip>.k-content {
	position: static;
	/* border-style: solid; *//* 20180330 수정 */
	border:none;
	border-width: 0px;
	margin: 0;
	padding: 0;
	zoom: 1
}

.k-block,.k-button,.k-textbox,.k-drag-clue,.k-touch-scrollbar,.k-window,.k-window-titleless .k-window-content,.k-window-action,.k-inline-block,.k-grid .k-filter-options,.k-grouping-header .k-group-indicator,.k-autocomplete,.k-multiselect,.k-combobox,.k-dropdown,.k-dropdown-wrap,.k-datepicker,.k-timepicker,.k-colorpicker,.k-datetimepicker,.k-notification,.k-numerictextbox,.k-picker-wrap,.k-numeric-wrap,.k-colorpicker,.k-list-container,.k-calendar-container,.k-calendar td,.k-calendar .k-link,.k-treeview .k-in,.k-editor-inline,.k-tooltip,.k-tile,.k-slider-track,.k-slider-selection,.k-upload
	{
	border-radius:0px;
}
.k-widget.k-tooltip{
	background-color : #FFFFC5;
	color : red;
	font-weight : bold;
}
.k-widget.k-treeview{
	color : #515151;
}

/*  button  */

.k-primary{
	 border: 0px;
	 /* -webkit-border-radius: 3px; */
	 -moz-border-radius: 3px;
	 /* border-radius: 3px; */
	 font-size:12px;
	 min-height: 24px;
	 font-family:돋움, arial, helvetica, sans-serif;
	 padding: 4px 15px 4px 15px;
	 text-decoration:none;
	 display:inline-block;
	 /* text-shadow: -1px -1px 0 rgba(0,0,0,0.3); */
	 font-weight:bold;
	 color: #FFFFFF !important;
	 background-color: #1e75d6;
	 background-image: linear-gradient(to bottom, #1e75d6, #0d54a2); 
	 /* background-image: -webkit-gradient(linear, left top, left bottom, from(#7d7e7d), to(#0e0e0e)); */
	 /* background-image: -webkit-linear-gradient(top, #7d7e7d, #0e0e0e);
	 background-image: -moz-linear-gradient(top, #6aa7ea, #103e70);
	 background-image: -ms-linear-gradient(top, #6aa7ea, #103e70);
	 background-image: -o-linear-gradient(top, #6aa7ea, #103e70);
	 background-image: linear-gradient(to bottom, #7d7e7d, #0e0e0e);
	 filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#6aa7ea, endColorstr=#103e70); */
}

.k-primary:hover{
	 background-color: #0d54a2;
/* 	 background-image: -webkit-gradient(linear, left top, left bottom, from(#5daaff), to(#1c6ac1));
	 background-image: -webkit-linear-gradient(top, #5daaff, #1c6ac1);
	 background-image: -moz-linear-gradient(top, #5daaff, #1c6ac1);
	 background-image: -ms-linear-gradient(top, #5daaff, #1c6ac1);
	 background-image: -o-linear-gradient(top, #5daaff, #1c6ac1);
	 background-image: linear-gradient(to bottom, #5daaff, #1c6ac1);
	 filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#5daaff, endColorstr=#1c6ac1); */
}

.k-primary-cancel {
	border: 1px solid #ddd;
	-moz-border-radius: 3px;
	font-size:12px;
	min-height: 24px;
	font-family:돋움, arial, helvetica, sans-serif;
	padding: 3px 15px 3px 15px;
	text-decoration:none;
	display:inline-block;
	font-weight:bold;
	color: #000 !important;
	background-color: #fff;
}

.k-primary2{
	 border: 0px;
	 /* -webkit-border-radius: 3px; */
	 -moz-border-radius: 3px;
	 /* border-radius: 3px; */
	 font-size:12px;
	 min-height: 24px;
	 font-family:돋움, arial, helvetica, sans-serif;
	 padding: 4px 15px 4px 15px;
	 text-decoration:none;
	 display:inline-block;
	 /* text-shadow: -1px -1px 0 rgba(0,0,0,0.3); */
	 font-weight:bold;
	 color: #FFFFFF !important;
	 background-color: #242f44 !important;
	 /* background-color: #1e75d6; */
	 /* background-image: -webkit-gradient(linear, left top, left bottom, from(#7d7e7d), to(#0e0e0e)); */
	 /* background-image: -webkit-linear-gradient(top, #7d7e7d, #0e0e0e);
	 background-image: -moz-linear-gradient(top, #6aa7ea, #103e70);
	 background-image: -ms-linear-gradient(top, #6aa7ea, #103e70);
	 background-image: -o-linear-gradient(top, #6aa7ea, #103e70);
	 background-image: linear-gradient(to bottom, #7d7e7d, #0e0e0e);
	 filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#6aa7ea, endColorstr=#103e70); */
}

.k-grid tbody .k-button{
	 border:1px solid #c5c5c5; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;
	 font-family:돋움, arial, helvetica, sans-serif; padding: 2px 8px 1px 8px;
	 font-weight:normal;
	 min-width:0;
	 height:24px;
	 text-decoration:none; display:inline-block; text-shadow: 1px 1px 0 rgba(238, 238, 238, 1); color: #555;
	 background-color: #f4f5f5; background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f5f5), to(#dfdddd));
	 background-image: -webkit-linear-gradient(top, #f4f5f5, #dfdddd);
	 background-image: -moz-linear-gradient(top, #f4f5f5, #dfdddd);
	 background-image: -ms-linear-gradient(top, #f4f5f5, #dfdddd);
	 background-image: -o-linear-gradient(top, #f4f5f5, #dfdddd);
	 background-image: linear-gradient(to bottom, #f8f8f8, #dfdddd);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f4f5f5, endColorstr=#dfdddd);
}

.k-grid tbody .k-button:hover{
	 border:1px solid #c5c5c5;
	  font-weight:normal;
	 background-color: #d9dddd; background-image: -webkit-gradient(linear, left top, left bottom, from(#d9dddd), to(#c6c3c3));
	 background-image: -webkit-linear-gradient(top, #d9dddd, #c6c3c3);
	 background-image: -moz-linear-gradient(top, #d9dddd, #c6c3c3);
	 background-image: -ms-linear-gradient(top, #d9dddd, #c6c3c3);
	 background-image: -o-linear-gradient(top, #d9dddd, #c6c3c3);
	 background-image: linear-gradient(to bottom, #f8f8f8, #c6c3c3);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#d9dddd, endColorstr=#c6c3c3);
}


.k-button-icontext {
	 border:1px solid #c5c5c5; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;
	 color:#000;
	 font-family:돋움, arial, helvetica, sans-serif; padding: 2px 8px 3px 8px;
	 font-weight:normal;
	 text-decoration:none; display:inline-block; text-shadow: 1px 1px 0 rgba(238, 238, 238, 1); color: #555;
	 background-color: #f4f5f5; background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f5f5), to(#dfdddd));
	 background-image: -webkit-linear-gradient(top, #f4f5f5, #dfdddd);
	 background-image: -moz-linear-gradient(top, #f4f5f5, #dfdddd);
	 background-image: -ms-linear-gradient(top, #f4f5f5, #dfdddd);
	 background-image: -o-linear-gradient(top, #f4f5f5, #dfdddd);
	 background-image: linear-gradient(to bottom, #fcfcfc, #dfdddd);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f4f5f5, endColorstr=#dfdddd);
}

.k-grid .k-button {color:#222;}

.k-edit-form-container .k-button {color:#222;}

.k-grid-header .k-link:link, .k-grid-header .k-link:visited, .k-grid-header .k-nav-current.k-state-hover .k-link, .k-grouping-header .k-link {color: #444;font-weight:bold;}

/*  gride 선택칼라  */
.k-state-selected, .k-state-selected:link, .k-state-selected:visited, .k-list>.k-state-selected, .k-list>.k-state-highlight, .k-panel>.k-state-selected, .k-ghost-splitbar-vertical, .k-ghost-splitbar-horizontal, .k-draghandle.k-state-selected:hover, .k-scheduler .k-scheduler-toolbar .k-state-selected, .k-scheduler .k-today.k-state-selected, .k-marquee-color
/*	{background-color:#B2CCFF;border-color:#428bca;color:#222;} *//* 선택색상 테스트 */
	{background-color:/* #f4f9fd */#fff;border-color:#428bca;color:#222;}

.k-panelbar .k-state-focused.k-state-selected,td.k-state-focused.k-state-selected,.k-state-selected td.k-state-focused,.k-listview>.k-state-focused.k-state-selected
	{-webkit-box-shadow: inset 0 0 6px 3px #6894b6;box-shadow: inset 0 0 6px 3px #6894b6}

.k-grid-header .k-header {background-color:#fff;color:#222;height:20px;text-align:center;/* border-color:#3d4a57; */font-weight: bold;}
/* grid header style */
th.background_color_01{background-color: #ddebf7 !important;color: #222 !important;border-bottom-width: 0 !important;font-weight: bold !important;}
th.background_color_02{background-color: #eef5fb!important; color: #222 !important;border-bottom-width: 0 !important;font-weight: bold !important;}
.highlight_cell{background-color: #ddebf7;}
.highlight_header{background-color: #ddebf7 !important;}

.k-grid-header .k-link:link, .k-grid-header .k-link:visited, .k-grid-header .k-nav-current.k-state-hover .k-link {color: #222;}

/* .k-header th{border-color:#0080a5;} */
/* .k-grid tr td {border-color:#dbdddf;} */
.k-grid tr td {border-bottom: 1px solid #ccc; padding-left:4px; padding-right:2px; text-align: center;}


.k-footer-template td {background-color:#818b95 !important;color:#fff !important;border:0;}

.k-group-footer td {background-color:#f6e3d0 !important;}

/*  팝업_타이틀  */

.k-window-title {
	position: absolute;
	left:15px !important;
	top:7px !important;
	right: .44em;
	overflow: hidden;
	cursor: default;
	text-overflow: ellipsis;
	font-weight:bold;
	letter-spacing:-1px;
	color:#fff;
	}

.k-window {border-radius:6px;border-color:#222;}

.k-block>.k-header, .k-window-titlebar{
	position: absolute;
	width: 100%;
	height: 24px !important;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000;
	margin-top: -2em;
	padding: .4em 0;
	font-size: 1.2em;
	white-space: nowrap;
	min-height: 16px;
	background-color: #555 !important; /* 20180410 수정 윤식 */
}

.k-textbox .k-icon {
	background-image: url('/kendoui/styles/Bootstrap/sprite.png');
	border-color: rgb(255, 255, 255);
	top:0;
	margin:0;
	position:static;
	border-style:none;
	}
.k-window-action .k-icon {background-color:#fff;}
.k-numeric-wrap.k-state-default .k-input {-webkit-box-shadow:0;box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0);}
.k-window-titlebar .k-window-action {margin:5px 10px 0 0;}

div.k-window-iframecontent {padding:15px;}

/* Info template */
.k-notification-info.k-group {background: rgba(0%,0%,0%,.7);color: #fff;}
.noti_info {min-width: 400px;min-height: 100px;margin-right:30px;}
.noti_info h3 {font-size: 1em;padding: 32px 10px 5px;margin: 0px;background:transparent;color: white;white-space: nowrap;}
.noti_info img {float: left;margin: 30px 15px 30px 30px;}

/* Error template */
.k-notification-error.k-group {background: rgba(100%,0%,0%,.7);color: #ffffff;}
.noti_error {min-width: 400px;min-height: 100px;margin-right:20px; margin-bottom: 30px;}
.noti_error h3 {font-size: 1em;padding: 32px 10px 5px;margin: 0px ;background:transparent ;color: white ;white-space: nowrap;}
.noti_error img {float: left;margin: 30px 15px 0px 30px;}
.noti_error p {padding: 0px 90px;}

/* Success template */
.k-notification-success.k-group {background: rgba(0%,60%,0%,.7);color: #fff;}
.noti_success {min-width: 300px;min-height: 100px;padding: 0 30px;line-height: 100px;margin-right:30px;}
.noti_success h3 {font-size: 1.7em;font-weight: normal;display: inline-block;vertical-align: middle;margin: 0px;background:transparent;color: white;white-space: nowrap;}
.noti_success img {display: inline-block;vertical-align: middle;margin-right: 10px;}

/* Dropdown 메뉴 */
.k-dropdown-wrap .k-input {font-weight:normal;padding-top: 3px;}
.k-list-scroller{overflow:auto;}

/* scrollbar */
.k-grid-header{-webkit-padding-end: 20px !important;}
::-webkit-scrollbar {width: 20px;height: 18px;}
::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {display: block; height: 1%; background: #efefef} /* url('./images/bg.png')  */
::-webkit-scrollbar-track {background: #efefef;-webkit-border-radius: 10px;border-radius: 8px;-webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, .2)}
::-webkit-scrollbar-thumb {height: 50px;width: 50px;background: rgba(0, 0, 0, .2);-webkit-border-radius: 10px;border-radius: 8px;-webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, .1)}

/* ==================== logout ==================== */

.logout_bg {background-image:url(/images/logout_bg.jpg);background-repeat:repeat-x;background-color:#1d1e20;padding:0;margin:0;}
.logout_1 {margin:0 auto;width:621px;height:267px;background-image:url('/images/logoout_img.jpg');padding-top:300px;text-align:center;}
.logout_2 {margin:0 auto;font-size:11px;color:#ccc;width:600px;}
.logout_2 p {clear:both;color:#939393;font-family:tahoma;font-size:11px;letter-spacing:0px;text-align:center;}


/* ==================== error ==================== */
.error_bg {background-image:url(/images/error_bg.jpg);background-repeat:repeat-x;background-color:#c2c9d0;padding:0;margin:0;}
.error_10 {display:block;margin:0 auto;width:300px;height:390px;padding-top:100px;text-align:center;}
.error_10 ul {list-style-type: none;}

/* ==================== progress ==================== */

.wrap_prog {position:relative;width:100%;height:85px;min-width:1125px;margin-bottom:20px;}/*min-width:1125px;*/
.prog_1 {}
.prog_1 ul li.prog_1_1 {background:url(/images/progress_3_1.png) repeat;height:38px;width:1%;float:left;}/*width:2%;*/
.prog_1 ul li.prog_1_2 {width:19.5%;background:url(/images/progress_1.png) repeat;height:26px;float:left;text-align:center;padding-top:12px;color:#0adaff;font-weight:bold;}
.prog_1 ul li.prog_1_3 {float:left;width:13%;text-align:center;padding-top:12px;color:#bfc3c9;font-weight:bold;letter-spacing:-1px;background:url(/images/progress_1.png) repeat;height:26px;}
.prog_1 ul li.prog_1_7 {float:left;width:6.5%;text-align:center;padding-top:12px;color:#bfc3c9;font-weight:bold;letter-spacing:-1px;background:url(/images/progress_1.png) repeat;height:26px;}
.prog_1 ul li.prog_1_8 {float:left;width:6.5%;text-align:center;padding-top:12px;color:#bfc3c9;font-weight:bold;letter-spacing:-1px;background:url(/images/progress_1.png) repeat;height:26px;}
.prog_1 ul li.prog_1_4 {float:left;width:26%;text-align:center;padding-top:12px;color:#bfc3c9;font-weight:bold;letter-spacing:-1px;background:url(/images/progress_1.png) repeat;height:26px;}
.prog_1 ul li.prog_1_5 {float:left;width:26%;text-align:center;padding-top:12px;color:#bfc3c9;font-weight:bold;letter-spacing:-1px;background:url(/images/progress_1.png) repeat;height:26px;}
.prog_1 ul li.prog_1_6 {background:url(/images/progress_3_3.png) repeat;height:38px;width:1.5%;float:left;}/*width:2%;*/



.prog_2 {background:url(/images/progress_bg_2.png) repeat;height:6px;}
.prog_2 ul li.start {background:url(/images/progress_3_1.png) repeat;height:6px;width:1%;float:left;}/*width:2%;*/
.prog_2 ul li.end {background:url(/images/progress_3_3.png) repeat;height:6px;width:1.5%;float:left;}/*width:2%;*/
.prog_2 ul li.mid {width:6.5%;height:6px;float:left;}

.prog_3 {}
.prog_3 ul li.start {background:url(/images/progress_3_1.png) repeat;height:38px;width:1%;float:left;}/*width:2%;*/
.prog_3 ul li.mid a{float:left;width:6.5%;height:25px;text-align:center;background:url(/images/progress_3_2.png) repeat;font-size:12px;color:#0adaff;padding-top:13px;}
.prog_3 ul li.mid a:hover {background:url(/images/progress_3_2_up.png) repeat;color:#000000 !important;font-weight:bold;}
.prog_3 ul li.end {background:url(/images/progress_3_3.png) repeat;height:38px;width:1.5%;float:left;}/*width:2%;*/


/* ==================== Tab ==================== */

.k-tabstrip-items .k-item.k-state-active {background:#0d325c;}
.k-state-active, .k-state-active:hover, .k-active-filter, .k-tabstrip .k-state-active {border-color:#0d325c;}
.k-tabstrip-items .k-state-active .k-link {font-weight:bold;color:#fff;font-size:12px;margin-top:2px;}
.k-window-titlebar, .k-block>.k-header, .k-tabstrip-items .k-item, .k-panelbar .k-tabstrip-items .k-item, .k-tabstrip-items .k-link, .k-calendar-container.k-state-border-down, .k-list-container.k-state-border-down, .k-autocomplete.k-state-border-down, .k-multiselect.k-state-border-down, .k-dropdown-wrap.k-state-border-down, .k-picker-wrap.k-state-border-down, .k-numeric-wrap.k-state-border-down
{border-radius:0px 0px 0 0;}
.k-state-default .k-link, .k-panelbar>li.k-state-default>.k-link {font-weight:bold;margin-top:2px;}
.k-tabstrip .k-tabstrip-items {padding:0px;background-color: white;}

.k-window{
        z-index: 9992 !important;
}
/*캔도UI 뉴머릭박스 오른쪽 정렬*/
.k-numerictextbox .k-input {
    text-align: right;
    margin-top:2px;
    margin-left:2px;

    padding: 0px 8px 0px 0px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
}
.k-numeric-wrap.k-state-default .k-input {
	box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0);
}

/* 수수료지급명세서 실지금액 */

.clear:after {clear: both; content: ""; display: table;}
.sum {border:3px solid #4e5e6e;padding:5px;margin-top:15px;}
.sum table {width:100%;}
.sum tr {background-color:#f9f2dc; font-weight:bold;height:50px;}
.sum td.tl {font-size:14px;color:#0000ff;border-right:1px solid #d8d8d8; text-align:center;width:70%;}
.sum td.tr {font-size:14px;color:#0000ff;width:30%;padding:0 24px;text-align:right;}

.sum2 {background-color:#f9f2dc; font-weight:bold;height:50px;}
.sum2_1 {font-size:14px;color:#0000ff;text-align:center;}
.sum2_2 {font-size:14px;color:#0000ff;text-align:right;}


.mappedCol{background:none rgba(68, 164, 240, 0.42);}

.k-filter-menu{
	min-width: 160px;
}

/* 2015.07.03 버튼 아이콘 추가 */
.k-i-excel {
	background-image: url(/images/btn_ic_excel.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	padding: 0;
	margin: 0;
}

.k-current-page {display: none !important;}

.titlhover:HOVER{
	color: #3276b1;
	font-size: 110%;
    border-bottom: 1px solid;
    font-weight: bold;
    cursor: pointer;
}

/* ==================== Phone ==================== */
.ph_bg {background:url(/images/comm/sms/sms_p_1.png) no-repeat;width:260px;height:512px;float:left;}
.ph_ul {position:relative;}
.ph_1 {position:absolute;left:24px;top:72px;}
.ph_1 textarea {overflow:auto;border:0;border-color:#000000;width:217px;height:110px;resize:none;}
.ph_2 {position:absolute;left:24px;top:190px;width:218px;}
.ph_2 img {float:left;}
.ph_2 div {float:right;color:#ccc;font-size:8pt;letter-spacing:0;padding-top:5px;margin-right:3px;}
.ph_2 div span {color:#fff;font-weight:bold;}
.ph_3 {position:absolute;border-top:1px solid #777; width:217px;left:24px;top:215px;}
.ph_4 {position:absolute;left:24px;top:222px;width:218px;}
.ph_4 div.ph_4_1 {display:inline;float:left;color:#fff;font-size:9pt;font-weight:bold;}
.ph_4 div.ph_4_2 {float:right;color:#ffba00;font-size:9pt;letter-spacing:0;font-weight:bold; margin-right:3px;}
.ph_4_2_1 {font-weight:normal;color:#ccc;}
.ph_5 {position:absolute;left:24px;top:241px;}
.ph_5 div {width:217px;height:99px;background:#636363;overflow:auto;scrollbar-face-color:#a5a5a8;scrollbar-shadow-color:#a5a5a8;scrollbar-highlight-color:#a5a5a8;scrollbar-track-color:#888;color:#fff;letter-spacing:0;}
.ph_5 div ul {padding-left:5px;line-height:25px;background:url(/resources/images/cmm/sms/sms_p_line.gif) no-repeat 5px 0px;}
.ph_5 div ul li span {color:#ffba00;padding-right:6px;}
.ph_6 {position:absolute;left:24px;top:345px;color:#fff;}
.ph_6 span {font-weight:bold;padding-right:7px;}
.ph_6 input {border:0;height:10px;width:120px;background:#eeeeee;padding:5px;color:#000;}
.ph_7 {position:absolute;left:24px;top:375px;color:#fff;padding-left:30px;}
.ph_7 input.ph_7_1{padding-bottom:5px;}
.ph_7 input.ph_7_2{padding-bottom:5px;padding-left:20px;}
.ph_8 {position:absolute;left:24px;top:400px;}
.ph_8 input {border:0;height:14px;width:63px;background:#eeeeee;padding:3px;color:#000;}
.ph_8 img {vertical-align:middle;padding-right:2px;}
.ph_9 {position:absolute;left:110px;top:455px;}

a.ye:link, a.ye:visited{color:#ffba00;cursor:pointer;}
a.ye:hover, a.ye:active{color:#fff;}

a.wh:hover,
a.wh2:hover {
	text-decoration: none;
}

.smslist_1 {background:#e4f4fa; color:#252525;letter-spacing:1pt;}


/* 메인화면 */
.bt_glay_S{
	border: 1px solid #428bca;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 12px;
    cursor: pointer;
	/* font-family: 돋움, arial, helvetica, sans-serif; */
	padding: 4px 15px;
	vertical-align: middle;
	text-decoration: none;
	display: inline-block;
	/* text-shadow: -1px -1px 0 rgba(0,0,0,0.3); */
	font-weight: bold;
	color: #FFFFFF !important;
	background-color: #428bca;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#428bca), to(#3755a1));
	background-image: -webkit-linear-gradient(top, #428bca, #3755a1);
	background-image: -moz-linear-gradient(top, #428bca, #3755a1);
	background-image: -ms-linear-gradient(top, #428bca, #3755a1);
	background-image: -o-linear-gradient(top, #428bca, #3755a1);
	background-image: linear-gradient(to bottom, #428bca, #3755a1);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#428bca, endColorstr=#3755a1);
	}
.bt_glay_S:HOVER{border: 1px solid #3755a1;}
.bt_glay_S:ACTIVE{background: #3755a1;}
.bt_glay2_S{
	border: 1px solid #ccc;
	font-size: 12px;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
    cursor: pointer;
	font-family: 돋움, arial, helvetica, sans-serif;
	padding:4px 13px;
	text-decoration: none;
	*display:inline;
	zoom:1;
	display: inline-block;
	color: #555 !important;
	background-color: #fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f5f5f5));
	background-image: -webkit-linear-gradient(top, #fff, #f5f5f5);
	background-image: -moz-linear-gradient(top, #fff, #f5f5f5);
	background-image: -ms-linear-gradient(top, #fff, #f5f5f5);
	background-image: -o-linear-gradient(top, #fff, #f5f5f5);
	background-image: linear-gradient(to bottom, #fff, #f5f5f5);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#fff, endColorstr=#f5f5f5);
}
.bt_glay2_S:HOVER{border:1px solid #555;}
.bt_glay2_S:ACTIVE{background:#cacaca;}
.bt_blue_S{
	border: 1px solid #428bca;
	font-size: 12px;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
    cursor: pointer;
	font-family: 돋움, arial, helvetica, sans-serif;
	padding:4px 13px;
	text-decoration: none;
	*display:inline;
	zoom:1;
	display: inline-block;
	color: #FFFFFF !important;
	background-color: #002266;
/* 	background-image: -webkit-gradient(linear, left top, left bottom, from(#428bca), to(#3755a1));
	background-image: -webkit-linear-gradient(top, #428bca, #3755a1);
	background-image: -moz-linear-gradient(top, #428bca, #3755a1);
	background-image: -ms-linear-gradient(top, #428bca, #3755a1);
	background-image: -o-linear-gradient(top, #428bca, #3755a1);
	background-image: linear-gradient(to bottom, #428bca, #3755a1); 
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#428bca, endColorstr=#3755a1);*/
	}
.bt_blue_S:HOVER{border: 1px solid #3755a1;}
.bt_blue_S:ACTIVE{background: #3755a1;}

.bt_orange_S{
	border: 1px solid #c37700;
	font-size: 12px;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
    cursor: pointer;
	font-family: 돋움, arial, helvetica, sans-serif;
	font-weight: bold;
	padding:4px 13px;
	text-decoration: none;
	*display:inline;
	zoom:1;
	display: inline-block;
	color: #FFFFFF !important;
	background-color: #f79700;
	background-image: linear-gradient(to bottom, #ff9c00, #d48202);
	}
.bt_orange_S:hover{background-color:#d48202}
.bt_orange_S:ACTIVE{background: #d48202;}
.bt_save{background:#3755a1; padding:8px 20px; font-size:13px; color:#fff; font-weight:bold; display:inline-block; cursor:pointer; *display:inline; zoom:1;}
.bt_cancel{border: 1px solid #ccc;background:#FFF; padding:8px 20px; font-size:13px; color:#555; font-weight:bold; display:inline-block; cursor:pointer; *display:inline; zoom:1;}

.k-grid tbody > tr
{
 background:#fff;
}
 
.k-grid tbody > .k-alt
{
 background:#f7f7f7
}


/* 테이블 css */
table.ta_sample2{width:100%;}
table.ta_sample2 th{
	vertical-align: middle;
    background: #3A65B7;
    font-weight: 600;
    color: #fff; 
    padding:0px; 
    border:1px solid #ddd; 
    /* text-align:center; */
    height: 30px;
}
table.ta_sample2 td{vertical-align: middle; color:#888; padding:2px; padding-left:10px;border:1px solid #ddd;height: 30px; }

table.ta_sample3{width: 100%;}
table.ta_sample3 th{
	vertical-align: middle;
    background: #F6F6F6;
    color: #000;
    padding:0px; 
    border:1px solid #ddd;
    height: 30px;
}
table.ta_sample3 td{vertical-align: middle; color:#888; padding:5px; border:1px solid #ddd; }

table.ta_sample4{width:800px;}
table.ta_sample4 th{
	vertical-align: middle;
    background: #3A65B7;
    font-weight: 600;
    color: #fff; 
    padding:0px; 
    border:1px solid #ddd; 
    /* text-align:center; */
    height: 30px;
}
table.ta_sample4 td{vertical-align: middle; color:#888; padding:2px; padding-left:10px;border:1px solid #ddd;height: 30px; }


.noBorder{
	border: 0px;
}

/* 숫자단위 입력폼 짤림방지 */
.k-numerictextbox{padding-right:2px;}

/* 버튼 위치 스타일 */
.bt_right { margin-top: 10px; float: right; }

/* 서브 헤드 */
.subHead{
	border-left: 10px solid #36539e;
	padding-left: 10px;
	margin-left: 15px;
	position:relative; 
	font-size:16px; 
	font-weight: bold; 
	font-family: dotum, Arial, sans-serif;
}

/* 조직관리-조직등록 정렬번호 아이콘 사이즈 */
.k-numerictextbox .k-link { height: 30%; }

/* 전체 input 텍스트 height 크기 조정(select 박스 짤림) */
.k-textbox>input, .k-autocomplete .k-input, .k-picker-wrap .k-input, .k-numeric-wrap .k-input, .k-dropdown-wrap .k-input, .k-selectbox .k-input {height: 20px;}

/* input 아이콘 위치 조정 */
.k-state-default>.k-select { padding-top: 0px; }

/* k-textbox select와 크기와 위치 맞추기 */
.k-textbox { margin: 1px; width: 12.5em; }

/* 인사관리-보증관리 가입금액 input 크기 맞추기 */
.k-widget.k-numerictextbox.k-input{ width: 12.2em; }

/* kendo-grid 에 들어가는 버튼 텍스트 위치조정 */
a.k-button.k-button-icontext { padding-top: 0px; }

/* kendo-grid 에 들어가는 버튼 삭제이미지 위치조정 */
a>span.k-icon.k-delete { margin-top: -2px; }

/* input창 크기맞추기 */
input.k-textbox, textarea.k-textbox,/*  input.k-textbox:hover */, textarea.k-textbox:hover, .k-textbox>input {height: 28px;}

/* datepicker에서 masking 처리 한 textbox hover시 크기 변경 막기 */
.k-picker-wrap > input.k-textbox:hover { height: 24px }

/* select 박스 크기조절 */
span.k-datepicker, span.k-timepicker, span.k-datetimepicker, span.k-colorpicker, span.k-numerictextbox, span.k-combobox, span.k-dropdown, .k-toolbar .k-split-button
{ min-width: 80px; width: auto; }

/* kendo grid 클릭이벤트 시각효과 */
span.faketag_a { color: blue; cursor: pointer; }

/* 조회버튼 키우기 */ 
button.k-primary#search { min-width: 80px;}

/* 등록버튼 키우기 */ 
div.bt_orange_S#bt_regi { min-width: 60px; text-align: center; padding : 7px; margin-bottom:5px;}
div.bt_orange_S#bt_regi2 { min-width: 60px; text-align: center;}
div.bt_orange_S#bt_regi3 { min-width: 60px; text-align: center;}

/* 초기화버튼 */
span.k-delete.initbtn{
	margin-left: -20px; position: relative; cursor: pointer;
}

/* kendoNumericTextBox 생성시 하단 오버되어 보이는 것 수정 */
/* .k-textbox.k-input{ max-height: 20px; right: 2px;}  */
/* 팝업창 내에세 소속검색, 인사검색 등 버튼 css 적용 */
.bt_srch {
	border: 0px;
	 -moz-border-radius: 3px;
	 font-size:12px;
	 min-height: 24px;
	 font-family:돋움, arial, helvetica, sans-serif;
	 padding: 3px 15px 3px 15px;
	 text-decoration:none;
	 display:inline-block;
	 font-weight:bold;
	 color: #FFFFFF !important;
	 background-color: #7d7e7d;
}

.bt_addrSrch {
    background:url(/images/bt_icon2.png)-20px -20px no-repeat;
    width:20px; height:20px; 
    cursor:pointer; 
    border:0;
}

.checkboxSection {
	border:1px solid #ddd;
}

.fieldlist {
	position: relative;
    display: table;
    text-align: left;
    margin: 0;
    padding: 10px;
    list-style: none;
    width: 100%;
}

.fieldlist li {
    float: left;
    width: 18%;
    height: 25px;
    line-height: 25px;
    list-style: none;
    margin: 2px;
}

/* kendo ui chckbox and label */
input.k-checkbox,
.k-radio {
  display: inline;
  opacity: 0;
  width: 0;
  margin: 0;
  position: absolute;
}
.k-checkbox-label {
  position: relative;
  padding-left: 1.5em;
  vertical-align: middle;
  line-height: 0.875em;
  cursor: pointer;
}
.k-checkbox-label:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1em;
  height: 1em;
  border-width: 1px;
  border-style: solid;
}
.k-checkbox-label:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1em;
  height: 1em;
  border-width: 1px;
  border-style: solid;
}
.k-checkbox:checked + .k-checkbox-label:after {
  content: "\2713";
  width: 1em;
  height: 1em;
  position: absolute;
  top: 0;
  left: 0;
  border-width: 1px;
  border-style: solid;
  text-align: center;
}
.k-checkbox:disabled + .k-checkbox-label {
  cursor: auto;
}
/* /kendo ui chckbox and label */

